@import ../../sys/sass/vars

.contacts
	margin-top: -30px
	padding-bottom: 37px
	&__wrap
		display: flex
		flex-wrap: wrap
	&__info
		width: 370px
		padding-left: 2px
	&__item
		margin-bottom: 34px
		&:last-of-type
			margin-bottom: 0
	&__name
		font-size: 18px
		font-weight: 700
		line-height: 26px
		margin-bottom: 18px
	&__text
		line-height: 23px
	&__note
		color: #6B6B6B
		font-size: 14px
		line-height: 21px
		margin-top: 12px
	&__map
		width: calc( 100% - 370px - 42px )
		margin-left: 42px

.map
	background: $gray

@media screen and (max-width: 1220px)
	.contacts
		&__info
			width: 340px
		&__map
			width: calc( 100% - 340px - 32px )
			margin-left: 32px

@media screen and (max-width: 992px)
	.contacts
		margin-top: -10px
		padding-bottom: 58px
		&__wrap
			flex-direction: column
		&__info
			width: 100%
			max-width: 450px
			margin-bottom: 58px
			padding-left: 0
		&__map
			width: 100%
			height: 450px
			margin-left: 0

@media screen and (max-width: 767px)
	.contacts
		margin-top: -20px
		&__note
			max-width: 300px
		&__map
			height: 400px

@media screen and (max-width: 580px)
	.contacts
		margin-top: -5px
		&__map
			height: 380px

@media screen and (max-width: 390px)
	.contacts
		margin-top: 0
		padding-top: 11px
		&__info
			padding-right: 20px
		&__note
			margin-top: 17px
		&__map
			height: 342px
