include ../../sys/pug/vars

.contacts
	.case
		.contacts__wrap
			.contacts__info
				.contacts__item
					.contacts__name Телефон:
					.contacts__text #[a(href="79298611011") +7 (929) 861-10-11]
				.contacts__item
					.contacts__name Почта:
					.contacts__text #[a(href="mailto:seoprokk@gmail.com") seoprokk@gmail.com]
				.contacts__item
					.contacts__name Адрес:
					.contacts__text 350090, Краснодарский край, г. Краснодар, проезд 2-й им. Гастелло, д.12
					.contacts__note Адрес для корреспонденции, #[br]прием клиентов ведется по предварительной записи
			.contacts__map.map