include ../../sys/pug/vars

.other
	.case
		.other__title.h3 #[h3 Другие услуги]
		.other__inner
			.other__list
				a.other__item(href="")
					.other__info
						.other__name.h4 #[h4 Нейминг:]
						.other__text
							p разработка названия,
							p создание слогана,
							p подбор домена
					.other__main
						.other__value #[u 3 000] руб.
						.other__btn.btn.--g-white.--md Выбрать услугу
				a.other__item(href="")
					.other__info
						.other__name.h4 #[h4 Дизайн сайтов:]
						.other__text.--flex
							p главная страница
							p 5 000 руб.
							p второстепенная
							p 2 500 руб.
					.other__main
						.other__value #[u 2 500] руб. / #[u 5 000] руб.
						.other__btn.btn.--g-white.--md Выбрать услугу
				a.other__item(href="")
					.other__info
						.other__name.h4 #[h4 Дизайн:]
						.other__text
							p разработка логотипа,
							p полиграфия,
							p наружная реклама
					.other__main
						.other__value #[u 1 500] руб. / #[u 3 000] руб.
						.other__btn.btn.--g-white.--md Выбрать услугу
				a.other__item(href="")
					.other__info
						.other__name.h4 #[h4 Дизайн #[br]и вёрстка:]
						.other__text
							p иконки, слайды,
							p баннеры, аватары
					.other__main
						.other__value #[u 800] руб. / #[u 1 000] руб.
						.other__btn.btn.--g-white.--md Выбрать услугу
				a.other__item(href="").--sm
					.other__info
						.other__name.h4 #[h4 Дизайн #[br]и вёрстка:]
						.other__text
							p каталоги,
							p буклеты, журналы
					.other__main
						.other__value #[u 500] руб/стр. #[span +по #[u 500] руб. лицо/оборот]
						.other__btn.btn.--g-white.--md Выбрать услугу
				a.other__item(href="").--md
					.other__info
						.other__name.h4 #[h4 Оформление #[br]социальных #[br]сетей:]
						.other__text
							p аватары, меню, шапки
					.other__main
						.other__value #[u 1 500] руб. / #[u 3 000] руб.
						.other__btn.btn.--g-white.--md Выбрать услугу
				a.other__item(href="")
					.other__info
						.other__name.h4 #[h4 Брендинг #[br]автомобилей:]
						.other__text.--flex
							p легковые
							p 2 500 руб. / борт
							p грузовые
							p 3 500 руб. / борт.
					.other__main
						.other__value #[u 2 500] руб. / #[u 3 500] руб.
						.other__btn.btn.--g-white.--md Выбрать услугу
			.other__pagination.swiper-pagination