.other {
  padding: 88px 0 87px;
}
.other__title {
  margin-bottom: 56px;
}
.other__list {
  display: flex;
  flex-wrap: wrap;
  gap: 29px 28px;
  grid-gap: 29px 28px;
}
.other__item {
  width: calc( 100% / 4 - 21px);
  min-height: 388px;
}
.other__item:hover .other__btn {
  color: #fff;
  background: #272727;
}
.other__item.--sm .other__value {
  margin-top: 0;
}
.other__item.--md .other__name {
  margin-bottom: 22px;
}
.other__info {
  color: #fff;
  background: #393939;
  padding: 27px 34px 20px 34px;
  min-height: 225px;
  display: flex;
  flex-direction: column;
}
.other__name {
  line-height: 40px;
  margin-bottom: 33px;
}
.other__text {
  line-height: 25px;
}
.other__text p {
  opacity: 0.6;
}
.other__text.--flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 10px;
}
.other__text.--flex p:nth-of-type(even) {
  opacity: 1;
}
.other__main {
  background: #09B559;
  min-height: 163px;
  padding: 8px 32px 34px;
  display: flex;
  flex-direction: column;
}
.other__value {
  font-size: 18px;
  font-weight: 700;
  margin-top: 12px;
}
.other__value u {
  font-size: 25px;
}
.other__value span {
  display: block;
  font-size: 14px;
}
.other__value span u {
  font-size: 22px;
}
.other__btn {
  margin-top: auto;
}
.other__pagintaion {
  display: none;
}

@media screen and (max-width: 1360px) {
  .other__list {
    gap: 29px 20px;
    grid-gap: 29px 20px;
  }
  .other__item {
    width: calc( 100% / 4 - 15px);
  }
  .other__info {
    padding: 25px 25px 20px 25px;
  }
  .other__main {
    padding: 8px 25px 30px;
  }
}
@media screen and (max-width: 1220px) {
  .other {
    padding: 80px 0;
  }
  .other__list {
    gap: 20px 15px;
    grid-gap: 20px 15px;
  }
  .other__item {
    width: calc( 100% / 3 - 10px);
  }
}
@media screen and (max-width: 992px) {
  .other__inner {
    overflow: visible;
  }
  .other__list {
    gap: 0;
    grid-gap: 0;
    flex-wrap: nowrap;
  }
  .other__name {
    line-height: 35px;
    padding-right: 50px;
  }
  .other__name br {
    display: none;
  }
  .other__text.--flex {
    padding-right: 30px;
  }
  .other__pagination {
    margin-top: 40px;
    bottom: 0;
    display: flex;
    justify-content: center;
    position: relative;
  }
}
@media screen and (max-width: 767px) {
  .other__title {
    margin-bottom: 40px;
  }
  .other__info {
    padding: 20px 25px;
    min-height: 210px;
  }
  .other__name {
    line-height: 32px;
    padding-right: 0;
    margin-bottom: 24px;
  }
  .other__text {
    font-size: 15px;
    line-height: 24px;
  }
  .other__text.--flex {
    padding-right: 0;
  }
  .other__main {
    padding: 8px 20px 25px;
    min-height: 150px;
  }
  .other__value u {
    font-size: 23px;
  }
  .other__btn.--md {
    min-height: 46px;
  }
}