@import ../../sys/sass/vars

.other
	padding: 88px 0 87px
	&__title
		margin-bottom: 56px
	&__list
		display: flex
		flex-wrap: wrap
		gap: 29px 28px
		grid-gap: 29px 28px
	&__item
		width: calc( 100% / 4 - 21px)
		min-height: 388px
		&:hover
			.other
				&__btn
					color: #fff
					background: $main
		&.--sm
			.other
				&__value
					margin-top: 0
		&.--md
			.other
				&__name
					margin-bottom: 22px
	&__info
		color: #fff
		background: #393939
		padding: 27px 34px 20px 34px
		min-height: 225px
		display: flex
		flex-direction: column
	&__name
		line-height: 40px
		margin-bottom: 33px
	&__text
		line-height: 25px
		p
			opacity: .6
		&.--flex
			display: flex
			flex-wrap: wrap
			justify-content: space-between
			padding-right: 10px
			p
				&:nth-of-type(even)
					opacity: 1
	&__main
		background: $green
		min-height: 163px
		padding: 8px 32px 34px
		display: flex
		flex-direction: column
	&__value
		font-size: 18px
		font-weight: 700
		margin-top: 12px
		u
			font-size: 25px
		span
			display: block
			font-size: 14px
			u
				font-size: 22px
	&__btn
		margin-top: auto
	&__pagintaion
		display: none

@media screen and (max-width: 1360px)
	.other
		&__list
			gap: 29px 20px
			grid-gap: 29px 20px
		&__item
			width: calc( 100% / 4 - 15px)
		&__info
			padding: 25px 25px 20px 25px
		&__main
			padding: 8px 25px 30px

@media screen and (max-width: 1220px)
	.other
		padding: 80px 0
		&__list
			gap: 20px 15px
			grid-gap: 20px 15px
		&__item
			width: calc( 100% / 3 - 10px)

@media screen and (max-width: 992px)
	.other
		&__inner
			overflow: visible
		&__list
			gap: 0
			grid-gap: 0
			flex-wrap: nowrap
		&__name
			line-height: 35px
			padding-right: 50px
			br
				display: none
		&__text
			&.--flex
				padding-right: 30px
		&__pagination
			margin-top: 40px
			bottom: 0
			display: flex
			justify-content: center
			position: relative

@media screen and (max-width: 767px)
	.other
		&__title
			margin-bottom: 40px
		&__info
			padding: 20px 25px
			min-height: 210px
		&__name
			line-height: 32px
			padding-right: 0
			margin-bottom: 24px
		&__text
			font-size: 15px
			line-height: 24px
			&.--flex
				padding-right: 0
		&__main
			padding: 8px 20px 25px
			min-height: 150px
		&__value
			u
				font-size: 23px
		&__btn
			&.--md
				min-height: 46px

@media screen and (max-width: 580px)
	// .other

@media screen and (max-width: 390px)
	// .other
