@import ../../sys/sass/vars

.video
	padding: 84px 0
	&__title
		margin-bottom: 46px
	&__slider
		&-inner
			width: 1188px
		&-item
			&:hover
				.video
					&__slider
						&-name
							opacity: 1
		&-img
			height: 210px
			margin-bottom: 30px
			img
				width: 100%
				height: 100%
				object-fit: cover
		&-name
			font-size: 18px
			font-weight: 700
			opacity: .8
			transition: .3s
		&-arrow
			margin-top: -15px

@media screen and (max-width: 1360px)
	.video
		&__slider
			&-inner
				width: 1090px

@media screen and (max-width: 1220px)
	.video
		&__slider
			&-inner
				width: 870px
			&-img
				height: 160px
				margin-bottom: 20px
			&-name
				font-size: 16px
				br
					display: none

@media screen and (max-width: 992px)
	.video
		padding: 70px 0
		&__slider
			&-inner
				width: 630px
			&-img
				margin-bottom: 15px
			&-arrow
				margin-top: -5px

@media screen and (max-width: 767px)
	.video
		&__title
			padding-right: 60px
		&__slider
			&-inner
				width: 400px
			&-img
				height: 220px
			&-name
				padding-right: 40px
			&-arrow
				margin-top: 15px

@media screen and (max-width: 580px)
	.video
		padding: 80px 0 50px
		&__title
			padding-right: 20px
