include ../../sys/pug/vars

.video
	.case
		.video__title.h3.an.fadeIn-up #[h3 Полезные видео на нашем Youtube-канале]
		.video__slider.an.fadeIn(data-timeout="0.1s")
			.video__slider-inner.swiper
				.video__slider-wrap.swiper-wrapper
					a.video__slider-item.swiper-slide(href="javascript:;" data-src="#modal-video" data-popup="")
						.video__slider-img
							img(src="_/uploads/video-1.jpg", alt="")
						.video__slider-name Local SEO по-русски - Анвар Гайсин
					a.video__slider-item.swiper-slide(href="javascript:;" data-src="#modal-video" data-popup="")
						.video__slider-img
							img(src="_/uploads/video-2.jpg", alt="")
						.video__slider-name Англоязычное SEO: 10 отличий #[br]от рунета. Урок 1
					a.video__slider-item.swiper-slide(href="javascript:;" data-src="#modal-video" data-popup="")
						.video__slider-img
							img(src="_/uploads/video-3.jpg", alt="")
						.video__slider-name Краснодарская банда - феномен #[br]Краснодара в российском SEO
					a.video__slider-item.swiper-slide(href="javascript:;" data-src="#modal-video" data-popup="")
						.video__slider-img
							img(src="_/uploads/video-1.jpg", alt="")
						.video__slider-name Local SEO по-русски - Анвар Гайсин
					a.video__slider-item.swiper-slide(href="javascript:;" data-src="#modal-video" data-popup="")
						.video__slider-img
							img(src="_/uploads/video-2.jpg", alt="")
						.video__slider-name Англоязычное SEO: 10 отличий #[br]от рунета. Урок 1
			.video__slider-arrows
				.video__slider-arrow.swiper-button-prev.--black
					<svg width="18" height="30" viewBox="0 0 18 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16 2L3 15L16 28" stroke="#272727" stroke-width="4"/></svg>
				.video__slider-arrow.swiper-button-next.--black
					<svg width="18" height="30" viewBox="0 0 18 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 28L15 15L2 2" stroke="#272727" stroke-width="4"/></svg>
