@import ../../sys/sass/vars

.watch
	padding: 94px 0 87px
	&__title
		margin-bottom: 57px
		text-align: center
	&__video
		max-width: 1007px
		margin: 0 auto
		transition: .3s
		position: relative
		cursor: pointer
	&__play
		width: 144px
		top: 50%
		left: 50%
		margin-top: -8px
		transform: translate(-50%, -50%)
		transition: .3s
		position: absolute
		&:hover
			svg
				path#red
					fill: $black

@media screen and (max-width: 1220px)
	.watch
		padding: 80px 0 90px
		&__title
			margin-bottom: 50px
		&__video
			max-width: 850px

@media screen and (max-width: 992px)
	.watch
		&__play
			width: 120px
			margin-top: 0
			svg
				width: 100%

@media screen and (max-width: 767px)
	.watch
		padding: 80px 0
		&__title
			max-width: 500px
			margin: 0 auto 40px
		&__play
			width: 100px

@media screen and (max-width: 580px)
	.watch
		&__play
			width: 80px

@media screen and (max-width: 390px)
	.watch
		padding: 46px 0 80px
		&__title
			max-width: 210px
		&__play
			width: 42px
