.watch {
  padding: 94px 0 87px;
}
.watch__title {
  margin-bottom: 57px;
  text-align: center;
}
.watch__video {
  max-width: 1007px;
  margin: 0 auto;
  transition: 0.3s;
  position: relative;
  cursor: pointer;
}
.watch__play {
  width: 144px;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  position: absolute;
}
.watch__play:hover svg path#red {
  fill: #2C2C2C;
}

@media screen and (max-width: 1220px) {
  .watch {
    padding: 80px 0 90px;
  }
  .watch__title {
    margin-bottom: 50px;
  }
  .watch__video {
    max-width: 850px;
  }
}
@media screen and (max-width: 992px) {
  .watch__play {
    width: 120px;
    margin-top: 0;
  }
  .watch__play svg {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .watch__title {
    max-width: 500px;
    margin: 0 auto 40px;
  }
  .watch__play {
    width: 100px;
  }
}