extends ../../templates/default
block vars
	-
		title = "1С-Битрикс24"

block content

	+style('intro', 'blocks')
	.intro.--about
		.case
			.intro__wrap
				.intro__info
					.intro__title.h1 #[h1 Услуги по настройки и внедрению сервиса «1С-Битрикс24»]
					.intro__text.t1 Наша компания, как официальный бизнес-партнёр «Битрикс24», оказывает услуги по настройки и внедрению сервиса «Битрикс24» для управления Вашим бизнесом
					.intro__desc.h6 #[h6 Битрикс24 помогает бизнесу работать. #[br]Бесплатно. Неограниченно. Онлайн.]
				.intro__preview
					.intro__preview-title Наши #[br]преимущества #[br]в цифрах
					.intro__stat
						.intro__stat-item
							.intro__stat-value 12
							.intro__stat-text лет #[br]на рынке
						.intro__stat-item.wide
							.intro__stat-value 370+
							.intro__stat-text разработанных web-сайтов
						.intro__stat-item.sm
							.intro__stat-value 1500+
							.intro__stat-text рекламных кампании
					.intro__shape
						img(src="_/uploads/intro-shape.png", alt="")
				.intro__circle
					.intro__circle-item
						img(src="_/uploads/intro-circle.png", alt="")
					.intro__circle-item
						img(src="_/uploads/intro-circle-2.png", alt="")
					.intro__circle-item
						img(src="_/uploads/intro-circle-3.png", alt="")
					.intro__circle-item

	+style('bitrix-24', 'blocks')
	include ../../blocks/bitrix-24/bitrix-24

	+style('price', 'blocks')
	.price.--bitrix
		.case
			.price__title.h3 #[h3 Продукты]
			.price__list
				.price__list-wrap
					a.price__item(href="")
						.price__info
							.price__rate
								.price__rate-icon
									img(src="_/uploads/icons/cube-1.svg", alt="")
								.price__rate-title Тариф
							.price__name.h5 #[h5 Битрикс24]
							.price__text Набор из пяти важных и полезных инструментов, которые помогают бизнесу работать.
						.price__main
							.price__desc
								.price__value #[u 25 000] руб./мес
								.price__note + РК бюджет
							.price__btn.btn.--green.--md Выбрать тариф
					a.price__item(href="")
						.price__info
							.price__rate
								.price__rate-icon
									img(src="_/uploads/icons/cube-2.svg", alt="")
								.price__rate-title Тариф
							.price__name.h5 #[h5 Управление #[br]сайтом]
							.price__text Профессиональная система для создания, поддержки и успешного развития веб-проектов.
						.price__main
							.price__desc
								.price__value #[u 15 000] руб./мес
								.price__note + РК бюджет
							.price__btn.btn.--green.--md Выбрать тариф
					a.price__item(href="")
						.price__info
							.price__rate
								.price__rate-icon
									img(src="_/uploads/icons/cube-2.svg", alt="")
								.price__rate-title Тариф
							.price__name.h5 #[h5 Интернет-#[br]магазин + CRM]
							.price__text Роботизированная eCommerce-платформа для создания совершенных интернет-магазинов.
						.price__main
							.price__desc
								.price__value #[u 5 000] руб./мес
								.price__note + анализ, отчёт
							.price__btn.btn.--green.--md Выбрать тариф
					a.price__item(href="")
						.price__info
							.price__rate
								.price__rate-icon
									img(src="_/uploads/icons/cube-2.svg", alt="")
								.price__rate-title Тариф
							.price__name.h5 #[h5 Enterprise]
							.price__text Продукты и решения для крупного бизнеса, корпораций и государственных структур.
						.price__main
							.price__desc
								.price__value #[u 10 000] руб./мес
								.price__note + РК бюджет
							.price__btn.btn.--green.--md Выбрать тариф
			.price__pagination.swiper-pagination

	+style('offer', 'blocks')
	include ../../blocks/offer/offer

	+style('reg', 'blocks')
	.reg
		.case
			.reg__title Более 4 000 000 компаний зарегистрировано в 1С-Битрикс24
