.cases {
  padding-bottom: 88px;
}
.cases__links {
  margin-bottom: 74px;
}
.cases__link {
  width: auto !important;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  background: #ABABAB;
  padding: 13px 21px;
  transition: 0.3s;
  text-align: center;
  cursor: pointer;
  margin-right: 12px;
}
.cases__link:last-of-type {
  margin-right: 0;
}
.cases__link:hover {
  background: #09B559;
}
.cases__link.wide {
  min-width: 137px;
}
.cases__link.active {
  background: #09B559;
}
.cases__list {
  display: flex;
  flex-wrap: wrap;
  gap: 37px;
  grid-gap: 37px;
}
.cases__item {
  width: calc( 100% / 3 - 24.7px);
}

.case-item {
  padding-bottom: 88px;
}
.case-item__main {
  padding-bottom: 84px;
}
.case-item__main h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 44px;
  max-width: 960px;
  margin-bottom: 20px;
  display: block;
}
.case-item__main p {
  color: #A8A8A8;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 37px;
  display: block;
}
.case-item__main img {
  width: 100%;
}
.case-item__extra-title {
  margin-bottom: 57px;
}
.case-item__extra-list {
  display: flex;
  flex-wrap: wrap;
  gap: 37px;
  grid-gap: 37px;
}
.case-item__extra-item {
  width: calc( 100% / 3 - 24.7px);
}

.case-elem {
  min-height: 454px;
  box-shadow: 0px 2px 11px rgba(39, 39, 39, 0.04);
  transition: 0.3s;
}
.case-elem__img {
  height: 226px;
}
.case-elem__info {
  height: calc( 100% - 226px );
  padding: 17px 25px 23px 23px;
  background: #F1F1F1;
  display: flex;
  flex-direction: column;
}
.case-elem__name {
  line-height: 26px;
}
.case-elem__date {
  color: #A8A8A8;
  font-size: 18px;
  font-weight: 700;
  margin-top: auto;
}
.case-elem__btn {
  font-size: 18px;
  font-weight: 400;
  max-width: 165px;
  margin-top: 20px;
}

@media screen and (max-width: 1220px) {
  .cases__links {
    overflow: visible;
  }
  .cases__list {
    gap: 30px 25px;
    grid-gap: 30px 25px;
  }
  .cases__item {
    width: calc( 100% / 3 - 17px);
  }

  .case-item__extra-list {
    gap: 30px 25px;
    grid-gap: 30px 25px;
  }
  .case-item__extra-item {
    width: calc( 100% / 3 - 17px);
  }

  .case-elem__img {
    height: 190px;
  }
  .case-elem__info {
    height: calc( 100% - 190px );
  }
  .case-elem__name {
    font-size: 17px;
    line-height: 24px;
  }
  .case-elem__btn {
    font-size: 16px;
    margin-top: 15px;
  }
  .case-elem__btn.--md {
    min-height: 42px;
  }
}
@media screen and (max-width: 992px) {
  .cases__links {
    margin-bottom: 54px;
  }
  .cases__link {
    padding: 10px 20px;
  }
  .cases__list {
    gap: 25px;
    grid-gap: 25px;
  }
  .cases__item {
    width: calc( 100% / 2 - 13px );
  }

  .case-item__main h2 {
    font-size: 26px;
    line-height: 38px;
  }
  .case-item__extra-list {
    gap: 25px;
    grid-gap: 25px;
  }
  .case-item__extra-item {
    width: calc( 100% / 2 - 13px );
  }

  .case-elem__name {
    font-size: 18px;
    line-height: 26px;
  }
  .case-elem__btn {
    font-size: 18px;
  }
  .case-elem__btn.--md {
    min-height: 50px;
  }
}
@media screen and (max-width: 767px) {
  .cases__links {
    overflow: hidden;
    border: 1px solid #272727;
  }
  .cases__links-wrap {
    padding: 0 10px;
    flex-direction: column;
  }
  .cases__link {
    color: rgba(39, 39, 39, 0.5);
    padding: 10px 0;
    border-bottom: 1px solid #CCCCCC;
    text-align: left;
    background: transparent;
  }
  .cases__link.active {
    background: transparent;
  }
  .cases__link:hover {
    color: #09B559;
    background: transparent;
  }

  .case-item__extra .case-elem {
    min-height: 400px;
  }

  .case-elem {
    min-height: 430px;
  }
  .case-elem__info {
    padding: 15px 20px;
  }
  .case-elem__name {
    font-size: 15px;
    line-height: 22px;
  }
  .case-elem__date {
    font-size: 15px;
  }
  .case-elem__btn {
    font-size: 16px;
  }
  .case-elem__btn.--md {
    min-height: 40px;
  }
}
@media screen and (max-width: 580px) {
  .cases__item {
    width: 100%;
  }

  .case-item__main h2 {
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 28px;
  }
  .case-item__main p {
    margin-bottom: 30px;
  }
  .case-item__extra-title {
    font-size: 23px;
    line-height: 34px;
    margin-bottom: 30px;
  }
  .case-item__extra-item {
    width: 100%;
  }

  .case-elem {
    min-height: 400px;
  }
  .case-elem__name {
    font-size: 16px;
  }
}
@media screen and (max-width: 390px) {
  .cases {
    padding-bottom: 57px;
  }
  .cases__links {
    margin-bottom: 33px;
  }
  .cases__list {
    gap: 13px;
    grid-gap: 13px;
  }

  .case-item {
    padding-top: 5px;
    padding-bottom: 80px;
  }
  .case-item__main {
    padding-bottom: 81px;
  }
  .case-item__main h2 {
    font-size: 16px;
    line-height: 23px;
  }
  .case-item__extra-list {
    gap: 13px;
    grid-gap: 13px;
  }
  .case-item__extra .case-elem {
    min-height: 326px;
  }

  .case-elem {
    min-height: 326px;
  }
  .case-elem__img {
    height: 162px;
  }
  .case-elem__info {
    padding: 13px 17px 16px;
    height: calc( 100% - 162px );
  }
  .case-elem__name {
    font-size: 13px;
    line-height: 19px;
  }
  .case-elem__date {
    font-size: 13px;
    line-height: 19px;
  }
  .case-elem__btn {
    font-size: 13px;
    max-width: 119px;
  }
  .case-elem__btn.--md {
    min-height: 36px;
  }
}