.main-text {
  padding: 85px 0 82px;
}
.main-text__wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.main-text__info {
  width: 585px;
  color: #fff;
  background: #272727;
  padding: 66px 36px 96px 12px;
  position: relative;
}
.main-text__info:before {
  z-index: -1;
  content: "";
  width: 1000%;
  height: 100%;
  top: 0;
  right: -5px;
  background: #272727;
  position: absolute;
}
.main-text__title {
  line-height: 48px;
  margin-bottom: 52px;
}
.main-text__line {
  width: 531px;
  height: 1px;
  background: #fff;
  position: relative;
}
.main-text__line:before {
  content: "";
  top: 50%;
  left: -8px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  transform: translateY(-50%);
}
.main-text__text {
  line-height: 33px;
  width: calc( 100% - 585px );
  margin-top: 34px;
  padding-left: 40px;
}
.main-text__text p {
  margin-bottom: 25px;
}
.main-text__text p:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 1220px) {
  .main-text {
    padding: 65px 0 80px;
  }
  .main-text__info {
    width: 800px;
    padding: 60px 30px 90px 10px;
  }
  .main-text__title br {
    display: none;
  }
  .main-text__text {
    width: 800px;
    padding-left: 0;
  }
}