include ../../sys/pug/vars

footer.footer
	.footer__panel
		.case
			.footer__nav
				.footer__nav-
					ul
						li
							a(href="") Продвижение сайтов
						li
							a(href="") КОНТЕКСТНАЯ РЕКЛАМА
						li
							a(href="") СОЗДАНИЕ САЙТОВ
						li
							a(href="") UX/UI
						li
							a(href="") 1С-Битрикс
						li
							a(href="") КАЛЬКУЛЯТОР СТОИМОСТИ #[br]ПРОДВИЖЕНИЯ
						li
							a(href="") 1С-Битрикс 24
				.footer__nav-col.--sm
					ul
						li
							a(href="") О нас
						li
							a(href="") Акции
						li
							a(href="") Работы
						li
							a(href="") Кейсы
						li
							a(href="") Контакты

	.footer__main