include ../../sys/pug/vars

footer.footer
	.footer__panel
		.case
			.footer__nav
				.footer__nav-main
					ul
						li
							a(href="") Продвижение сайтов
						li
							a(href="") СОЗДАНИЕ САЙТОВ
						li
							a(href="") 1С-Битрикс
						li
							a(href="") 1С-Битрикс 24
					ul
						li
							a(href="") КОНТЕКСТНАЯ РЕКЛАМА
						li
							a(href="") UX/UI
						li
							a(href="") КАЛЬКУЛЯТОР СТОИМОСТИ #[br]ПРОДВИЖЕНИЯ
				.footer__nav-sub
					ul
						li
							a(href="") О нас
						li
							a(href="") Акции
						li
							a(href="") Работы
						li
							a(href="") Кейсы
						li
							a(href="") Контакты
	.footer__main
		.case
			.footer__inner
				.footer__logo.logo
					img(src="_/uploads/logos/logo-white.svg", alt="")
				.footer__info
					.footer__contacts
						.footer__contacts-item
							.footer__contacts-icon
								img(src="_/uploads/icons/tel-white.svg", alt="")
							.footer__contacts-text #[a(href="tel:79298611011") +7 (929) 861 10 11]
						.footer__contacts-item
							.footer__contacts-icon
								img(src="_/uploads/icons/mail.svg", alt="")
							.footer__contacts-text #[a(href="mailto:seoprokk@gmail.com") seoprokk@gmail.com]
						.footer__contacts-item
							.footer__contacts-icon
								img(src="_/uploads/icons/placemark.svg", alt="")
							.footer__contacts-text 350090, Краснодар, проезд 2-й им. Гастелло, д. 12
					.footer__elems
						.footer__socials.socials
							a.socials__item(href="" target="_blank")
								img(src="_/uploads/icons/socials/insta-green.png", alt="")
							a.socials__item(href="" target="_blank")
								img(src="_/uploads/icons/socials/tg-green.png", alt="")
							a.socials__item(href="" target="_blank")
								img(src="_/uploads/icons/socials/wa-green.svg", alt="")
							a.socials__item(href="" target="_blank")
								img(src="_/uploads/icons/socials/vk-green.svg", alt="")
							a.socials__item(href="" target="_blank")
								img(src="_/uploads/icons/socials/tw-green.svg", alt="")
							a.socials__item(href="" target="_blank")
								img(src="_/uploads/icons/socials/fb-green.svg", alt="")
						.footer__text Адрес для корреспонденции, приём клиентов ведётся по предварительной записи
				.footer__btns 
					a.footer__btn.btn.--sm.--g-white Заказать звонок
					a.footer__btn.btn.--sm.--b-white Написать письмо
			.footer__bar
				.footer__bar-item #[p © SeoProk.ru (Я-Рекламщик.РФ), 2010-2022]
				.footer__bar-item #[a(href="" target="_blank") Политика конфиденциальности]
				.footer__bar-item #[a(href="" target="_blank") Пользовательское соглашение/Договор оферты]
				.footer__bar-item #[a(href="" target="_blank") Карта сайта]