.footer__panel {
  color: #fff;
  background: #393939;
  padding: 40px 0 46px;
}
.footer__nav {
  display: flex;
  flex-wrap: wrap;
}
.footer__nav-main {
  width: 538px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 114px;
}
.footer__nav-main ul {
  flex-direction: column;
}
.footer__nav-main ul li {
  margin-bottom: 13px;
}
.footer__nav-main ul li:last-of-type {
  margin-bottom: 0;
}
.footer__nav-main ul li a {
  color: #fff;
  font-weight: 700;
  line-height: 25px;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
}
.footer__nav-main ul li:hover a {
  border-color: #fff;
}
.footer__nav-sub ul {
  flex-direction: column;
}
.footer__nav-sub ul li {
  margin-bottom: 8px;
}
.footer__nav-sub ul li:last-of-type {
  margin-bottom: 0;
}
.footer__nav-sub ul li a {
  color: #fff;
  font-weight: 300;
  border-bottom: 1px solid transparent;
}
.footer__nav-sub ul li:hover a {
  border-color: #fff;
}
.footer__main {
  color: #fff;
  background: #09B559;
  padding: 24px 0 28px;
}
.footer__inner {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 13px;
}
.footer__logo {
  max-width: 104px;
  margin-left: 2px;
  margin-right: 26px;
}
.footer__info {
  width: 100%;
  max-width: 916px;
  margin-top: 13px;
}
.footer__contacts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.footer__contacts-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-weight: 700;
}
.footer__contacts-icon {
  margin-right: 17px;
}
.footer__contacts-text a {
  color: #fff;
}
.footer__elems {
  margin-top: 17px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__text {
  font-size: 14px;
  line-height: 23px;
  width: 100%;
  max-width: 350px;
  margin-right: 61px;
  position: relative;
  top: 10px;
}
.footer__btns {
  width: 100%;
  max-width: 177px;
  margin-top: 10px;
  margin-left: auto;
}
.footer__btn {
  margin-bottom: 8px;
}
.footer__btn:last-of-type {
  margin-bottom: 0;
}
.footer__bar {
  padding-top: 26px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.footer__bar-item {
  font-weight: 300;
}
.footer__bar-item p {
  opacity: 0.6;
}
.footer__bar-item a {
  opacity: 0.6;
  color: #fff;
}
.footer__bar-item a:hover {
  opacity: 1;
}

@media screen and (max-width: 1360px) {
  .footer__info {
    max-width: 840px;
  }
  .footer__contacts-text {
    max-width: 300px;
  }
}
@media screen and (max-width: 1220px) {
  .footer__logo {
    max-width: 100px;
    margin-right: 0;
    margin-left: 0;
  }
  .footer__info {
    max-width: calc( 100% - 100px );
    padding-left: 40px;
    margin-top: 0;
  }
  .footer__contacts-text {
    font-size: 15px;
  }
  .footer__text {
    max-width: 320px;
    margin-right: 20px;
  }
  .footer__btns {
    max-width: 100%;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .footer__btn {
    max-width: 200px;
    margin-bottom: 0;
    margin-right: 20px;
  }
  .footer__btn:last-of-type {
    margin-right: 0;
  }
  .footer__bar-item {
    font-size: 13px;
  }
}
@media screen and (max-width: 992px) {
  .footer__nav-main {
    width: 480px;
    margin-right: 100px;
  }
  .footer__inner {
    padding-bottom: 20px;
  }
  .footer__info {
    order: 1;
    padding-left: 0;
    max-width: 100%;
  }
  .footer__contacts {
    flex-direction: column;
    justify-content: center;
  }
  .footer__contacts-item {
    width: 100%;
    margin-bottom: 25px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .footer__contacts-item:last-of-type {
    margin-bottom: 0;
  }
  .footer__contacts-icon {
    margin-bottom: 8px;
    margin-right: 0;
  }
  .footer__contacts-text {
    font-size: 16px;
    max-width: 230px;
  }
  .footer__elems {
    margin-top: 10px;
    position: relative;
  }
  .footer__text {
    top: 0;
    margin: 0 auto;
    text-align: center;
  }
  .footer__socials {
    top: 155px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
  }
  .footer__btns {
    order: 2;
    margin-bottom: 70px;
    justify-content: center;
  }
  .footer__logo {
    order: 3;
    margin: 35px auto 0;
  }
  .footer__bar {
    padding-top: 20px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .footer__bar-item {
    width: 100%;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .footer__bar-item:last-of-type {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 767px) {
  .footer__nav {
    flex-direction: column;
    margin: 0 50px;
  }
  .footer__nav-main {
    width: 100%;
    margin-right: 0;
    margin-bottom: 50px;
  }
  .footer__nav-main ul li {
    text-align: center;
    margin-bottom: 11px;
  }
  .footer__nav-main ul li a {
    font-size: 14px;
    line-height: 20px;
  }
  .footer__nav-sub {
    margin: 0 70px;
  }
  .footer__nav-sub ul {
    flex-direction: row;
    justify-content: center;
  }
  .footer__nav-sub ul li {
    width: calc( 100% / 3 );
    margin-bottom: 12px;
    text-align: center;
  }
}