include ../../sys/pug/vars

.voucher
	.case
		.voucher__title.h3 #[h3 Купоны на скидку]
		.voucher__list
			.voucher__item
				.voucher__info
					.voucher__name.h5 #[h5 ПОЛГОДА #[br]СО СКИДКОЙ 10%]
					.voucher__text При полной предоплате услуг на полгода, мы предоставляем скидку в размере 10% от цены на любую услугу.
				.voucher__main
					.voucher__value 12СМ345
					.voucher__line
			.voucher__item
				.voucher__info
					.voucher__name.h5 #[h5 год #[br]СО СКИДКОЙ 15%]
					.voucher__text При полной предоплате услуг на год, мы предоставляем скидку #[br]в размере 15% от цены на любую услугу.
				.voucher__main
					.voucher__value 13СМ365
					.voucher__line
			.voucher__item
				.voucher__info
					.voucher__name.h5 #[h5 15% за смену #[br]подрядчика]
					.voucher__text В случае, если Вы расторгаете договор со своим нынешним подрядчиком, то получаете скидку 15% на любую услугу при предоплате за 4 месяца.
				.voucher__main
					.voucher__value 22СМ372
					.voucher__line
			.voucher__item
				.voucher__info
					.voucher__name.h5 #[h5 10% навсегда #[br]за друга]
					.voucher__text Получайте скидку 10% на протяжении всего времени, пока друг работает с нами.
				.voucher__main
					.voucher__value 69СМ777
					.voucher__line