@import ../../sys/sass/vars

.comp
	padding-bottom: 87px
	&__title
		margin-bottom: 25px
	&__desc
		max-width: 798px
		margin-bottom: 48px
		margin-left: 5px
	&__subtitle
		color: $green
		margin-bottom: 48px
	&__list
		margin-left: 5px
	&__item
		margin-bottom: 25px
		display: flex
		flex-wrap: wrap
		&:last-of-type
			margin-bottom: 0
	&__num
		width: 154px
		min-height: 154px
		color: #fff
		font-size: 40px
		font-weight: 700
		background: $green
		display: flex
		align-items: center
		justify-content: center
		text-align: center
	&__info
		width: calc( 100% - 154px )
		padding: 30px 30px 32px 67px
		background: $gray
	&__name
		margin-bottom: 13px
	&__text
		line-height: 25px

@media screen and (max-width: 1220px)
	.comp
		padding-bottom: 80px
		&__desc
			margin-left: 0
		&__info
			padding: 30px 30px 32px 42px

@media screen and (max-width: 992px)
	// .comp

@media screen and (max-width: 767px)
	// .comp
