include ../../sys/pug/vars

.comp
	.case
		.comp__title.h3.an.fadeIn-up #[h3 Не только, как выглядит но и как работает]
		.comp__desc.t1.an.fadeIn-up(data-timeout="0.1s") Хороший интерфейс — тот, в котором пользователь легко разберётся без подсказок. #[br]Для создания такого продукта необходимо глубокое понимание, что важно пользователю и как привести его к целевому действию.
		.comp__main
			.comp__subtitle.h5.an.fadeIn-up(data-timeout="0.2s") #[h5 Три компонента хорошего интерфейса]
			.comp__list
				.comp__item.an.fadeIn(data-timeout="0.2s")
					.comp__num 01
					.comp__info
						.comp__name.h6 #[h6 Исследование пользовательских сценариев]
						.comp__text
							p Исследуем бизнес-процессы, механики взаимодействия пользователей с существующими аналогами, поведенческие факторы и особенности восприятия аудитории для конкретно вашей сферы
				.comp__item.an.fadeIn(data-timeout="0.3s")
					.comp__num 02
					.comp__info
						.comp__name.h6 #[h6 Продуманный дизайн на основе данных]
						.comp__text
							p UX-архитекторы проектируют информационную структуру интерфейса, этапы взаимодействия и точки принятия решений в процессе использования веб-продукта.
							p После этого дизайнеры продумывают визуальное воплощение и отрисовывают элементы интерфейса, расставляя акценты на ключевую информацию — ту, которая ведёт пользователя к цели.
				.comp__item.an.fadeIn(data-timeout="0.4s")
					.comp__num 03
					.comp__info
						.comp__name.h6 #[h6 Отлаженный код]
						.comp__text
							p Последний штрих — программная реализация логики работы веб-продукта и «оживление» интерфейса