.works {
  padding-bottom: 85px;
}
.works__links {
  margin-bottom: 74px;
}
.works__link {
  width: auto !important;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  background: #ABABAB;
  padding: 13px 21px;
  transition: 0.3s;
  text-align: center;
  cursor: pointer;
  margin-right: 12px;
}
.works__link:last-of-type {
  margin-right: 0;
}
.works__link:hover {
  background: #09B559;
}
.works__link.wide {
  min-width: 137px;
}
.works__link.active {
  background: #09B559;
}
.works__list {
  display: flex;
  flex-wrap: wrap;
  gap: 37px;
  grid-gap: 37px;
}
.works__item {
  width: calc( 100% / 3 - 24.7px );
  height: 412px;
  box-shadow: 0px 10px 25px rgba(39, 39, 39, 0.04);
  transition: 0.3s;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.works__item:hover {
  box-shadow: none;
  transform: translateY(-3px);
}

@media screen and (max-width: 1220px) {
  .works__links {
    overflow: visible;
  }
  .works__item {
    height: 290px;
  }
}
@media screen and (max-width: 992px) {
  .works__links {
    margin-bottom: 54px;
  }
  .works__link {
    padding: 10px 20px;
  }
  .works__list {
    gap: 25px;
    grid-gap: 25px;
  }
  .works__item {
    width: calc( 100% / 2 - 13px );
    height: 340px;
  }
}
@media screen and (max-width: 767px) {
  .works__links {
    overflow: hidden;
    border: 1px solid #272727;
  }
  .works__links-wrap {
    padding: 0 10px;
    flex-direction: column;
  }
  .works__link {
    color: rgba(39, 39, 39, 0.5);
    padding: 10px 0;
    border-bottom: 1px solid #CCCCCC;
    text-align: left;
    background: transparent;
  }
  .works__link.active {
    background: transparent;
  }
  .works__link:hover {
    color: #09B559;
    background: transparent;
  }
  .works__item {
    height: 260px;
  }
}
@media screen and (max-width: 580px) {
  .works__item {
    height: 175px;
  }
  .works__item:hover {
    transform: none;
  }
}
@media screen and (max-width: 390px) {
  .works {
    padding-bottom: 57px;
  }
  .works__list {
    gap: 13px;
    grid-gap: 13px;
  }
  .works__item {
    width: calc( 100% / 2 - 7px );
    height: 142px;
  }
}