include ../../sys/pug/vars

.works
	.case
		.works__wrap
			.works__links.t-links.swiper.an.fadeIn
				.t-links__current
					span
					img(src="_/uploads/icons/chevron-down.svg", alt="")
				.works__links-wrap.t-links__wrap.swiper-wrapper
					.works__link.t-links__item.swiper-slide.--wide.--active Все
					.works__link.t-links__item.swiper-slide Нейминг
					.works__link.t-links__item.swiper-slide Дизайн
					.works__link.t-links__item.swiper-slide Лендинги
					.works__link.t-links__item.swiper-slide Сайты-визитки
					.works__link.t-links__item.swiper-slide Корпоративные сайты
					.works__link.t-links__item.swiper-slide Сайты-каталоги
					.works__link.t-links__item.swiper-slide Интернет-магазины
					.works__link.t-links__item.swiper-slide Порталы
			.works__list.an.fadeIn(data-timeout="0.1s")
				mixin works(img, cls)
					a.works__item(href="" class=cls)
						img(src=img, alt="")
				+works('_/uploads/works/item-1.jpg', 'cover')
				+works('_/uploads/works/item-2.jpg', 'cover')
				+works('_/uploads/works/item-3.jpg', 'cover')
				+works('_/uploads/works/item-4.jpg', 'cover')
				+works('_/uploads/works/item-5.jpg', 'cover')
				+works('_/uploads/works/item-6.jpg', 'cover')
				+works('_/uploads/works/item-7.jpg', 'cover')
				+works('_/uploads/works/item-8.jpg', 'cover')
				+works('_/uploads/works/item-9.jpg', 'cover')
				+works('_/uploads/works/item-10.jpg', 'cover')
				+works('_/uploads/works/item-11.jpg', 'cover')
				+works('_/uploads/works/item-12.jpg', 'cover')
				+works('_/uploads/works/item-13.jpg', 'cover')
				+works('_/uploads/works/item-14.jpg', 'cover')
				+works('_/uploads/works/item-15.jpg', 'cover')
				+works('_/uploads/works/item-16.jpg', 'cover')
				+works('_/uploads/works/item-17.jpg', 'cover')
				+works('_/uploads/works/item-18.jpg', 'cover')
				+works('_/uploads/works/item-19.jpg', 'cover')
				+works('_/uploads/works/item-20.jpg', 'cover')
				+works('_/uploads/works/item-21.jpg', 'cover')
				+works('_/uploads/works/item-22.jpg', 'cover')
				+works('_/uploads/works/item-23.jpg', 'cover')
				+works('_/uploads/works/item-24.jpg', 'cover')
				+works('_/uploads/works/item-25.jpg', 'cover')
				+works('_/uploads/works/item-26.jpg', 'cover')
				+works('_/uploads/works/item-27.jpg', 'cover')
				+works('_/uploads/works/item-28.jpg', 'cover')
				+works('_/uploads/works/item-29.jpg', 'cover')
				+works('_/uploads/works/item-30.jpg', 'cover')
				+works('_/uploads/works/item-31.jpg', 'cover')
				+works('_/uploads/works/item-32.jpg', 'cover')
				+works('_/uploads/works/item-33.jpg', 'cover')
				+works('_/uploads/works/item-34.jpg', 'cover')
				+works('_/uploads/works/item-35.jpg')
				+works('_/uploads/works/item-36.jpg')
				+works('_/uploads/works/item-37.jpg')
				+works('_/uploads/works/item-38.jpg')
				+works('_/uploads/works/item-39.jpg')
				+works('_/uploads/works/item-40.jpg')
				+works('_/uploads/works/item-41.jpg')
				+works('_/uploads/works/item-42.jpg')
				+works('_/uploads/works/item-43.jpg')
				+works('_/uploads/works/item-44.jpg')
				+works('_/uploads/works/item-45.jpg')
				+works('_/uploads/works/item-46.jpg')
				+works('_/uploads/works/item-47.jpg')
				+works('_/uploads/works/item-48.jpg')
				+works('_/uploads/works/item-49.jpg', 'cover')
				+works('_/uploads/works/item-50.jpg')
				+works('_/uploads/works/item-51.jpg')
				+works('_/uploads/works/item-52.jpg')
				+works('_/uploads/works/item-53.jpg')
				+works('_/uploads/works/item-54.jpg')
				+works('_/uploads/works/item-55.jpg')
				+works('_/uploads/works/item-56.jpg', 'cover')
				+works('_/uploads/works/item-57.jpg')
				+works('_/uploads/works/item-58.jpg')
				+works('_/uploads/works/item-59.jpg', 'cover')
				+works('_/uploads/works/item-60.jpg')
			.works__pagination.pagination.an.fadeIn
				a.pagination__arrow(href="").--prev.--disabled
					<svg width="22" height="8" viewBox="0 0 22 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.646446 3.64644C0.451185 3.84171 0.451185 4.15829 0.646446 4.35355L3.82843 7.53553C4.02369 7.73079 4.34027 7.73079 4.53553 7.53553C4.7308 7.34027 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17157C4.7308 0.976309 4.7308 0.659727 4.53553 0.464465C4.34027 0.269202 4.02369 0.269202 3.82843 0.464465L0.646446 3.64644ZM22 3.5L1 3.5L1 4.5L22 4.5L22 3.5Z" fill="#272727"/></svg>
				.pagination__links
					a.pagination__link(href="").--active 1
					a.pagination__link(href="") 2
					.pagination__inter ...
					a.pagination__link(href="") 6
				a.pagination__arrow(href="").--next
					<svg width="22" height="8" viewBox="0 0 22 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.3536 4.35355C21.5488 4.15829 21.5488 3.84171 21.3536 3.64645L18.1716 0.464466C17.9763 0.269204 17.6597 0.269204 17.4645 0.464466C17.2692 0.659728 17.2692 0.976311 17.4645 1.17157L20.2929 4L17.4645 6.82843C17.2692 7.02369 17.2692 7.34027 17.4645 7.53553C17.6597 7.7308 17.9763 7.7308 18.1716 7.53553L21.3536 4.35355ZM0 4.5L21 4.5V3.5L0 3.5L0 4.5Z" fill="#272727"/></svg>
