@import ../../sys/sass/vars

.works
	padding-bottom: 85px
	&__links
		margin-bottom: 74px
	&__link
		width: auto !important
		color: #fff
		font-size: 18px
		font-weight: 700
		line-height: 26px
		background: #ABABAB
		padding: 13px 21px
		transition: .3s
		text-align: center
		cursor: pointer
		margin-right: 12px
		&:last-of-type
			margin-right: 0
		&:hover
			background: $green
		&.wide
			min-width: 137px
		&.active
			background: $green
	&__list
		display: flex
		flex-wrap: wrap
		gap: 37px
		grid-gap: 37px
	&__item
		width: calc( 100% / 3 - 24.7px )
		min-height: 412px
		box-shadow: 0px 10px 25px rgba($main, 0.04)
		transition: .3s
		background: #fff
		display: flex
		align-items: center
		justify-content: center
		&:hover
			box-shadow: none
			transform: translateY(-3px)

@media screen and (max-width: 1220px)
	// .works

@media screen and (max-width: 992px)
	// .works

@media screen and (max-width: 767px)
	// .works
