include ../../sys/pug/vars

.seo
	.case
		.seo__title.h3 #[h3 SEO продвижение позволит:]
		.seo__list
			.seo__item
				.seo__info.h4 #[h4 Увеличить число заявок, звонков #[br]и рост продаж]
				.seo__img
					img(src="_/uploads/seo-1.svg", alt="")
			.seo__item
				.seo__info.h4 #[h4 Увеличить охват постоянной аудитории сайта]
				.seo__img
					img(src="_/uploads/seo-2.svg", alt="")
			.seo__item.--reverse
				.seo__info.h4 #[h4 Повысить узнаваемость бренда #[br]и качество трафика]
				.seo__img
					img(src="_/uploads/seo-3.svg", alt="")
			.seo__item.--reverse
				.seo__info.h4 #[h4 Укрепить престиж и привлекательность бренда]
				.seo__img
					img(src="_/uploads/seo-4.svg", alt="")