@import ../../sys/sass/vars

.seo
	padding: 72px 0 100px
	background: #F1F1F1
	&__title
		margin-bottom: 46px
	&__list
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		margin-bottom: -20px
	&__item
		width: calc( 50% - 9.5px )
		min-height: 313px
		margin-bottom: 20px
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		&.--reverse
			.seo
				&__img
					order: 1
				&__info
					order: 2
	&__info
		color: #fff
		background: $green
		width: calc( 50% - 9.5px )
		padding: 30px 42px 50px
		word-break: break-word
	&__img
		background: #fff
		width: calc( 50% - 9.5px )
		display: flex
		align-items: center
		justify-content: center

@media screen and (max-width: 1360px)
	.seo
		&__item
			min-height: 260px
		&__info
			width: calc( 55% - 9.5px )
		&__img
			width: calc( 45% - 9.5px )

@media screen and (max-width: 1220px)
	.seo
		padding: 70px 0 90px
		&__item
			padding: 30px
			min-height: auto
			flex-direction: column
			justify-content: flex-start
			background: $green
			&.--reverse
				.seo
					&__info
						order: 1
					&__img
						order: 2
		&__info
			padding: 0
			min-height: 72px
			margin-bottom: 20px
			width: auto
			background: transparent
			br
				display: none
		&__img
			height: 110px
			width: auto
			margin-top: auto
			justify-content: flex-end
			background: transparent
			svg
				height: 100%
				path, rect, circle, line
					&[fill]
						fill: #fff
					&[stroke]
						stroke: #fff

@media screen and (max-width: 992px)
	.seo
		padding: 50px 0 70px
		&__img
			width: 85px
			height: 100px
			margin-left: auto
			svg
				width: 100%

@media screen and (max-width: 767px)
	.seo
		&__title
			margin-bottom: 40px
		&__list
			margin-bottom: -15px
		&__item
			width: calc( 50% - 7.5px )
			padding: 20px 30px
			margin-bottom: 15px
		&__img
			width: 75px
			height: 75px

@media screen and (max-width: 580px)
	.seo
		padding: 34px 0 80px
		&__item
			width: 100%
			min-height: 200px
			padding: 20px 30px
		&__info
			margin-bottom: 0
			padding-right: 50px

@media screen and (max-width: 390px)
	.seo
		&__item
			min-height: 221px
			padding: 22px 30px 20px 33px
			&:nth-of-type(1)
				.seo
					&__img
						width: 56px
						height: 42px
			&:nth-of-type(2)
				.seo
					&__img
						width: 62px
						height: 40px
			&:nth-of-type(3)
				.seo
					&__img
						width: 50px
						height: 50px
						top: -4px
						right: -4px
						margin-bottom: 0
			&:nth-of-type(4)
				.seo
					&__img
						width: 44px
						height: 44px
		&__info
			line-height: 31px
			padding-right: 10px
			u
				display: block
		&__img
			width: 70px
			margin-bottom: 10px
			position: relative
