.seo {
  padding: 72px 0 100px;
  background: #F1F1F1;
}
.seo__title {
  margin-bottom: 46px;
}
.seo__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -20px;
}
.seo__item {
  width: calc( 50% - 9.5px );
  min-height: 313px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.seo__item.--reverse .seo__img {
  order: 1;
}
.seo__item.--reverse .seo__info {
  order: 2;
}
.seo__info {
  color: #fff;
  background: #09B559;
  width: calc( 50% - 9.5px );
  padding: 30px 42px 50px;
  word-break: break-word;
}
.seo__img {
  background: #fff;
  width: calc( 50% - 9.5px );
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1360px) {
  .seo__item {
    min-height: 260px;
  }
  .seo__info {
    width: calc( 55% - 9.5px );
  }
  .seo__img {
    width: calc( 45% - 9.5px );
  }
}
@media screen and (max-width: 1220px) {
  .seo {
    padding: 70px 0 90px;
  }
  .seo__item {
    padding: 30px;
    min-height: auto;
    flex-direction: column;
    justify-content: flex-start;
    background: #09B559;
  }
  .seo__item.--reverse .seo__info {
    order: 1;
  }
  .seo__item.--reverse .seo__img {
    order: 2;
  }
  .seo__info {
    padding: 0;
    min-height: 72px;
    margin-bottom: 20px;
    width: auto;
    background: transparent;
  }
  .seo__info br {
    display: none;
  }
  .seo__img {
    height: 110px;
    width: auto;
    margin-top: auto;
    justify-content: flex-end;
    background: transparent;
  }
  .seo__img svg {
    height: 100%;
  }
  .seo__img svg path[fill], .seo__img svg rect[fill], .seo__img svg circle[fill], .seo__img svg line[fill] {
    fill: #fff;
  }
  .seo__img svg path[stroke], .seo__img svg rect[stroke], .seo__img svg circle[stroke], .seo__img svg line[stroke] {
    stroke: #fff;
  }
}
@media screen and (max-width: 992px) {
  .seo {
    padding: 50px 0 70px;
  }
  .seo__img {
    width: 85px;
    height: 100px;
    margin-left: auto;
  }
  .seo__img svg {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .seo__title {
    margin-bottom: 40px;
  }
  .seo__list {
    margin-bottom: -15px;
  }
  .seo__item {
    width: calc( 50% - 7.5px );
    padding: 20px 30px;
    margin-bottom: 15px;
  }
  .seo__img {
    width: 75px;
    height: 75px;
  }
}
@media screen and (max-width: 580px) {
  .seo {
    padding: 34px 0 80px;
  }
  .seo__item {
    width: 100%;
    min-height: 200px;
    padding: 20px 30px;
  }
  .seo__info {
    margin-bottom: 0;
    padding-right: 50px;
  }
}
@media screen and (max-width: 390px) {
  .seo__item {
    min-height: 221px;
    padding: 22px 30px 20px 33px;
  }
  .seo__item:nth-of-type(1) .seo__img {
    width: 56px;
    height: 42px;
  }
  .seo__item:nth-of-type(2) .seo__img {
    width: 62px;
    height: 40px;
  }
  .seo__item:nth-of-type(3) .seo__img {
    width: 50px;
    height: 50px;
    top: -4px;
    right: -4px;
    margin-bottom: 0;
  }
  .seo__item:nth-of-type(4) .seo__img {
    width: 44px;
    height: 44px;
  }
  .seo__info {
    line-height: 31px;
    padding-right: 10px;
  }
  .seo__info u {
    display: block;
  }
  .seo__img {
    width: 70px;
    margin-bottom: 10px;
    position: relative;
  }
}