extends ../../templates/default
block vars
	-
		title = "О компании SeoProk"

block content

	+style('intro', 'blocks')
	.intro.--about
		.case
			.intro__wrap
				.intro__info
					.intro__title.h1.an.fadeIn-up #[h1 О компании SeoProk]
					.intro__desc.h6.an.fadeIn-up(data-timeout="0.1s") #[h6 Компания SeoProk – это современное агентство интернет-маркетинга, которое начало свою деятельность на рынке #[u]в 2010 году]
					.intro__text.t1.an.fadeIn-up(data-timeout="0.2s") На сегодня нами реализовано более 2 700 проектов, продолжающих #[br]с каждым днём приносить своим владельцам существенную прибыль. #[br]Цель нашей деятельности — развитие вашего бизнеса при помощи инновационных стратегий и передовых решений в интернет-#[br]пространстве.
				.intro__preview
					.intro__preview-title Наши #[br]преимущества #[br]в цифрах
					.intro__stat
						.intro__stat-item.an.fadeIn-scale
							.intro__stat-value 12
							.intro__stat-text лет #[br]на рынке
						.intro__stat-item.wide.an.fadeIn-scale(data-timeout="0.1s")
							.intro__stat-value 370+
							.intro__stat-text разработанных web-сайтов
						.intro__stat-item.sm.an.fadeIn-scale(data-timeout="0.2s")
							.intro__stat-value 1500+
							.intro__stat-text рекламных кампании
					.intro__shape
						img(src="_/uploads/intro-shape.png", alt="")
				.intro__circle
					.intro__circle-item.an.fadeIn
						img(src="_/uploads/intro-circle.png", alt="").move(data-value="4")
					.intro__circle-item.an.fadeIn
						img(src="_/uploads/intro-circle-2.png", alt="").move(data-value="-3")
					.intro__circle-item.an.fadeIn
						img(src="_/uploads/intro-circle-3.png", alt="").move(data-value="6")
					.intro__circle-item.an.fadeIn

	+style('start', 'blocks')
	include ../../blocks/start/start

	+style('video', 'blocks')
	include ../../blocks/video/video

	+style('blog', 'blocks')
	include ../../blocks/blog/blog

	+style('certs', 'blocks')
	include ../../blocks/certs/certs

	+style('offer', 'blocks')
	include ../../blocks/offer/offer

	+style('faq', 'blocks')
	.faq.--about
		.case
			.faq__title.h3.an.fadeIn-up #[h3 Мы подготовили ответы на самые популярные вопросы #[br]о продвижении сайтов в поисковых системах]
			.faq__text.an.fadeIn(data-timeout="0.1s") Перед тем как заказать создание сайта, #[br]предлагаем ознакомиться с ответами на популярные вопросы
			.faq__list.an.fadeIn(data-timeout="0.2s")
				.faq__item
					.faq__question
						.faq__question-icon
							img(src="_/uploads/icons/arrow-down.svg", alt="")
						.faq__question-title Сколько специалистов работают #[br]в отделе разработке и продвижения?
					.faq__answer
						.faq__answer-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga maiores doloremque molestiae blanditiis rerum architecto laborum eveniet quod ex dolorem praesentium repellat sed iure beatae animi culpa modi, esse voluptatem.
				.faq__item
					.faq__question
						.faq__question-icon
							img(src="_/uploads/icons/arrow-down.svg", alt="")
						.faq__question-title Как я буду узнавать от вашей компании #[br]о самых эффективных рекламных источниках?
					.faq__answer
						.faq__answer-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat nam officia illo. Nemo, quibusdam libero? Nihil perferendis, officia repudiandae consequuntur nulla iure dicta quia veritatis inventore accusantium porro quasi quis?Nemo explicabo aspernatur error id exercitationem aperiam sapiente, distinctio officia harum fugiat recusandae repudiandae, dignissimos totam, at eaque quos. Iure perspiciatis optio magni doloremque vitae culpa accusantium ab, eveniet quas?
				.faq__item
					.faq__question
						.faq__question-icon
							img(src="_/uploads/icons/arrow-down.svg", alt="")
						.faq__question-title Какую гарантию даёте на свои услуги?
					.faq__answer
						.faq__answer-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure veritatis, error tempore ullam, numquam nesciunt ea deserunt sit voluptatem consequuntur et nihil provident molestias sed?
				.faq__item
					.faq__question
						.faq__question-icon
							img(src="_/uploads/icons/arrow-down.svg", alt="")
						.faq__question-title Работаете ли вы с оплатой за результат?
					.faq__answer
						.faq__answer-text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam libero nobis pariatur, ipsum veniam tempora culpa non, impedit corrupti, error itaque beatae eos ex aut accusamus. Optio tenetur nostrum inventore!
				.faq__item
					.faq__question
						.faq__question-icon
							img(src="_/uploads/icons/arrow-down.svg", alt="")
						.faq__question-title Как вы определяете какой метод продвижения самый эффективный именно для моего бизнеса?
					.faq__answer
						.faq__answer-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, facilis quas nam quasi delectus at culpa dolorum impedit, maiores tempora quae voluptatibus aspernatur saepe cumque nisi, voluptate vero aperiam magnam! culpa dolorum impedit, maiores tempora quae voluptatibus aspernatur saepe cumque nisi, voluptate vero aperiam magnam!
				.faq__item
					.faq__question
						.faq__question-icon
							img(src="_/uploads/icons/arrow-down.svg", alt="")
						.faq__question-title Вы работаете с НДС?
					.faq__answer
						.faq__answer-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, facilis quas nam quasi delectus at culpa dolorum impedit, maiores tempora quae voluptatibus aspernatur saepe cumque nisi, voluptate vero aperiam magnam! culpa dolorum impedit, maiores tempora quae
				.faq__item.--active
					.faq__question
						.faq__question-icon
							img(src="_/uploads/icons/arrow-down.svg", alt="")
						.faq__question-title Как я могу получить скидку в вашем агентстве?
					.faq__answer
						.faq__answer-text В нашем агентстве постоянно бывают различные акции. Вы можете уточнить их у персонального менеджера.
