extends ../../templates/default
block vars
	-
		title = "О компании SeoProk"

block content

	+style('intro', 'blocks')
	.intro.--about
		.case
			.intro__wrap
				.intro__info
					.intro__title.h1 #[h1 О компании SeoProk]
					.intro__desc.h6 #[h6 Компания SeoProk – это современное агентство интернет-маркетинга, которое начало свою деятельность на рынке в 2010 году]
					.intro__text.t1 На сегодня нами реализовано более 2 700 проектов, продолжающих #[br]с каждым днём приносить своим владельцам существенную прибыль. #[br]Цель нашей деятельности — развитие вашего бизнеса при помощи инновационных стратегий и передовых решений в интернет-#[br]пространстве.
				.intro__preview
					.intro__stat
						.intro__stat-item
							.intro__stat-value 12
							.intro__stat-text лет #[br]на рынке
						.intro__stat-item.wide
							.intro__stat-value 370+
							.intro__stat-text разработанных web-сайтов
						.intro__stat-item.sm
							.intro__stat-value 1500+
							.intro__stat-text рекламных кампании
					.intro__shape
						img(src="_/uploads/intro-shape.png", alt="")
				.intro__circle
					.intro__circle-item
						img(src="_/uploads/intro-circle.png", alt="")
					.intro__circle-item
						img(src="_/uploads/intro-circle-2.png", alt="")
					.intro__circle-item
						img(src="_/uploads/intro-circle-3.png", alt="")
					.intro__circle-item
						
