include ../../sys/pug/vars

.c-get
	.case
		.c-get__title.h3.an.fadeIn-up #[h3 Сотрудничая с нашим агентством #[br]по контекстной рекламе, Вы получаете:]
		.c-get__list.an.fadeIn(data-timeout="0.1s")
			.c-get__list-wrap
				.c-get__item.--green
					.c-get__name.h4 #[h4 Аудиторию, #[br]готовую купить]
					.c-get__text.t1
						p В контекстной рекламе Вы платите только за клики по объявлениям в поисковой выдаче от заинтересованной в Вашем товаре или услуге аудитории, в медийной – за видимые показы. Сертифицированные специалисты по контекстной рекламе постоянно работают над повышением эффективности Вашей рекламной кампании.
				.c-get__item
					.c-get__name.h4 #[h4 Грамотный расход #[br]Вашего бюджета]
					.c-get__text.t1
						p Перед тем как настроить показы Ваших рекламных объявлений, мы расчитываем точную стоимость работ. Вы можете скорректировать бюджет в любое время. ПРИ НЕОБХОДИМОСТИ подбираем решение для сокращения бюджета без потери эффктивности. Специальные сервисы помогают нам в режиме on-line следить за ставками и держать вашу рекламу на спец.размещении или в гарантированных показах.
				.c-get__item
					.c-get__name.h4 #[h4 Контроль #[br]всей рекламы]
					.c-get__text.t1
						p Доступ 24/7 через приложения Яндекс.Метрика и Google Analytics ко всем Вашим рекламным кампаниям. Будьте в курсе того, сколько посетителей побывало на сайте и кто оставил заявку.
				.c-get__item.--green
					.c-get__name.h4 #[h4 Продажи]
					.c-get__text.t1
						p Мотивация и цель наших специалистов по конкретной рекламе – создать качественный поток входящих обращений от потенциальных клиентов. Мы настроены только на долгосрочное сотрудничество, а будет оно только в том случае, когда Ваша компания почувствует реальные результаты нашей работы в виде продаж.
						p Ваши продажи – наша главная цель!
