.c-get {
  padding: 87px 0;
}
.c-get__title {
  margin-bottom: 57px;
}
.c-get__list {
  margin-right: 6px;
}
.c-get__list-wrap {
  margin-bottom: -42px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.c-get__item {
  width: calc( 50% - 23px );
  min-height: 488px;
  padding: 60px 75px 42px 60px;
  margin-bottom: 42px;
  background: #F7F7F7;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
.c-get__item:nth-of-type(even) {
  right: -9px;
}
.c-get__item.--green {
  color: #fff;
  background: #09B559;
}
.c-get__item.--green .c-get__btn svg path {
  fill: #09B559;
}
.c-get__item.--green .c-get__btn:hover svg path {
  fill: #fff;
}
.c-get__name {
  margin-bottom: 34px;
}
.c-get__text {
  line-height: 31px;
  margin-bottom: 20px;
}
.c-get__text p {
  margin-bottom: 34px;
}
.c-get__text p:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 1220px) {
  .c-get__list {
    margin-right: 0;
  }
  .c-get__list-wrap {
    margin-bottom: -25px;
  }
  .c-get__item {
    width: calc( 50% - 10px );
    padding: 40px 50px;
    margin-bottom: 25px;
  }
  .c-get__item:nth-of-type(even) {
    right: 0;
  }
}
@media screen and (max-width: 992px) {
  .c-get {
    padding: 80px 0;
  }
  .c-get__title {
    margin-bottom: 50px;
  }
  .c-get__list-wrap {
    margin-bottom: -20px;
  }
  .c-get__item {
    padding: 30px;
    margin-bottom: 20px;
  }
  .c-get__name {
    margin-bottom: 30px;
  }
  .c-get__text {
    line-height: 28px;
  }
}
@media screen and (max-width: 767px) {
  .c-get__list-wrap {
    margin-bottom: 0;
  }
  .c-get__item {
    width: 100%;
    min-height: auto;
  }
  .c-get__item.--green {
    color: #272727;
    background: #F7F7F7;
  }
  .c-get__item:last-of-type {
    margin-bottom: 0;
  }
  .c-get__item:nth-of-type(odd) {
    color: #fff;
    background: #09B559;
  }
  .c-get__name {
    font-size: 26px;
    line-height: 38px;
    margin-bottom: 22px;
  }
  .c-get__text p {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 580px) {
  .c-get__item {
    padding: 28px 20px 40px;
  }
  .c-get__text {
    font-size: 15px;
    line-height: 25px;
  }
}