include ../../sys/pug/vars

.blog.pad-none
	.case
		.blog__title.h3 #[h3 Наш блог c полезными советами]
		.blog__slider
			.blog__slider-inner.swiper
				.blog__slider-wrap.swiper-wrapper
					.blog__slider-item.swiper-slide
						.blog__slider-name.h5 #[h5 Продвижение сайта #[br]с нуля и до первых результатов]
						.blog__slider-text Начинать продвижение сайта всегда непросто: нужно время, бюджет и чётко прописанная стратегия, которая все же может измениться в зависимости от ситуации
						.blog__slider-info
							.blog__slider-date 22.02.2018
							a.blog__slider-more(href="") Подробнее
					.blog__slider-item.swiper-slide
						.blog__slider-name.h5 #[h5 Продвижение сайта #[br]в деталях: особенности SEO оптимизации]
						.blog__slider-text В прошлой статье мы начали заниматься повышением качества сайта и для начала разобрались с адаптивным дизайном
						.blog__slider-info
							.blog__slider-date 12.01.2018
							a.blog__slider-more(href="") Подробнее
					.blog__slider-item.swiper-slide
						.blog__slider-name.h5 #[h5 На что надо обратить внимание при продвижении сайтов?]
						.blog__slider-text Ключевой фактор успеха продвижения сайта — качество самого сайта. Именно на этом сходятся эксперты в сфере SEO
						.blog__slider-info
							.blog__slider-date 30.11.2016
							a.blog__slider-more(href="") Подробнее
					.blog__slider-item.swiper-slide
						.blog__slider-name.h5 #[h5 Почему так важно доверить продвижение в интернете профессионалам]
						.blog__slider-text Продвижение любого проекта должно начинаться с планирования и постановки целей. Важно понимать, чего именно необходимо достичь за неделю, месяц, квартал работы
						.blog__slider-info
							.blog__slider-date 30.11.2016
							a.blog__slider-more(href="") Подробнее
					.blog__slider-item.swiper-slide
						.blog__slider-name.h5 #[h5 Продвижение в интернете — цели и ошибки]
						.blog__slider-text Продвижение любого проекта должно начинаться с планирования и постановки целей. Важно понимать
						.blog__slider-info
							.blog__slider-date 31.07.2018
							a.blog__slider-more(href="") Подробнее
					.blog__slider-item.swiper-slide
						.blog__slider-name.h5 #[h5 Продвижение сайта недорого — реальность]
						.blog__slider-text Недорогие услуги всегда ассоциируются с чем-то не совсем качественным. В то же время есть исключения: продвижение сайта недорого обойдётся
						.blog__slider-info
							.blog__slider-date 22.06.2018
							a.blog__slider-more(href="") Подробнее
					.blog__slider-item.swiper-slide
						.blog__slider-name.h5 #[h5 Правильный интернет-маркетинг]
						.blog__slider-text Поскольку интернет-маркетинг можно считать технологичной нишей, то без специальных знаний здесь не обойтись
						.blog__slider-info
							.blog__slider-date 01.11.2018
							a.blog__slider-more(href="") Подробнее
					.blog__slider-item.swiper-slide
						.blog__slider-name.h5 #[h5 Основные инструменты, которые можно использовать, чтобы продвижение сайта было простым и понятным]
						.blog__slider-text Раскрутка любого проекта в сети должна включать в себя комплекс действий. По мере тестирования на первый план выходят те или иные инструменты
						.blog__slider-info
							.blog__slider-date 15.10.2018
							a.blog__slider-more(href="") Подробнее
					.blog__slider-item.swiper-slide
						.blog__slider-name.h5 #[h5 SEO продвижение сайтов и порталов]
						.blog__slider-text Обычно сайты, веб-порталы и интернет-магазины хорошо продвигаются при помощи поисковой оптимизации, если она выполнена специалистами
						.blog__slider-info
							.blog__slider-date 10.09.2018
							a.blog__slider-more(href="") Подробнее
			.blog__slider-arrows
				.blog__slider-arrow.swiper-button-prev.--black
					<svg width="18" height="30" viewBox="0 0 18 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16 2L3 15L16 28" stroke="#272727" stroke-width="4"/></svg>
				.blog__slider-arrow.swiper-button-next.--black
					<svg width="18" height="30" viewBox="0 0 18 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 28L15 15L2 2" stroke="#272727" stroke-width="4"/></svg>
