@import ../../sys/sass/vars

.faq
	background: $gray
	padding: 51px 0 96px
	&__title
		margin-bottom: 30px
	&__text
		width: 100%
		max-width: 545px
		margin-bottom: 41px
		line-height: 24px
	&__list
		margin-left: 5px
	&__item
		cursor: pointer
		background: #fff
		box-shadow: 0px 4px 14px rgba($main, 0.08)
		margin-bottom: 21px
		transition: .3s
		&:last-of-type
			margin-bottom: 0
		&:hover
			.faq
				&__question
					&-title
						color: $green
		&.--active
			.faq
				&__question
					&-icon
						background: $main
						img
							transform: scale(1, -1)
					&-title
						color: $green
				&__answer
					height: auto
					opacity: 1
					padding: 2px 77px 51px
					visibility: visible
	&__question
		display: flex
		flex-wrap: wrap
		align-items: center
		position: relative
		min-height: 93px
		&-icon
			width: 36px
			height: 39px
			background: $green
			display: flex
			align-items: center
			justify-content: center
			position: absolute
			top: 0
			left: 0
			img
				transition: .3s
		&-title
			font-size: 18px
			line-height: 26px
			padding: 0 77px
			transition: .3s
	&__answer
		height: 0
		opacity: 0
		padding: 0 77px
		visibility: hidden
		transition: .3s
		&-text
			font-size: 18px
			line-height: 33px
			transition: .3s

@media screen and (max-width: 1220px)
	.faq
		padding: 50px 0 80px

@media screen and (max-width: 992px)
	.faq
		padding: 50px 0 70px
		&__title
			br
				display: none
		&__question
			min-height: 88px
			&-title
				padding: 15px 77px
		&__answer
			&-text
				font-size: 17px
				line-height: 27px

@media screen and (max-width: 767px)
	.faq
		&__title
			margin-bottom: 24px
		&__text
			margin-bottom: 40px
			br
				display: none
		&__item
			margin-bottom: 18px
			&.--active
				.faq
					&__answer
						padding: 2px 60px 30px
						margin-top: -10px
		&__question
			&-title
				font-size: 16px
				line-height: 22px
				padding: 15px 60px
		&__answer
			padding: 0 60px
			&-text
				font-size: 14px

@media screen and (max-width: 580px)
	.faq
		&__list
			margin-left: 0
		&__item
			margin-bottom: 15px
			&.--active
				.faq
					&__answer
						margin-top: 0
						padding: 0 20px 20px
		&__question
			min-height: auto
			&-title
				font-weight: 600
				padding: 15px 45px 15px 20px
			&-icon
				width: 33px
				height: 35px
				left: auto
				right: 0
				img
					width: 11px
		&__answer
			padding: 0 20px

		&.--about
			.faq
				&__question
					&-title
						br
							display: none

@media screen and (max-width: 390px)
	.faq
		&__text
			font-size: 14px
			line-height: 26px
		&__item
			&.--active
				.faq
					&__answer
						padding: 0 11px 20px
		&__question
			&-icon
				width: 29px
				height: 31px
				img
					width: 15px
			&-title
				font-size: 14px
				line-height: 21px
				padding: 17px 45px 13px 12px
		&__answer
			padding: 0 11px
			&-text
				font-size: 14px
				line-height: 26px
