.process {
  padding: 94px 0 112px;
  background: #F7F7F7;
}
.process__title {
  margin-bottom: 89px;
  margin-left: 4px;
}
.process__list {
  display: flex;
  flex-wrap: wrap;
}
.process__item {
  width: 100%;
  max-width: 304px;
  position: relative;
}
.process__item:nth-of-type(1) {
  max-width: 290px;
  margin-right: 70px;
}
.process__item:nth-of-type(2) {
  margin-right: 70px;
}
.process__item:last-of-type {
  right: -68px;
  margin-right: -100%;
}
.process__item:last-of-type .process__bar:before, .process__item:last-of-type .process__bar:after {
  display: none;
}
.process__bar {
  margin-bottom: 48px;
  position: relative;
}
.process__bar img {
  width: 194px;
}
.process__bar:before, .process__bar:after {
  content: "";
  top: 50%;
  right: 0;
  width: 21px;
  height: 33px;
  transform: translateX(-50%);
  background: url("../../sys/imgs/chevron-green.svg") no-repeat;
  position: absolute;
}
.process__bar:before {
  right: 15px;
  opacity: 0.64;
  animation: move-1 1.7s infinite;
}
.process__bar:after {
  opacity: 0.35;
  animation: move-2 1.7s infinite;
}
.process__elems {
  padding-left: 43px;
  position: relative;
}
.process__elems:before {
  content: "";
  width: 1px;
  height: 100%;
  min-height: 273px;
  top: 0;
  left: 8px;
  background: #09B559;
  position: absolute;
}
.process__elem {
  top: -6px;
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 63px;
  line-height: 27px;
  position: relative;
}
.process__elem:before {
  content: "";
  top: 6px;
  left: -42px;
  width: 16px;
  height: 16px;
  background: #09B559;
  border-radius: 50%;
  position: absolute;
}
.process__elem:last-of-type {
  margin-bottom: 0;
}
.process__elem.--mt {
  margin-top: 90px;
}
.process__elem.--final {
  color: #09B559;
  font-size: 27px;
  line-height: 33px;
}
.process__elem.--final:before {
  display: none;
}
.process__elem.--final span {
  top: 6px;
  left: -42px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  background: #09B559;
}
.process__elem.--final span:before {
  content: "";
  top: 50%;
  left: 50%;
  width: 26px;
  height: 26px;
  background: #09B559;
  border-radius: 50%;
  opacity: 0.26;
  position: absolute;
  transform: translate(-50%, -50%);
  animation: p-pulse 1.7s infinite;
}
@keyframes move-1 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(7px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes move-2 {
  0% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(7px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes p-pulse {
  0% {
    width: 16px;
    height: 16px;
  }
  50% {
    width: 26px;
    height: 26px;
  }
  100% {
    width: 16px;
    height: 16px;
  }
}

@media screen and (max-width: 1360px) {
  .process__item {
    max-width: 260px;
  }
  .process__item:nth-of-type(1) {
    max-width: 240px;
    margin-right: 50px;
  }
  .process__item:nth-of-type(2) {
    margin-right: 50px;
  }
}
@media screen and (max-width: 1220px) {
  .process__bar img {
    width: 175px;
  }
  .process__elems {
    padding-left: 25px;
  }
  .process__elem {
    font-size: 20px;
  }
  .process__elem:before {
    left: -24px;
  }
  .process__elem.--final {
    font-size: 25px;
  }
  .process__elem.--final span {
    left: -25px;
  }
  .process__item {
    max-width: 240px;
  }
  .process__item:nth-of-type(1) {
    max-width: 220px;
    margin-right: 20px;
  }
  .process__item:nth-of-type(2) {
    margin-right: 20px;
  }
  .process__item:last-of-type {
    right: -30px;
  }
}
@media screen and (max-width: 992px) {
  .process {
    padding: 60px 0 100px;
  }
  .process__title {
    margin-bottom: 70px;
    margin-left: 0;
  }
  .process__list {
    margin-left: 20px;
    flex-direction: column;
  }
  .process__item {
    max-width: 100% !important;
    margin-right: 0 !important;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
  }
  .process__item:last-of-type {
    right: 0;
    margin-bottom: 0;
  }
  .process__item:last-of-type .process__elems:before {
    display: none;
  }
  .process__bar {
    width: 33px;
    margin-bottom: 0;
    margin-left: 20px;
  }
  .process__bar img {
    display: none;
  }
  .process__bar:before, .process__bar:after {
    top: auto;
    bottom: 10px;
    transform: rotate(90deg);
  }
  .process__bar:before {
    right: 0px;
  }
  .process__bar:after {
    right: 0px;
    bottom: -5px;
  }
  .process__info {
    width: calc( 100% - 33px - 20px );
    padding-left: 60px;
  }
  .process__elems {
    padding-left: 40px;
  }
  .process__elems:before {
    width: 3px;
    left: -72px;
    height: calc( 100% - 40px );
    min-height: auto;
    background: url("../../sys/imgs/line-2.svg") no-repeat;
  }
  .process__elem {
    font-size: 22px;
    margin-bottom: 30px;
  }
  .process__elem br {
    display: none;
  }
  .process__elem:before {
    left: -47px;
  }
  .process__elem:after {
    content: "";
    width: 1px;
    height: 55px;
    top: 10px;
    left: -40px;
    background: #09B559;
    position: absolute;
  }
  .process__elem:last-of-type:after {
    display: none;
  }
  .process__elem.--mt {
    margin-top: 0;
  }
  .process__elem.--final {
    top: 0;
    font-size: 27px;
    position: relative;
  }
  .process__elem.--final span {
    top: 10px;
    left: -46px;
  }
  .process__elem.--final span:after {
    content: "";
    top: 0;
    left: 7px;
    width: 1px;
    height: 50px;
    background: #09B559;
    position: absolute;
  }

  @keyframes move-1 {
    0% {
      transform: translateY(0) rotate(90deg);
    }
    50% {
      transform: translateY(7px) rotate(90deg);
    }
    100% {
      transform: translateY(0) rotate(90deg);
    }
  }
  @keyframes move-2 {
    0% {
      transform: translateY(0) rotate(90deg);
    }
    40% {
      transform: translateY(7px) rotate(90deg);
    }
    100% {
      transform: translateY(0) rotate(90deg);
    }
  }
  @keyframes p-pulse {
    50% {
      width: 30px;
      height: 30px;
    }
  }
}
@media screen and (max-width: 767px) {
  .process__elem {
    font-size: 20px;
  }
  .process__elem.--final {
    font-size: 25px;
  }
}
@media screen and (max-width: 580px) {
  .process {
    padding: 0 0 95px;
    background: transparent;
  }
  .process__title {
    margin-bottom: 68px;
  }
  .process__list {
    margin-left: 0;
  }
  .process__bar:before {
    bottom: 25px;
  }
  .process__bar:after {
    bottom: 10px;
  }
  .process__elems:before {
    height: calc( 100% - 55px );
  }
  .process__elem {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 26px;
  }
  .process__elem br {
    display: block;
  }
  .process__elem:before {
    top: 3px;
  }
  .process__elem:after {
    height: 70px;
  }
  .process__elem.--mt {
    margin-top: 36px;
  }
  .process__elem.--final {
    font-size: 22px;
    line-height: 26px;
    padding-top: 5px;
  }
}