@import ../../sys/sass/vars

.process
	padding: 94px 0 112px
	background: $gray
	&__title
		margin-bottom: 89px
		margin-left: 4px
	&__list
		display: flex
		flex-wrap: wrap
	&__item
		width: 100%
		max-width: 304px
		position: relative
		&:nth-of-type(1)
			max-width: 290px
			margin-right: 70px
		&:nth-of-type(2)
			margin-right: 70px
		&:last-of-type
			right: -68px
			margin-right: -100%
			.process
				&__bar
					&:before, &:after
						display: none
	&__bar
		margin-bottom: 48px
		position: relative
		img
			width: 194px
		&:before, &:after
			content: ""
			top: 50%
			right: 0
			width: 21px
			height: 33px
			transform: translateY(-50%)
			background: url('../../sys/imgs/chevron-green.svg') no-repeat
			position: absolute
		&:before
			right: 15px
			opacity: .64
			animation: move-1 1.7s infinite
		&:after
			opacity: .35
			animation: move-2 1.7s infinite
	&__elems
		padding-left: 43px
		position: relative
		&:before
			content: ""
			width: 1px
			height: 100%
			min-height: 273px
			top: 0
			left: 8px
			background: $green
			position: absolute
	&__elem
		top: -6px
		font-size: 21px
		font-weight: 700
		margin-bottom: 63px
		line-height: 27px
		position: relative
		&:before
			content: ""
			top: 6px
			left: -42px
			width: 16px
			height: 16px
			background: $green
			border-radius: 50%
			position: absolute
		&:last-of-type
			margin-bottom: 0
		&.--mt
			margin-top: 90px
		&.--final
			color: $green
			font-size: 27px
			line-height: 33px
			&:before
				display: none
			span
				top: 6px
				left: -42px
				width: 16px
				height: 16px
				border-radius: 50%
				position: absolute
				background: $green
				&:before
					content: ""
					top: 50%
					left: 50%
					width: 26px
					height: 26px
					background: $green
					border-radius: 50%
					opacity: .26
					position: absolute
					transform: translate(-50%, -50%)
					animation: p-pulse 1.7s infinite

	@keyframes move-1
		0%
			transform: translateY(-50%) translateX(0)
		50%
			transform: translateY(-50%) translateX(7px)
		100%
			transform: translateY(-50%) translateX(0)

	@keyframes move-2
		0%
			transform: translateY(-50%) translateX(0)
		40%
			transform: translateY(-50%) translateX(7px)
		100%
			transform: translateY(-50%) translateX(0)

	@keyframes p-pulse
		0%
			width: 16px
			height: 16px
		50%
			width: 26px
			height: 26px
		100%
			width: 16px
			height: 16px

@media screen and (max-width: 1360px)
	.process
		&__item
			max-width: 260px
			&:nth-of-type(1)
				max-width: 240px
				margin-right: 50px
			&:nth-of-type(2)
				margin-right: 50px

@media screen and (max-width: 1220px)
	.process
		&__bar
			img
				width: 175px
		&__elems
			padding-left: 25px
		&__elem
			font-size: 20px
			&:before
				left: -24px
			&.--final
				font-size: 25px
				span
					left: -25px
		&__item
			max-width: 240px
			&:nth-of-type(1)
				max-width: 220px
				margin-right: 20px
			&:nth-of-type(2)
				margin-right: 20px
			&:last-of-type
				right: -30px

@media screen and (max-width: 992px)
	// .process

@media screen and (max-width: 767px)
	// .process
