include ../../sys/pug/vars

.process
	.case
		.process__title.h3.an.fadeIn-up #[h3 Как строится процесс разработки]
		.process__list
			.process__item.an.fadeIn-left(data-timeout="0.1s")
				.process__bar
					img(src="_/uploads/icons/line.svg", alt="")
				.process__info
					.process__elems
						.process__elem Сбор бизнес-#[br]требований
						.process__elem Аналитика
						.process__elem.--mt Техническое #[br]задание
			.process__item.an.fadeIn-left(data-timeout="0.3s")
				.process__bar
					img(src="_/uploads/icons/line.svg", alt="")
				.process__info
					.process__elems
						.process__elem Проектирование #[br]интерфейса
						.process__elem Дизайн
			.process__item.an.fadeIn-left(data-timeout="0.5s")
				.process__bar
					img(src="_/uploads/icons/line.svg", alt="")
				.process__info
					.process__elems
						.process__elem Вёрстка #[br]и frontend
						.process__elem Backend #[br]программирование
						.process__elem.--md Тестирование
			.process__item.an.fadeIn-left(data-timeout="0.7s")
				.process__bar
					img(src="_/uploads/icons/line.svg", alt="")
				.process__info
					.process__elems
						.process__elem.--final Запуск #[br]и развитие
							span

