include ../../sys/pug/vars

.process
	.case
		.process__title.h3 #[h3 Как строится процесс разработки]
		.process__list
			.process__item
				.process__bar
					img(src="_/uploads/icons/line.svg", alt="")
				.process__info
					.process__elems
						.process__elem Сбор бизнес-#[br]требований
						.process__elem Аналитика
						.process__elem.--mt Техническое #[br]задание
			.process__item
				.process__bar
					img(src="_/uploads/icons/line.svg", alt="")
				.process__info
					.process__elems
						.process__elem Проектирование #[br]интерфейса
						.process__elem Дизайн
			.process__item
				.process__bar
					img(src="_/uploads/icons/line.svg", alt="")
				.process__info
					.process__elems
						.process__elem Вёрстка #[br]и frontend
						.process__elem Backend #[br]программирование
						.process__elem Тестирование
			.process__item
				.process__bar
					img(src="_/uploads/icons/line.svg", alt="")
				.process__info
					.process__elems
						.process__elem.--final Запуск #[br]и развитие

