include ../../sys/pug/vars

.steps
	.case
		.steps__title.h3 #[h3 Что мы делаем для привлечения Ваших клиентов]
		.steps__text.t1 Мы гарантируем, что поисковое продвижение в ТОП будет эффективно, #[br]так как тщательно подходим к реализации каждого проекта.
		.steps__list
			.steps__item
				.steps__img
					img(src="_/uploads/steps-1.svg", alt="")
				.steps__info
					.steps__name.h6 #[h6 Техническая подготовка]
					.steps__desc Мы проверяем наличие ошибок, препятствующих привлечению трафика и нормальной индексации поисковыми системами. При необходимости исправляем найденные недочеты для дальнейшей корректной и продуктивной оптимизации.
			.steps__item
				.steps__img
					img(src="_/uploads/steps-2.svg", alt="")
				.steps__info
					.steps__name.h6 #[h6 Проверка контента и его корректировка]
					.steps__desc Проведем аудит текстового содержания и его уникальности и при необходимости составим нужное ТЗ на его корректировку.
			.steps__item
				.steps__img
					img(src="_/uploads/steps-3.svg", alt="")
				.steps__info
					.steps__name.h6 #[h6 Формирование семантического ядра]
					.steps__desc Чтобы ваш сайт попал в результаты выдачи по приоритетным направлениям или всем без исключения услугам, #[br]подготавливаем таблицу релевантных запросов.
			.steps__item
				.steps__img
					img(src="_/uploads/steps-4.svg", alt="")
				.steps__info
					.steps__name.h6 #[h6 Выбор ссылок]
					.steps__desc Мы считаем, что лучше не арендовать ссылки, требующие регулярных затрат, а купить вечные. Это позволяет использовать #[br]их для повышения ТИЦ на протяжении всего времени существования ресурса.
			.steps__item
				.steps__img
					img(src="_/uploads/steps-5.svg", alt="")
				.steps__info
					.steps__name.h6 #[h6 Улучшение репутации компании в сети]
					.steps__desc Чтобы в дальнейшем ничто не мешало росту продаж, найдем и удалим все негативные отзывы, разместим положительные #[br]и будем ежедневно отслеживать репутацию компании в сети.
			.steps__item
				.steps__img
					img(src="_/uploads/steps-6.svg", alt="")
				.steps__info
					.steps__name.h6 #[h6 Получение заявок и звонков]
					.steps__desc Подведение итогов и оптимизация. По завершении отчетного месяца из предоставленных метрик вы узнаете о повышении позиций по конкретным запросам, о наших дальнейших рекомендациях.