.steps {
  padding: 87px 0;
}
.steps__title {
  margin-bottom: 26px;
}
.steps__text {
  width: 100%;
  max-width: 650px;
  margin-bottom: 48px;
  margin-left: 5px;
}
.steps__list {
  margin-left: 3px;
}
.steps__item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
}
.steps__item:last-of-type {
  margin-bottom: 0;
}
.steps__img {
  width: 154px;
  min-height: 154px;
  background: #09B559;
  display: flex;
  align-items: center;
  justify-content: center;
}
.steps__info {
  width: calc( 100% - 154px );
  background: #F7F7F7;
  padding: 30px 67px;
}
.steps__name {
  margin-bottom: 15px;
}
.steps__name br {
  display: none;
}
.steps__desc {
  line-height: 25px;
}
.steps.--bitrix .steps__title {
  margin-bottom: 66px;
}
.steps.--bitrix .steps__title br {
  display: none;
}
.steps.--bitrix .steps__info {
  padding: 42px 68px;
}
.steps.--context .steps__text {
  max-width: 710px;
  margin-bottom: 55px;
}

@media screen and (max-width: 1220px) {
  .steps {
    padding: 75px 0;
  }
  .steps__info {
    padding: 30px 45px;
  }
  .steps__desc br {
    display: none;
  }
  .steps.--bitrix .steps__info {
    padding: 40px 45px;
  }
}
@media screen and (max-width: 992px) {
  .steps {
    padding: 80px 0;
  }
  .steps__text {
    margin-left: 0;
  }
  .steps__list {
    margin-left: 0;
  }
  .steps__item {
    position: relative;
    margin-bottom: 50px;
  }
  .steps__img {
    top: -25px;
    left: 25px;
    width: 120px;
    height: 120px;
    min-height: auto;
    position: absolute;
  }
  .steps__img img {
    height: 65px;
  }
  .steps__info {
    width: 100%;
    padding: 110px 25px 30px;
  }
  .steps.--bitrix .steps__info {
    padding: 110px 25px 30px;
  }
}
@media screen and (max-width: 767px) {
  .steps__text {
    padding-right: 40px;
    margin-bottom: 64px;
  }
  .steps__text br {
    display: none;
  }
  .steps__img {
    width: 100px;
    height: 100px;
  }
  .steps__img img {
    height: 55px;
  }
  .steps__info {
    padding: 90px 25px 30px;
  }
  .steps.--bitrix .steps__info {
    padding: 90px 25px 30px;
  }
}
@media screen and (max-width: 580px) {
  .steps__text {
    padding-right: 0;
  }
  .steps__img {
    width: 65px;
    height: 65px;
    left: 15px;
  }
  .steps__img img {
    height: 35px;
  }
  .steps__info {
    padding: 50px 20px 25px;
  }
  .steps__name {
    margin-bottom: 11px;
  }
  .steps__name br {
    display: block;
  }
  .steps__desc {
    font-size: 14px;
  }
  .steps.--bitrix .steps__title br {
    display: block;
  }
  .steps.--bitrix .steps__info {
    padding: 50px 20px 25px;
  }
}
@media screen and (max-width: 390px) {
  .steps__title {
    margin-left: 3px;
  }
  .steps__text {
    line-height: 28px;
    margin-bottom: 68px;
  }
  .steps__img {
    left: 10px;
    width: 59px;
    height: 59px;
  }
  .steps__info {
    padding: 47px 11px 20px;
  }
  .steps.--context {
    padding: 70px 0 80px;
  }
  .steps.--context .steps__title {
    font-size: 23px;
    line-height: 34px;
    margin-bottom: 30px;
  }
  .steps.--context .steps__text {
    margin-bottom: 68px;
  }
}