@import ../../sys/sass/vars

.steps
	padding: 87px 0
	&__title
		margin-bottom: 24px
	&__text
		width: 100%
		max-width: 650px
		margin-bottom: 47px
		margin-left: 5px
	&__list
		margin-left: 3px
	&__item
		display: flex
		flex-wrap: wrap
		margin-bottom: 25px
		&:last-of-type
			margin-bottom: 0
	&__img
		width: 154px
		min-height: 154px
		background: $green
		display: flex
		align-items: center
		justify-content: center
	&__info
		width: calc( 100% - 154px )
		background: $gray
		padding: 30px 67px
	&__name
		margin-bottom: 15px
	&__desc
		line-height: 25px

@media screen and (max-width: 1220px)
	.steps
		padding: 75px 0
		&__info
			padding: 30px 45px
		&__desc
			br
				display: none

@media screen and (max-width: 992px)
	.steps
		padding: 80px 0
		&__text
			margin-left: 0
		&__list
			margin-left: 0
		&__item
			position: relative
			margin-bottom: 50px
		&__img
			top: -25px
			left: 25px
			width: 120px
			height: 120px
			min-height: auto
			position: absolute
			img
				height: 65px
		&__info
			width: 100%
			padding: 110px 25px 30px

@media screen and (max-width: 767px)
	.steps
		&__text
			padding-right: 40px
			margin-bottom: 64px
			br
				display: none
		&__img
			width: 100px
			height: 100px
			img
				height: 55px
		&__info
			padding: 90px 25px 30px

@media screen and (max-width: 580px)
	// .steps			
