@import ../../sys/sass/vars

.header
	&__wrap
		display: flex
		flex-wrap: wrap
		align-items: center
	&__logo
		top: 2px
		left: 2px
		max-width: 110px
		position: relative
	&__socials
		display: none
	&__main
		width: 100%
		max-width: calc( 100% - 110px )
		padding-left: 20px
	&__panel
		padding: 19px 0 15px
		background: #fff
	&__bar
		padding: 13px 0 10px
		position: relative
		&:before
			z-index: -1
			content: ""
			top: 0
			left: 50%
			width: 1000%
			height: 100%
			transform: translateX(-50%)
			background: $gray
			position: absolute
	&__callback
		z-index: 1
		width: 34px
		height: 34px
		border-radius: 50%
		background: $green
		display: none
		align-items: center
		justify-content: center
		position: relative
		transition: .3s
		img
			width: 19px
			path
				fill: #fff
		&:before, &:after
			z-index: -1
			content: ""
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			border-radius: 50%
			position: absolute
			transition: .3s
		&:before
			width: 50px
			height: 50px
			background: rgba($green, 15%)
			animation: pulse 1.7s infinite
		&:after
			width: 42px
			height: 42px
			background: rgba($green, 15%)
		&:hover
			&:before, &:after
				width: 34px
				height: 34px
	&__btn
		right: 60px
		max-width: 250px
		opacity: 0
		visibility: hidden
		position: absolute
		pointer-events: none
		user-select: none
	&__bg
		z-index: 10
		width: 100%
		height: 100vh
		background: #fff
		position: fixed
		transition: .3s
		opacity: 0
		visibility: hidden
		&.--active
			opacity: 1
			visibility: visible

.h-panel
	display: flex
	flex-wrap: wrap
	align-items: center
	&__nav
		margin-left: auto
		ul
			li
				margin-right: 36px
				&:last-of-type
					margin-right: 0
				a
					color: #6B6B6B
					font-family: $ffRoboto
				&:hover
					a
						color: $green
	&__tel
		display: flex
		flex-wrap: wrap
		align-items: center
		margin-left: 97px
		&-icon
			width: 22px
		&-text
			color: $green
			font-weight: 700
			width: calc( 100% - 22px )
			padding-left: 7px
	&__socials
		margin: 0 96px
	&__btn
		max-width: 177px

.h-bar
	display: flex
	flex-wrap: wrap
	align-items: center
	justify-content: flex-end
	&__nav
		ul
			li
				margin-right: 30px
				&:last-of-type
					margin-right: 0
				&.has-subnav
					position: relative
					&:before
						content: ""
						left: 0
						bottom: -20px
						width: 100%
						height: 20px
						background: transparent
						position: absolute
						cursor: pointer
					ul.subnav
						z-index: 10
						top: 40px
						left: -15px
						padding: 18px 13px 22px
						max-width: 145px
						width: max-content
						background: $gray
						flex-direction: column
						position: absolute
						transition: .3s
						opacity: 0
						visibility: hidden
						transform: translateY(-10px)
						li
							margin-right: 0
							margin-bottom: 14px
							&:last-of-type
								margin-bottom: 0
							a
								color: #7D7D7D
							&:hover
								a
									color: $green
					&:hover
						ul.subnav
							opacity: 1
							visibility: visible
							transform: translateY(0)
				a
					font-weight: 700
					font-family: $ffRoboto
					text-transform: uppercase
				&:hover
					a
						color: $green
	&__dev
		max-width: 40px
		margin-left: 106px

.ham
	width: 27px
	display: none
	flex-direction: column
	cursor: pointer
	transition: .3s
	div
		width: 27px
		height: 3px
		background: $green
		position: relative
		transition: .3s
		margin-bottom: 5px
		&:last-of-type
			margin-bottom: 0
	&:hover
		div
			background: $main
	&.--toggle
		div
			left: -1px
			background: $dark-gray
			&:nth-of-type(1)
				top: 8px
				transform: rotate(45deg)
			&:nth-of-type(2)
				opacity: 0
				visibility: hidden
			&:nth-of-type(3)
				top: -8px
				transform: rotate(-45deg)
		&:hover
			div
				background: $main

@media screen and (max-width: 1360px)
	.header
		&__logo
			left: 0

	.h-panel
		&__tel
			margin-left: 50px
		&__socials
			margin: 0 50px

	.h-bar
		&__dev
			margin-left: 50px

@media screen and (max-width: 1220px)
	.header
		&__logo
			max-width: 95px
		&__main
			max-width: calc( 100% - 95px )
			padding-left: 10px

	.h-panel
		&__nav
			ul
				li
					margin-right: 25px
		&__tel
			margin-left: 40px
			&-icon
				z-index: 1
				width: 34px
				height: 34px
				border-radius: 50%
				background: $green
				display: flex
				align-items: center
				justify-content: center
				position: relative
				transition: .3s
				svg
					width: 19px
					path
						fill: #fff
				&:before, &:after
					z-index: -1
					content: ""
					top: 50%
					left: 50%
					transform: translate(-50%, -50%)
					border-radius: 50%
					position: absolute
					transition: .3s
				&:before
					width: 50px
					height: 50px
					background: rgba($green, 15%)
					animation: pulse 1.7s infinite
				&:after
					width: 42px
					height: 42px
					background: rgba($green, 15%)
				&:hover
					&:before, &:after
						width: 34px
						height: 34px
			&-text
				display: none
		&__socials
			margin: 0 40px
		&__btn
			max-width: 165px

	.h-bar
		&__nav
			ul
				li
					margin-right: 15px
					a
						font-size: 14px
					&.has-subnav
						ul.subnav
							top: 38px
							padding: 15px 13px
		&__dev
			margin-left: 20px

	@keyframes pulse
		0%
			width: 34px
			height: 34px
		50%
			width: 50px
			height: 50px
		100%
			width: 34px
			height: 34px

@media screen and (max-width: 992px)
	.header
		padding: 10px 0 0
		&__logo
			top: 0
			max-width: 90px
		&__socials
			display: flex
			margin-left: auto
		&__callback
			display: flex
			margin: 0 50px
		&__btn
			z-index: 9
			pointer-events: all
			user-select: auto
		&__main
			z-index: 11
			left: 0
			right: 0
			bottom: 0
			margin: 0 auto
			height: calc( 100% - 105px )
			max-width: 730px
			padding: 34px 10px
			position: fixed
			display: flex
			flex-direction: column
			background: #fff
			transition: .3s
			opacity: 0
			visibility: hidden
			overflow: auto
			scrollbar-width: none
			&::-webkit-scrollbar
				width: 0

		&.--toggle
			.header
				&__main
					opacity: 1
					visibility: visible
				&__btn
					opacity: 1
					visibility: visible
				&__bg
					opacity: 1
					visibility: visible
				&__socials, &__callback
					opacity: 0
					visibility: hidden
				&__bar
					order: 1
					padding: 0 0 27px
					border-bottom: 1px solid $dark-gray
				&__panel
					order: 2
					padding: 25px 0 0

	.h-bar
		justify-content: flex-start
		&:before
			display: none
		&__nav
			ul
				flex-direction: column
				li
					margin-right: 0
					margin-bottom: 18px
					&.has-subnav
						margin-bottom: 20px
						&:before
							display: none
						&:hover
							ul.subnav
								opacity: 0
								visibility: hidden
						&.--toggle
							ul.subnav
								padding-top: 18px
								opacity: 1
								min-height: 66px
								visibility: visible
						ul.subnav
							height: 0
							min-height: 0
							width: 100%
							max-width: 100%
							padding: 0
							top: 0
							left: 0
							flex-wrap: nowrap
							transform: none
							background: transparent
							position: relative
							li
								margin-bottom: 6px
								a
									font-size: 14px
					&:last-of-type
						margin-bottom: 0
					a
						font-size: 16px
		&__dev
			display: none

	.h-panel
		align-items: flex-start
		justify-content: flex-start
		&__nav
			width: 100%
			margin-left: 0
			padding-bottom: 25px
			margin-bottom: 32px
			border-bottom: 1px solid $dark-gray
			ul
				flex-direction: column
				li
					margin-right: 0
					margin-bottom: 15px
					&:last-of-type
						margin-bottom: 0
		&__tel
			margin: 0
			&-text
				width: calc( 100% - 34px )
				padding-left: 16px
				display: block
		&__socials
			margin: 0
			margin-left: auto
		&__btn
			display: none

	.ham
		display: flex

@media screen and (max-width: 767px)
	.header
		background: #fff
		&__logo
			max-width: 70px
		&__btn
			max-width: 220px
			&.--sm
				min-height: 40px
		&__main
			max-width: 560px

@media screen and (max-width: 580px)
	.header
		&__logo
			max-width: 60px
		&__callback
			width: 32px
			height: 32px
			margin: 0 36px
			img
				width: 17px
			&:before
				width: 45px
				height: 45px
			&:after
				width: 40px
				height: 40px
		&__btn
			font-size: 14px
			max-width: 200px
		&__main
			max-width: 390px
			height: calc( 100% - 74px )

	.h-panel
		&__nav
			ul
				li
					margin-bottom: 11px
		&__tel
			&-icon
				width: 28px
				height: 28px
				background: $green
				svg
					width: 14px
					path
						fill: #fff
				&:before, &:after
					display: block
				&:before
					width: 40px
					height: 40px
				&:after
					width: 34px
					height: 34px
			&-text
				width: calc( 100% - 28px )
				padding-left: 16px

	.ham
		&:hover
			div
				background: $green
		&.--toggle
			&:hover
				div
					background: $dark-gray

	@keyframes pulse
		0%
			width: 32px
			height: 32px
		50%
			width: 45px
			height: 45px
		100%
			width: 32px
			height: 32px

@media screen and (max-width: 390px)
	.header
		&__logo
			max-width: 36px
		&__socials
			margin-top: -1px
		&__callback
			width: 28px
			height: 28px
			margin: -1px 36px 0
			img
				width: 14px
		&__btn
			max-width: 172px
			&.--sm
				min-height: 35px
		&__main
			max-width: 390px
			height: calc( 100% - 48px )

	.h-panel
		&__tel
			margin-left: 8px
			&-text
				font-size: 14px
		&__socials
			.socials
				&__item
					width: 23px
					height: 23px
					img
						width: 13px
