extends ../../templates/default
block vars
	-
		title = "Акции"
		promosMain = true

block content

	.page
		.case
			.page__title.h1.an.fadeIn-up #[h1 Акции]

	+style('voucher', 'blocks')
	include ../../blocks/voucher/voucher

	+style('offer', 'blocks')
	include ../../blocks/offer/offer