extends ../../templates/default
block vars
	-
		title = "Наши работы"

block content

	.page
		.case
			.page__title.h1.an.fadeIn-up #[h1 Наши работы]

	+style('works', 'blocks')
	include ../../blocks/works/works

	+style('offer', 'blocks')
	include ../../blocks/offer/offer
	