include ../../sys/pug/vars

.c-price
	.case
		.c-price__wrap
			.c-price__title.h3.an.fadeIn-up #[h3 Стоимость Яндекс Директ и Google Ads]
			.c-price__table.an.fadeIn(data-timeout="0.1s")
				.c-price__row.--head
					.c-price__info Виды работ
					.c-price__values
						.c-price__value Тариф #[u «Первые клиенты»]
						.c-price__value Тариф #[u «Много клиентов»]
				.c-price__row
					.c-price__info Количество ключевых запросов
					.c-price__values
						.c-price__value до 100
						.c-price__value до 300
				.c-price__row.--check
					.c-price__info Роботизированная система управления ставками 24/7 — Яндекс
					.c-price__values
						.c-price__value
							.c-price__check
						.c-price__value
							.c-price__check
				.c-price__row
					.c-price__info Срок разработки
					.c-price__values
						.c-price__value 14 раб. дней
						.c-price__value 21 раб. дней
				.c-price__row.--check
					.c-price__info Таргетинг по базе телефонов, email адресов, узкому геотаргетингу — Яндекс
					.c-price__values
						.c-price__value
							.c-price__check
						.c-price__value
							.c-price__check
				.c-price__row.--check
					.c-price__info Разделение рекламных кампаний по типу запросов («холодные», «тёплые», «горячие»)
					.c-price__values
						.c-price__value
							.c-price__check
						.c-price__value
							.c-price__check
				.c-price__row.--check
					.c-price__info Группировка низкочастотных ключевых запросов во избежание статуса «Мало показов»
					.c-price__values
						.c-price__value
							.c-price__check
						.c-price__value
							.c-price__check
				.c-price__row.--check
					.c-price__info Создание рекламной кампании в РСЯ/КМС
					.c-price__values
						.c-price__value
							.c-price__check
						.c-price__value
							.c-price__check
				.c-price__row.--check
					.c-price__info Устранение пересечения ключевых запросов — Яндекс
					.c-price__values
						.c-price__value
							.c-price__check
						.c-price__value
							.c-price__check
				.c-price__row.--check
					.c-price__info Настройка расширений объявлений: дополнительные ссылки - Google
					.c-price__values
						.c-price__value
							.c-price__check
						.c-price__value
							.c-price__check
				.c-price__row.--check
					.c-price__info Индивидуальный сбор минус-слов под каждого клиента — Яндекс
					.c-price__values
						.c-price__value
							.c-price__check
						.c-price__value
							.c-price__check
				.c-price__row.--check
					.c-price__info Настройка быстрых ссылок, уточнений, отображаемой ссылки, контактной информации объявления
					.c-price__values
						.c-price__value
							.c-price__check
						.c-price__value
							.c-price__check
				.c-price__row.--check
					.c-price__info Подбор изображений для объявлений в РСЯ/КМС
					.c-price__values
						.c-price__value
							.c-price__check
						.c-price__value
							.c-price__check
				.c-price__row.--check
					.c-price__info Объявление формата «Только номер телефона» - Google
					.c-price__values
						.c-price__value
							.c-price__check
						.c-price__value
							.c-price__check
				.c-price__row.--check
					.c-price__info Использование UTM-меток
					.c-price__values
						.c-price__value
							.c-price__check
						.c-price__value
							.c-price__check
				.c-price__row.--check
					.c-price__info Настройка графических объявлений в РСЯ (13 баннеров) - Яндекс
					.c-price__values
						.c-price__value
							.c-price__check
						.c-price__value
							.c-price__check
				.c-price__row
					.c-price__info Стандартный ретаргетинг
					.c-price__values
						.c-price__value до 1 условия
						.c-price__value до 20 условий
				.c-price__row.--check
					.c-price__info Исключение нежелательного трафика (младше 18 лет) - Яндекс
					.c-price__values
						.c-price__value
							.c-price__check
						.c-price__value
							.c-price__check
				.c-price__row.--check
					.c-price__info Анализ конкурентных предложений
					.c-price__values
						.c-price__value
							.c-price__check
						.c-price__value
							.c-price__check
				.c-price__row.--check
					.c-price__info Создание объявлений для мобильных устройств — Яндекс
					.c-price__values
						.c-price__value
							.c-price__check
						.c-price__value
							.c-price__check
				.c-price__row.--check
					.c-price__info A/B тестирование объявлений
					.c-price__values
						.c-price__value
							.c-price__check.--none
						.c-price__value
							.c-price__check
				.c-price__row
					.c-price__info Максимальное количество целевых страниц
					.c-price__values
						.c-price__value до 30
						.c-price__value до 1000
				.c-price__row.--check
					.c-price__info Ретаргетинг по сегментам — Яндекс
					.c-price__values
						.c-price__value
							.c-price__check.--none
						.c-price__value
							.c-price__check
				.c-price__row.--check
					.c-price__info Поисковой ремаркетинг* - Google
					.c-price__values
						.c-price__value
							.c-price__check.--none
						.c-price__value
							.c-price__check
				.c-price__row.--check
					.c-price__info Таргетинг по базе телефонов, email адресов, узкому геотаргетингу — Яндекс
					.c-price__values
						.c-price__value
							.c-price__check.--none
						.c-price__value
							.c-price__check
				.c-price__row.--check
					.c-price__info Ремаркетинг по электронным адресам* - Google
					.c-price__values
						.c-price__value
							.c-price__check.--none
						.c-price__value
							.c-price__check
				.c-price__row.--check
					.c-price__info Создание рекламной кампании в КМС с таргетингом по интересам пользователей - Google
					.c-price__values
						.c-price__value
							.c-price__check.--none
						.c-price__value
							.c-price__check
				.c-price__row.--check
					.c-price__info Создание рекламной кампании в КМС с таргетингом по тематикам сайтов - Google
					.c-price__values
						.c-price__value
							.c-price__check.--none
						.c-price__value
							.c-price__check
				.c-price__row.--check
					.c-price__info Создание рекламной кампании в КМС с таргетингом по местам размещения - Google
					.c-price__values
						.c-price__value
							.c-price__check.--none
						.c-price__value
							.c-price__check
				.c-price__row.--check
					.c-price__info Рекомендации по улучшению конверсии сайта
					.c-price__values
						.c-price__value
							.c-price__check
						.c-price__value
							.c-price__check
				.c-price__row.--check
					.c-price__info Настройка Яндекс.Метрики/Google Analytics
					.c-price__values
						.c-price__value
							.c-price__check
						.c-price__value
							.c-price__check
				.c-price__row
					.c-price__info Настройка отслеживания целевых действий
					.c-price__values
						.c-price__value до 20
						.c-price__value до 150
				.c-price__row.--check
					.c-price__info Ежемесячный отчёт по рекламным кампаниям
					.c-price__values
						.c-price__value
							.c-price__check
						.c-price__value
							.c-price__check
				.c-price__row.--check
					.c-price__info Менеджер по работе с клиентами
					.c-price__values
						.c-price__value
							.c-price__check
						.c-price__value
							.c-price__check
				.c-price__row
					.c-price__info Количество специалистов работающих над Вашим проектом
					.c-price__values
						.c-price__value 3 специалиста
						.c-price__value 4 специалиста
				.c-price__row.--price
					.c-price__info Цена за 1 месяц (за одну поисковую систему):
					.c-price__values
						.c-price__value 15 000 ₽
						.c-price__value 35 000 ₽
				.c-price__row.--btn
					.c-price__info * - в стоимость не входит бюджет на РК, обсуждается дополнительно до начала работ
					.c-price__values
						.c-price__value
								.c-price__btn.btn.--black.--h-green.--sm Заказать
						.c-price__value
							.c-price__btn.btn.--green.--h-white.--sm Заказать
