include ../../sys/pug/vars

.success
	.case
		.success__title.h3 #[h3 Как уникальный дизайн и разработка ЛК влияет на успех стартапов и IT-компаний]
		.success__list
			.success__item
				.success__icon
					img(src="_/uploads/icons/cube-4.svg", alt="")
				.success__name Отдел разработки дизайна принёс стартапу экспонентный рост инвестиций в раунде А на развитие и масштабирование проекта
			.success__item
				.success__icon
					img(src="_/uploads/icons/cube-4.svg", alt="")
				.success__name Владелец сервиса повысил конверсию в регистрацию внутри сервиса и в покупку рекламы у владельцев Телеграм-каналов
			.success__item
				.success__icon
					img(src="_/uploads/icons/cube-4.svg", alt="")
				.success__name Бизнес, где внедрено приложение с Личным кабинетом, быстрее обслуживают клиентов и получают хорошие отзывы о качестве сервиса