.success {
  padding: 87px 0 84px;
}
.success__title {
  max-width: 660px;
  margin-bottom: 57px;
  margin-left: 4px;
}
.success__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -43px -40px;
}
.success__item {
  width: calc( 100% / 3 - 86px);
  margin: 0 43px 40px;
  display: flex;
  flex-wrap: wrap;
}
.success__icon {
  width: 85px;
  position: relative;
}
.success__icon:before {
  content: "";
  width: 14px;
  height: 15px;
  top: 15px;
  left: 50%;
  margin-left: 2px;
  transform: translateX(-50%);
  background: url("../../sys/imgs/arrow-right.svg") no-repeat;
  position: absolute;
}
.success__name {
  width: calc( 100% - 85px );
  padding-top: 18px;
  padding-left: 27px;
  font-weight: 700;
  line-height: 25px;
}

@media screen and (max-width: 1220px) {
  .success__list {
    margin: 0 -15px -40px;
  }
  .success__item {
    width: calc( 100% / 3 - 30px);
    margin: 0 15px 40px;
  }
  .success__icon {
    width: 70px;
  }
  .success__icon:before {
    top: 12px;
  }
  .success__name {
    width: calc( 100% - 70px );
    padding-top: 15px;
    padding-left: 22px;
  }
}
@media screen and (max-width: 992px) {
  .success {
    padding: 80px 0 74px;
  }
  .success__title {
    margin-bottom: 50px;
    margin-left: 0;
  }
  .success__list {
    margin: 0 0 -29px;
    padding-right: 90px;
  }
  .success__item {
    width: 100%;
    margin: 0 0 29px;
  }
  .success__name {
    padding-top: 10px;
  }
}
@media screen and (max-width: 767px) {
  .success__title {
    margin-bottom: 41px;
  }
  .success__list {
    padding-right: 0;
  }
  .success__icon {
    width: 60px;
  }
  .success__icon:before {
    top: 10px;
    width: 12px;
    height: 13px;
    background-size: contain;
  }
  .success__name {
    width: calc( 100% - 60px );
    padding-top: 5px;
  }
}
@media screen and (max-width: 580px) {
  .success__icon {
    width: 50px;
  }
  .success__icon:before {
    top: 8px;
    width: 11px;
    height: 12px;
  }
  .success__name {
    width: calc( 100% - 50px );
    padding-left: 17px;
    font-size: 15px;
  }
}
@media screen and (max-width: 390px) {
  .success__icon {
    width: 46px;
  }
  .success__icon:before {
    width: 8px;
    height: 10px;
  }
  .success__name {
    width: calc( 100% - 46px );
    padding-top: 9px;
    padding-left: 17px;
    font-size: 14px;
    line-height: 22px;
  }
}