include ../../sys/pug/vars

.req
	.case
		.req__wrap
			.req__title.h4 #[h4 Наличный и безналичный расчёт. #[a(href="") Онлайн] оплата картой физлица.]
			.req__text.t1
				p Внимание! Перед оплатой услуг, согласование ТЗ (технического задания), определение стоимости и сроков по проекту — обязательны.
				p Заказы, оплаченные без согласования — аннулируются.
				p Оплачивая услуги, вы принимаете #[a(href="") «Договор оферты»] и соглашаетесь с #[a(href="") «Политикой конфиденциальности»].
			.req__info.t1
				p Организация: Индивидуальный предприниматель ПРОНЧАТОВ АНДРЕЙ ВИТАЛЬЕВИЧ
				p ИНН 230807907440
				p КПП —
				p ОГРН/ОГРНИП 318237500385123
				p Расчётный счёт: 40802810330000045101
				p БИК 040349602
				p Банк: КРАСНОДАРСКОЕ ОТДЕЛЕНИЕ N8619 ПАО СБЕРБАНК
				p Корр. счёт: 30101810100000000602
				p Подпись руководителя: Прончатов Андрей Витальевич
