.file {
  transition: 0.3s;
  cursor: pointer;
}
.file__input {
  display: none;
}
.file__label {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 9px;
  display: block;
}
.file__wrap {
  width: 100%;
  color: #272727;
  font-size: 16px;
  transition: 0.3s;
  padding: 8.5px 12px;
  border: 1px solid #CCCCCC;
  background: transparent;
  position: relative;
}
.file__placeholder {
  color: #CCCCCC;
  transition: 0.3s;
  display: block;
}
.file.--filled .file__placeholder {
  display: none;
}

@media screen and (max-width: 767px) {
  .file__label {
    font-size: 16px;
    line-height: 26px;
  }
}
@media screen and (max-width: 390px) {
  .file__label {
    font-size: 14px;
    line-height: 22px;
  }
  .file__wrap {
    padding: 6px 10px;
  }
  .file__placeholder {
    font-size: 12px;
  }
}