.get {
  padding-bottom: 80px;
}
.get__title {
  margin-left: 2px;
  margin-bottom: 45px;
}
.get__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -43px;
}
.get__item {
  width: calc( 50% - 31px );
  margin-bottom: 43px;
  display: flex;
  flex-wrap: wrap;
}
.get__img {
  width: 85px;
  position: relative;
}
.get__img:before {
  content: "";
  top: 0;
  left: 0;
  width: 85px;
  height: 95px;
  position: absolute;
  background: url("../../sys/imgs/cube-4.svg") no-repeat;
}
.get__img img {
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
}
.get__info {
  width: calc( 100% - 85px );
  padding-top: 34px;
  padding-left: 40px;
}
.get__name {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 23px;
}
.get__text {
  line-height: 33px;
}

@media screen and (max-width: 1360px) {
  .get__item {
    width: calc( 50% - 20px );
  }
  .get__info {
    padding-left: 30px;
  }
}
@media screen and (max-width: 1220px) {
  .get__item {
    width: calc( 50% - 30px );
  }
  .get__item:nth-of-type(1) .get__img img, .get__item:nth-of-type(2) .get__img img {
    top: 8px;
  }
  .get__img {
    width: 70px;
  }
  .get__img img {
    top: 11px;
  }
  .get__img:before {
    width: 70px;
    height: 78px;
    background-size: contain;
  }
  .get__info {
    width: calc( 100% - 70px );
    padding-top: 15px;
    padding-left: 15px;
  }
  .get__text {
    font-size: 16px;
    line-height: 28px;
  }
}