include ../../sys/pug/vars

.brands
	.case
		.brands__title.h3 #[h3 Нам доверяют]
		.brands__list
			.brands__list-wrap
				mixin brands(img)
					.brands__item
						img(src=img, alt="")
				+brands('_/uploads/brands/item-1.png')
				+brands('_/uploads/brands/item-2.png')
				+brands('_/uploads/brands/item-3.png')
				+brands('_/uploads/brands/item-4.png')
				+brands('_/uploads/brands/item-5.png')
				+brands('_/uploads/brands/item-6.png')
				+brands('_/uploads/brands/item-7.png')
				+brands('_/uploads/brands/item-8.png')
				+brands('_/uploads/brands/item-9.png')
				+brands('_/uploads/brands/item-10.png')
				+brands('_/uploads/brands/item-11.png')
				+brands('_/uploads/brands/item-12.png')
				+brands('_/uploads/brands/item-13.png')
				+brands('_/uploads/brands/item-14.png')
				+brands('_/uploads/brands/item-15.png')
				+brands('_/uploads/brands/item-16.png')
				+brands('_/uploads/brands/item-17.png')
				+brands('_/uploads/brands/item-18.png')
				+brands('_/uploads/brands/item-19.png')
				+brands('_/uploads/brands/item-20.png')