@import ../../sys/sass/vars

.include
	padding-bottom: 87px
	&__title
		margin-bottom: 45px
	&__list
		display: flex
		flex-wrap: wrap
		justify-content: space-between
	&__col
		width: calc( 50% - 9px )
		margin: 0 0 -45px
	&__item
		margin-bottom: 50px
	&__head
		margin-bottom: 30px
		display: flex
		flex-wrap: wrap
		align-items: center
		&-icon
			width: 49px
		&-title
			width: calc( 100% - 49px )
			margin-top: -5px
			padding-left: 14px
			font-size: 33px
			font-weight: 700
		&-arrow
			width: 45px
			height: 45px
			border-radius: 50%
			background: $gray
			display: none
			align-items: center
			justify-content: center
			transition: .3s
			svg
				transition: .3s
	&__links
		padding-left: 65px
	&__link
		margin-bottom: 18px
		transition: .3s
		cursor: pointer
		&:last-of-type
			margin-bottom: 0
		&:hover
			color: $green
	&__subtitle
		margin-bottom: 24px
	&__form
		width: 100%
		max-width: 482px
		margin-top: 110px
		margin-left: 65px
	&__input
		margin-bottom: 17px
		&:last-of-type
			margin-bottom: 0
	&__btn
		font-size: 18px
		font-weight: 400
		max-width: 273px
		margin-top: 33px

@media screen and (max-width: 1220px)
	.include
		padding-bottom: 80px
		&__col
			width: calc( 50% - 20px )
		&__head
			margin-bottom: 20px
			&-icon
				width: 42px
			&-title
				width: calc( 100% - 42px )
				font-size: 28px
		&__links
			padding-left: 58px
			padding-right: 20px
		&__link
			margin-bottom: 14px
		&__form
			max-width: 392px
			margin-top: 80px
			margin-left: 58px

@media screen and (max-width: 992px)
	.include
		&__col
			width: 100%
			margin-bottom: 35px
			&:last-of-type
				margin-bottom: 0
		&__item
			margin-bottom: 35px
			cursor: pointer
			transition: .3s
			&:last-of-type
				margin-bottom: 0
			&:hover
				.include
					&__head
						&-title
							color: $green
			&.--active
				.include
					&__head
						&-title
							color: $green
						&-arrow
							svg
								transform: scale(1, -1)
								path
									stroke: $green
					&__links
						height: auto
						opacity: 1
						visibility: visible
						padding-top: 25px
						padding-left: 0
						padding-right: 0
		&__head
			margin-bottom: 0
			&-title
				font-size: 24px
				width: calc( 100% - 42px - 45px )
				padding-left: 25px
				transition: .3s
			&-arrow
				display: flex
		&__links
			height: 0
			opacity: 0
			visibility: hidden
			transition: .3s
		&__form
			max-width: 400px
			margin-left: 0

@media screen and (max-width: 767px)
	// .include
