.include {
  padding-bottom: 87px;
}
.include__title {
  margin-bottom: 45px;
}
.include__title br {
  display: none;
}
.include__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.include__col {
  width: calc( 50% - 9px );
  margin: 0 0 -45px;
}
.include__item {
  margin-bottom: 50px;
}
.include__head {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.include__head-icon {
  width: 49px;
}
.include__head-title {
  width: calc( 100% - 49px );
  margin-top: -5px;
  padding-left: 14px;
  font-size: 33px;
  font-weight: 700;
}
.include__head-arrow {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #F7F7F7;
  display: none;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.include__head-arrow svg {
  transition: 0.3s;
}
.include__links {
  padding-left: 65px;
}
.include__link {
  margin-bottom: 18px;
  transition: 0.3s;
  cursor: pointer;
}
.include__link:last-of-type {
  margin-bottom: 0;
}
.include__link:hover {
  color: #09B559;
}
.include__subtitle {
  margin-bottom: 24px;
}
.include__subtitle br {
  display: none;
}
.include__form {
  width: 100%;
  max-width: 482px;
  margin-top: 110px;
  margin-left: 65px;
}
.include__input {
  margin-bottom: 17px;
}
.include__input:last-of-type {
  margin-bottom: 0;
}
.include__btn {
  font-size: 18px;
  font-weight: 400;
  max-width: 273px;
  margin-top: 33px;
}

@media screen and (max-width: 1220px) {
  .include {
    padding-bottom: 80px;
  }
  .include__col {
    width: calc( 50% - 20px );
  }
  .include__head {
    margin-bottom: 20px;
  }
  .include__head-icon {
    width: 42px;
  }
  .include__head-title {
    width: calc( 100% - 42px );
    font-size: 28px;
  }
  .include__links {
    padding-left: 58px;
    padding-right: 20px;
  }
  .include__link {
    margin-bottom: 14px;
  }
  .include__form {
    max-width: 392px;
    margin-top: 80px;
    margin-left: 58px;
  }
}
@media screen and (max-width: 992px) {
  .include__col {
    width: 100%;
    margin-bottom: 35px;
  }
  .include__col:last-of-type {
    margin-bottom: 0;
  }
  .include__item {
    margin-bottom: 35px;
    cursor: pointer;
    transition: 0.3s;
  }
  .include__item:last-of-type {
    margin-bottom: 0;
  }
  .include__item:hover .include__head-title {
    color: #09B559;
  }
  .include__item.--active .include__head-title {
    color: #09B559;
  }
  .include__item.--active .include__head-arrow svg {
    transform: scale(1, -1);
  }
  .include__item.--active .include__head-arrow svg path {
    stroke: #09B559;
  }
  .include__item.--active .include__links {
    height: auto;
    opacity: 1;
    visibility: visible;
    padding-top: 25px;
  }
  .include__head {
    margin-bottom: 0;
  }
  .include__head-title {
    font-size: 24px;
    width: calc( 100% - 42px - 45px );
    padding-left: 25px;
    padding-right: 25px;
    transition: 0.3s;
  }
  .include__head-arrow {
    display: flex;
  }
  .include__links {
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    padding-left: 0;
    padding-right: 0;
  }
  .include__link {
    transition: 0.3s;
  }
  .include__form {
    max-width: 400px;
    margin-left: 0;
  }
  .include__btn {
    max-width: 300px;
  }
}
@media screen and (max-width: 767px) {
  .include__col {
    margin-bottom: 26px;
  }
  .include__item {
    margin-bottom: 26px;
  }
  .include__head-title {
    font-size: 20px;
    padding-left: 18px;
    padding-right: 18px;
  }
  .include__subtitle {
    font-size: 20px;
    line-height: 28px;
  }
}
@media screen and (max-width: 580px) {
  .include__title {
    padding-right: 50px;
  }
  .include__head-icon {
    width: 35px;
  }
  .include__head-title {
    font-size: 18px;
    width: calc( 100% - 35px - 32px );
  }
  .include__head-arrow {
    width: 32px;
    height: 32px;
  }
  .include__head-arrow svg {
    width: 15px;
  }
  .include__subtitle br {
    display: block;
  }
  .include__input {
    margin-bottom: 16px;
  }
  .include__btn {
    max-width: 100%;
  }
}
@media screen and (max-width: 390px) {
  .include__title {
    padding-right: 0;
  }
  .include__title br {
    display: block;
  }
  .include__item.--active .include__links {
    padding-top: 37px;
  }
  .include__links {
    padding-left: 5px;
    padding-right: 5px;
  }
  .include__link {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
  }
  .include__form {
    max-width: 100%;
    margin-top: 82px;
  }
  .include__subtitle {
    font-size: 18px;
  }
}