.include {
  padding-bottom: 87px;
}
.include__title {
  margin-bottom: 45px;
}
.include__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.include__col {
  width: calc( 50% - 9px );
  margin: 0 0 -45px;
}
.include__item {
  margin-bottom: 50px;
}
.include__head {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.include__head-icon {
  width: 49px;
}
.include__head-title {
  width: calc( 100% - 49px );
  margin-top: -5px;
  padding-left: 14px;
  font-size: 33px;
  font-weight: 700;
}
.include__links {
  padding-left: 65px;
}
.include__link {
  margin-bottom: 18px;
  transition: 0.3s;
  cursor: pointer;
}
.include__link:last-of-type {
  margin-bottom: 0;
}
.include__link:hover {
  color: #09B559;
}
.include__subtitle {
  margin-bottom: 24px;
}
.include__form {
  width: 100%;
  max-width: 482px;
  margin-top: 110px;
  margin-left: 65px;
}
.include__input {
  margin-bottom: 17px;
}
.include__input:last-of-type {
  margin-bottom: 0;
}
.include__btn {
  font-size: 18px;
  font-weight: 400;
  max-width: 273px;
  margin-top: 33px;
}

@media screen and (max-width: 1220px) {
  .include {
    padding-bottom: 80px;
  }
  .include__col {
    width: calc( 50% - 20px );
  }
  .include__head {
    margin-bottom: 20px;
  }
  .include__head-icon {
    width: 42px;
  }
  .include__head-title {
    width: calc( 100% - 42px );
    font-size: 28px;
  }
  .include__links {
    padding-left: 58px;
    padding-right: 20px;
  }
  .include__link {
    margin-bottom: 14px;
  }
  .include__form {
    max-width: 392px;
    margin-top: 80px;
    margin-left: 58px;
  }
}