@import ../../sys/sass/vars

.price
	padding: 88px 0
	&__title
		margin-bottom: 46px
	&__list
		left: 3px
		position: relative
	&__list-wrap
		display: flex
		flex-wrap: wrap
		margin: 0 -17px -30px
	&__item
		width: calc( 100% / 4 - 34px)
		min-height: 480px
		margin: 0 17px 30px
		display: flex
		flex-direction: column
		box-shadow: 0px 4px 19px rgba($main, 0.08)
		transition: .3s
		cursor: pointer
		&:hover
			.price
				&__main
					background: $green
					&.--green
						background: #fff
						.price
							&__btn
								color: #fff
								background: $green
				&__btn
					&.--green
						color: $main
						background: #fff
	&__info
		color: #fff
		background: $main
		padding: 15px 30px 25px
		min-height: 328px
		transition: .3s
	&__rate
		display: flex
		flex-wrap: wrap
		align-items: center
		margin-bottom: 25px
		&-icon
			width: 47px
		&-title
			width: calc( 100% - 47px )
			padding-left: 20px
			font-size: 18px
			font-weight: 700
			color: $green
	&__name
		min-height: 72px
		margin-bottom: 14px
		text-transform: uppercase
	&__text
		opacity: .6
		line-height: 25px
	&__main
		background: #fff
		padding: 6px 30px 25px
		transition: .3s
		&.--green
			background: $green

	&__desc
		font-weight: 700
		margin-left: 35px
	&__value
		font-size: 21px
		u
			font-size: 28px
	&__btn
		margin-top: 8px

	&.--ux
		.price
			&__title
				margin-bottom: 56px
			&__item
				min-height: 636px
				&:nth-of-type(1), &:nth-of-type(2)
					.price
						&__rate
							margin-bottom: 42px
			&__info
				min-height: 467px
				padding: 15px 18px 25px 22px
				display: flex
				flex-direction: column
			&__rate
				margin-left: 5px
			&__name
				margin-bottom: 25px
			&__inner
				margin-top: auto
				&-item
					padding-bottom: 17px
					margin-bottom: 15px
					border-bottom: 1px solid rgba(#fff, .25)
					p
						margin-bottom: 9px
						&:last-of-type
							margin-bottom: 0
						&:nth-of-type(1)
							color: $green
						&:nth-of-type(3)
							opacity: .6
					&:last-of-type
						margin-bottom: 0
						border-bottom: none
			&__main
				padding: 20px 28px 37px 34px
			&__desc
				margin-left: 0
			&__btn
				margin-top: 23px

@media screen and (max-width: 1360px)
	.price
		&__info
			padding: 15px 20px 25px
		&__name
			font-size: 22px
		&__main
			padding: 6px 20px 25px
		&__desc
			margin-left: 10px

@media screen and (max-width: 1220px)
	.price
		padding: 60px 0
		&__list-wrap
			margin: 0 -10px -20px
		&__item
			width: calc( 100% / 2 - 20px)
			margin: 0 10px 20px
			min-height: auto
		&__info
			min-height: 250px
		&__name
			min-height: auto
			br
				display: none
		&__desc
			margin-left: 35px
		&__pagination
			display: none

@media screen and (max-width: 992px)
	.price
		&__title
			width: calc( 100% - 100px )
		&__list
			left: 0
			padding: 15px 10px
			margin: -15px -10px
			overflow: visible
		&__list-wrap
			margin: 0
			flex-wrap: nowrap
		&__item
			margin: 0
			height: auto
		&__info
			min-height: 300px
			height: calc( 100% - 150px )
		&__main
			min-height: 150px
		&__pagination
			top: 0
			right: 10px
			left: auto
			bottom: auto
			display: flex
			justify-content: flex-end

@media screen and (max-width: 767px)
	.price
		&__title
			margin-bottom: 30px
		&__pagination
			top: 2px
		&__info
			min-height: 270px
			padding: 15px 20px
		&__rate
			margin-bottom: 20px
			&-icon
				width: 36px
			&-title
				font-size: 17px
				width: calc( 100% - 36px )
				padding-left: 16px
		&__name
			font-size: 20px
			margin-bottom: 11px
		&__text
			font-size: 14px
			line-height: 21px
		&__main
			min-height: auto
			padding: 6px 23px 20px
		&__desc
			margin-left: 24px
		&__value
			font-size: 18px
			u
				font-size: 25px
		&__note
			font-size: 14px

@media screen and (max-width: 580px)
	.price
		&__title
			width: calc( 100% - 130px )
			margin-bottom: 20px
		&__pagination
			top: 38px
		&__info
			min-height: 250px
			padding: 15px 35px 15px 20px
		&__rate
			&-title
				font-size: 14px
		&__name
			font-size: 18px
		&__value
			font-size: 17px
			u
				font-size: 23px

@media screen and (max-width: 390px)
	.price
		&__title
			width: calc( 100% - 60px )
		&__info
			padding: 11px 15px 15px 23px
		&__text
			font-size: 12px
			line-height: 18px
		&__value
			font-size: 16px
			u
				font-size: 21px
				margin-right: 2px
		&__note
			font-size: 12px
		&__btn
			font-size: 14px
			margin-top: 5px
			&.--md
				min-height: 38px
