.price {
  padding: 88px 0;
}
.price__title {
  margin-bottom: 46px;
}
.price__list {
  left: 3px;
  position: relative;
}
.price__list-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px -30px;
}
.price__item {
  width: calc( 100% / 4 - 30px);
  min-height: 480px;
  margin: 0 15px 30px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 19px rgba(39, 39, 39, 0.08);
  transition: 0.3s;
  cursor: pointer;
}
.price__item:hover .price__main {
  background: #09B559;
}
.price__item:hover .price__btn.--green {
  color: #272727;
  background: #fff;
}
.price__info {
  color: #fff;
  background: #272727;
  padding: 15px 30px 25px;
  min-height: 328px;
  transition: 0.3s;
}
.price__rate {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 25px;
}
.price__rate-icon {
  width: 47px;
}
.price__rate-title {
  width: calc( 100% - 47px );
  padding-left: 20px;
  font-size: 18px;
  font-weight: 700;
  color: #09B559;
}
.price__name {
  min-height: 72px;
  margin-bottom: 14px;
  text-transform: uppercase;
}
.price__text {
  opacity: 0.6;
  line-height: 25px;
}
.price__main {
  background: #fff;
  padding: 6px 30px 25px;
  transition: 0.3s;
}
.price__desc {
  font-weight: 700;
  margin-left: 35px;
}
.price__value {
  font-size: 21px;
}
.price__value u {
  font-size: 28px;
}
.price__btn {
  margin-top: 8px;
}

@media screen and (max-width: 1360px) {
  .price__info {
    padding: 15px 20px 25px;
  }
  .price__name {
    font-size: 22px;
  }
  .price__main {
    padding: 6px 20px 25px;
  }
  .price__desc {
    margin-left: 10px;
  }
}
@media screen and (max-width: 1220px) {
  .price {
    padding: 60px 0;
  }
  .price__list-wrap {
    margin: 0 -10px -20px;
  }
  .price__item {
    width: calc( 100% / 2 - 20px);
    margin: 0 10px 20px;
    min-height: auto;
  }
  .price__info {
    min-height: 250px;
  }
  .price__name {
    min-height: auto;
  }
  .price__name br {
    display: none;
  }
  .price__desc {
    margin-left: 35px;
  }
  .price__pagination {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .price__title {
    width: calc( 100% - 100px );
  }
  .price__list {
    left: 0;
    padding: 15px 10px;
    margin: -15px -10px;
    overflow: visible;
  }
  .price__list-wrap {
    margin: 0;
    flex-wrap: nowrap;
  }
  .price__item {
    margin: 0;
    height: auto;
  }
  .price__info {
    min-height: 300px;
    height: calc( 100% - 150px );
  }
  .price__main {
    min-height: 150px;
  }
  .price__pagination {
    top: 0;
    right: 10px;
    left: auto;
    bottom: auto;
    display: flex;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 767px) {
  .price__title {
    margin-bottom: 30px;
  }
  .price__pagination {
    top: 2px;
  }
  .price__info {
    min-height: 270px;
    padding: 15px 20px;
  }
  .price__rate {
    margin-bottom: 20px;
  }
  .price__rate-icon {
    width: 36px;
  }
  .price__rate-title {
    font-size: 17px;
    width: calc( 100% - 36px );
    padding-left: 16px;
  }
  .price__name {
    font-size: 20px;
    margin-bottom: 11px;
  }
  .price__text {
    font-size: 14px;
    line-height: 21px;
  }
  .price__main {
    min-height: auto;
    padding: 6px 23px 20px;
  }
  .price__desc {
    margin-left: 24px;
  }
  .price__value {
    font-size: 18px;
  }
  .price__value u {
    font-size: 25px;
  }
  .price__note {
    font-size: 14px;
  }
}
@media screen and (max-width: 580px) {
  .price__title {
    width: calc( 100% - 130px );
    margin-bottom: 20px;
  }
  .price__pagination {
    top: 38px;
  }
  .price__info {
    min-height: 250px;
    padding: 15px 35px 15px 20px;
  }
  .price__rate-title {
    font-size: 14px;
  }
  .price__name {
    font-size: 18px;
  }
  .price__value {
    font-size: 17px;
  }
  .price__value u {
    font-size: 23px;
  }
}
@media screen and (max-width: 390px) {
  .price__title {
    width: calc( 100% - 60px );
  }
  .price__info {
    padding: 11px 15px 15px 23px;
  }
  .price__text {
    font-size: 12px;
    line-height: 18px;
  }
  .price__value {
    font-size: 16px;
  }
  .price__value u {
    font-size: 21px;
    margin-right: 2px;
  }
  .price__note {
    font-size: 12px;
  }
  .price__btn {
    font-size: 14px;
    margin-top: 5px;
  }
  .price__btn.--md {
    min-height: 38px;
  }
}