@import ../../sys/sass/vars

.price
	padding: 88px 0
	&__title
		margin-bottom: 46px
	&__list
		left: 3px
		position: relative
	&__list-wrap
		display: flex
		flex-wrap: wrap
		margin: 0 -15px -30px
	&__item
		width: calc( 100% / 4 - 30px)
		min-height: 480px
		margin: 0 15px 30px
		display: flex
		flex-direction: column
		box-shadow: 0px 4px 19px rgba($main, 0.08)
		transition: .3s
		cursor: pointer
		&:hover
			.price
				&__main
					background: $green
				&__btn
					&.--green
						color: $main
						background: #fff
	&__info
		color: #fff
		background: $main
		padding: 15px 30px 25px
		min-height: 328px
		transition: .3s
	&__rate
		display: flex
		flex-wrap: wrap
		align-items: center
		margin-bottom: 25px
		&-icon
			width: 47px
		&-title
			width: calc( 100% - 47px )
			padding-left: 20px
			font-size: 18px
			font-weight: 700
			color: $green
	&__name
		min-height: 72px
		margin-bottom: 14px
		text-transform: uppercase
	&__text
		opacity: .6
		line-height: 25px
	&__main
		background: #fff
		padding: 6px 30px 25px
		transition: .3s
	&__desc
		font-weight: 700
		margin-left: 35px
	&__value
		font-size: 21px
		u
			font-size: 28px
	&__btn
		margin-top: 8px

@media screen and (max-width: 1360px)
	.price
		&__info
			padding: 15px 20px 25px
		&__name
			font-size: 22px
		&__main
			padding: 6px 20px 25px
		&__desc
			margin-left: 10px

@media screen and (max-width: 1220px)
	// .price

@media screen and (max-width: 992px)
	// .price

@media screen and (max-width: 767px)
	// .price
