extends ../../templates/default
block vars
	-
		title = "Политика конфиденциальности"

block content
	.page
		.case
			.page-text
				h1 Политика конфиденциальности
				h4 Соглашение о конфиденциальности использования личных данных
				p Политика конфиденциальности персональной информации (далее – Политика) действует в отношении всей информации, которую индивидуальный предприниматель Прончатов Андрей Витальевич может получить о физическом лице (гражданине), индивидуальном предпринимателе, юридическом лице и иным субъекте права (далее – Пользователе) во время использования им сайта: #[a(href="https://seoprok.ru/" target="_blank") https://seoprok.ru/] и в ходе исполнения ИП Прончатов Андрей Витальевич любых соглашений и договоров с Пользователем.
				p Условия обработки персональных данных (Далее – Условия) регулируют правоотношения по обработке персональных данных между индивидуальным предпринимателем Прончатов Андрей Витальевич, ИНН 230807907440, ОГРНИП 318237500385123, адрес: 350090, Краснодарский край, г. Краснодар, 2-й проезд им. Гастелло, 12 (далее – ИП Прончатов Андрей Витальевич) и Пользователем (дееспособное физическое лицо достигшие 18 лет, индивидуальные предприниматели, юридические лица, иные субъекты права) использующим сайт #[a(href="https://seoprok.ru/" target="_blank") https://seoprok.ru/].
				p Под персональными данными понимается любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (гражданину), индивидуальному предпринимателю, юридическому лицу и иным субъектам права. Под обработкой персональных данных понимается любое действие (операция) или совокупность действий (операций) с персональными данным, совершаемых с использованием средств автоматизации или без использования таких средств. К таким действиям (операциям) можно отнести: сбор, получение, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.
				p Пользователь соглашается с настоящими Условиями путем ввода принадлежащего ему адреса электронной почты в специальное поле на сайте ИП Прончатов Андрей Витальевич с предложением оформить заявку, и последующего нажатия кнопки «Отправить заявку». Совершая указанные действия, Пользователь направляет принадлежащий ему адрес электронной почты ИП Прончатов Андрей Витальевич в целях дальнейшего осуществления консультации по оказываемым услугам, обозначенных на сайте #[a(href="https://seoprok.ru/" target="_blank") https://seoprok.ru/].
				p Использование указанного сайта означает безоговорочное согласие Пользователя с настоящей Политикой и условиями обработки его персональной информации; в случае несогласия с этими условиями Пользователь должен воздержаться от использования сайта #[a(href="https://seoprok.ru/" target="_blank") https://seoprok.ru/].		
				.toggs
					h5 1. Персональная информация Пользователей, которую обрабатывает ИП Прончатов Андрей Витальевич
					p 1.1. В рамках настоящей Политики под «персональной информацией Пользователя» понимаются:
					p 1.1.1. Персональная информация, которую Пользователь предоставляет о себе самостоятельно в процессе использования #[a(href="https://seoprok.ru/" target="_blank") https://seoprok.ru/] включая персональные данные Пользователя. Обязательная для предоставления информация помечена специальным образом. Иная информация предоставляется Пользователем на его усмотрение.
					p 1.1.2. При отправке заявки через контактную форму, размещенную по адресу #[a(href="https://seoprok.ru/" target="_blank") https://seoprok.ru/],  через контактную форму Пользователь предоставляет ИП Прончатов Андрей Витальевич следующую информацию: Ф.И.О., телефон, электронную почту, комментарий/краткое описание заказа.
					p 1.1.3. Статистические данные, которые автоматически передаются ИП Прончатов Андрей Витальевич в процессе их использования с помощью установленного на сайте #[a(href="https://seoprok.ru/" target="_blank") https://seoprok.ru/] Яндекс Метрики, Google Analytics, в том числе: информация о браузере Пользователя (или иной программе, с помощью которой осуществляется доступ к #[a(href="https://seoprok.ru/" target="_blank") https://seoprok.ru/] технические характеристики оборудования и программного обеспечения, используемых Пользователем, дата и время доступа к #[a(href="https://seoprok.ru/" target="_blank") https://seoprok.ru/], адреса запрашиваемых страниц и иная подобная информация.
				p 1.1.4. Иная информация о Пользователе, обработка которой предусмотрена условиями использования #[a(href="https://seoprok.ru/" target="_blank") https://seoprok.ru/].
					p 1.2. Настоящая Политика применима только к информации, обрабатываемой в ходе использования #[a(href="https://seoprok.ru/" target="_blank") https://seoprok.ru/], ИП Прончатов Андрей Витальевич не контролирует и не несет ответственность за обработку информации сайтами третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на сайте #[a(href="https://seoprok.ru/" target="_blank") https://seoprok.ru/].
					p 1.3. ИП Прончатов Андрей Витальевич не проверяет достоверность персональной информации, предоставляемой Пользователем, и не имеет возможности оценивать его дееспособность. Однако ИП Прончатов Андрей Витальевич исходит из того, что пользователь предоставляет достоверную и достаточную персональную информацию и поддерживает эту информацию в актуальном состоянии.		
					h5.md 2. Цели обработки персональной информации Пользователей
					p 2.1. ИП Прончатов Андрей Витальевич собирает и хранит только ту персональную информацию, которая необходима для предоставления функций сайта #[a(href="https://seoprok.ru/" target="_blank") https://seoprok.ru/], за исключением случаев, когда законодательством предусмотрено обязательное хранение персональной информации в течение определенного законом срока.
					p Предоставляя свои персональные данные, Пользователь соглашается на их обработку (вплоть до отзыва Пользователем своего согласия на обработку персональных данных) ИП Прончатов Андрей Витальевич, в целях предоставления Пользователю рекламной и справочной информации и в иных целях согласно п.2.2 Условий. При обработке персональных данных ИП Прончатов Андрей Витальевич руководствуется Федеральным законом «О персональных данных», Федеральным законом «О рекламе» и локальными нормативными документами.
					p 2.2. Персональную информацию Пользователя ИП Прончатов Андрей Витальевич обрабатывает в следующих целях:
					p 2.2.1. Связь с Пользователем, в том числе направление уведомлений, запросов и информации, касающихся использования #[a(href="https://seoprok.ru/" target="_blank") https://seoprok.ru/], а также обработка запросов и заявок от Пользователя.
					p 2.2.2. Улучшение качества #[a(href="https://seoprok.ru/" target="_blank") https://seoprok.ru/], удобства его использования, разработка новых Сервисов.
					h5 3. Условия обработки персональной информации Пользователей и её передачи третьим лицам
					p 3.1. ИП Прончатов Андрей Витальевич хранит персональную информацию Пользователей в соответствии с внутренними регламентами ИП Прончатов Андрей Витальевич
					p 3.2. При обработке персональных данных ИП Прончатов Андрей Витальевич не ограничен в применении способов их обработки.
					p 3.3. В отношении персональной информации Пользователя сохраняется ее конфиденциальность, кроме случаев добровольного предоставления Пользователем информации о себе для общего доступа неограниченному кругу лиц, например, указания в отзывах о работе сайта #[a(href="https://seoprok.ru/" target="_blank") https://seoprok.ru/] и об услугах ИП Прончатов Андрей Витальевич. Пользователь соглашается с тем, что определённая часть его персональной информации становится общедоступной.
					p 3.4. ИП Прончатов Андрей Витальевич вправе передать персональную информацию Пользователя третьим лицам в следующих случаях:
					p 3.4.1. Пользователь выразил согласие на такие действия;
					p 3.4.2. Передача предусмотрена российским или иным применимым законодательством в рамках установленной законодательством процедуры;
					p 3.4.3. В целях обеспечения возможности защиты прав и законных интересов ИП Прончатов Андрей Витальевич или третьих лиц в случаях, когда Пользователь нарушает Пользовательское соглашение, настоящую Политику;
					h5 4. Изменение и удаление персональной информации. Обязательное хранение данных
					p 4.1. Если Пользователь желает уточнения персональных данных в случае, когда персональные данные являются неполными, неточными или неактуальными, либо желает отозвать свое согласие на обработку персональных данных, Пользователь должен направить официальный запрос ИП Прончатов Андрей Витальевич в следующем порядке: письмо с темой «Уточнить персональные данные» или «Прекратить обработку персональных данных» на адрес электронной почты krd093@mail.ru. В письме необходимо указать электронный адрес и соответствующее требование.
					p 4.2. Права, предусмотренные п. 4.1. настоящей Политики, могут быть ограничены в соответствии с требованиями законодательства. В частности, такие ограничения могут предусматривать обязанность ИП Прончатов Андрей Витаельевич сохранить измененную или удаленную Пользователем информацию на срок, установленный законодательством, и передать такую информацию в соответствии с законодательно установленной процедурой государственному органу.
					h5.sm 5. Меры, применяемые для защиты персональной информации Пользователя
					p 5.1. ИП Прончатов Андрей Витальевич принимает необходимые и достаточные организационные и технические меры для защиты персональной информации Пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий с ней третьих лиц.
					h5.sm 6. Изменение Политики конфиденциальности. Применимое законодательство
					p 6.1. ИП Прончатов Андрей Витальевич имеет право вносить изменения в настоящую Политику конфиденциальности. При внесении изменений в актуальной редакции указывается дата последнего обновления. Новая редакция Политики вступает в силу с момента ее размещения, если иное не предусмотрено новой редакцией Политики.
					p 6.2. К настоящей Политике и отношениям между Пользователем и ИП Прончатов Андрей Витальевич , возникающим в связи с применением Политики конфиденциальности, подлежит применению право Российской Федерации.
					h5.sm 7. Обратная связь. Вопросы и предложения
					p 7.1. Все предложения или вопросы по поводу настоящей Политики Пользователь вправе направлять в  ИП Прончатов Андрей Витальевич по адресу электронной почты: #[a(href="mailto:seoprokk@gmail.com") seoprokk@gmail.com].
				h6 Дата публикации: 04 марта 2022 года / Редакция от 04 марта 2022 года
				.page-text__req
					.page-text__req-item
						p Полное наименование: Индивидуальный предприниматель Прончатов Андрей Витальевич (Компания «SeoProk»)
						p Сокращенное наименование: ИП Прончатов Андрей Витальевич
						p ИНН 230807907440
						p ОГРНИП 318237500385123
						p Юридический адрес: 350090, Краснодарский край, г. Краснодар, 2-й проезд им. Гастелло, 12
						p Фактический адрес: 350090, Краснодарский край, г. Краснодар, 2-й проезд им. Гастелло, 12
						p Официальный сайт: #[a(href="https://seoprok.ru/" target="_blank") https://seoprok.ru/]
						p Электронный адрес: #[a(href="mailto:seoprokk@gmail.com") seoprokk@gmail.com]
						p Телефон: #[a(href="tel:79298611011") +79298611011]
					.page-text__req-item
						p Платежные реквизиты:
						p Организация: Индивидуальный предприниматель ПРОНЧАТОВ АНДРЕЙ ВИТАЛЬЕВИЧ
						p ИНН 230807907440
						p КПП —
						p ОГРН/ОГРНИП 318237500385123
						p Расчётный счёт: 40802810330000045101
						p БИК 040349602
						p Банк: КРАСНОДАРСКОЕ ОТДЕЛЕНИЕ N8619 ПАО СБЕРБАНК
						p Корр. счёт: 30101810100000000602
						p Подпись руководителя: Прончатов Андрей Витальевич
