extends ../../templates/default
block vars
	-
		title = "Контакты"

block content
	.page
		.case
			.page__title.h1.an.fadeIn-up #[h1 Контакты]

	+style('contacts', 'blocks')
	include ../../blocks/contacts/contacts