include ../../sys/pug/vars

.awards
	.case
		.awards__title.h3 #[h3 Наши награды и достижения]
		.awards__list
			.awards__item.an.fadeIn
				.awards__name 1 место
				.awards__text В рейтинге AdIndex #[br]по независимой оценке
			.awards__item.an.fadeIn(data-timeout="0.1s")
				.awards__name 67 место
				.awards__text По специализации "Веб-разработка" #[br]в официальном рейтинге Freelance.ru по РФ
			.awards__item.an.fadeIn(data-timeout="0.1s")
				.awards__name 72 место
				.awards__text По специализации #[br]"Интернет продвижение и реклама, #[br]Классическая реклама и маркетинг", #[br]в официальном рейтинге Freelance.ru по РФ