@import fonts
@import vars
@import reset
@import grid

@import ../../components/btn/btn
@import ../../components/input/input
@import ../../components/check/check
// @import ../../components/radio/radio

// @import ../../components/textarea/textarea
// @import ../../components/select/select
// @import ../../components/tabs/tabs

// TYPOGRAPHY	
.h1
	font-size: 50px
	font-weight: 700
	line-height: 73px

.h2
	font-size: 35px
	font-weight: 700
	line-height: 56px

.h3
	font-size: 30px
	font-weight: 700
	line-height: 44px

.h4
	font-size: 28px
	font-weight: 700
	line-height: 41px

.h5
	font-size: 23px
	font-weight: 700
	line-height: 36px

.h6
	font-size: 18px
	font-weight: 700
	line-height: 28px

.t1
	font-size: 18px
	line-height: 28px

// COMMON ELEMENTS
.inner
	overflow: hidden

.overflow-disable
	overflow: hidden

.pad-none
	padding: 0 !important

.logo
	width: 100%
	display: block

.socials
	display: flex
	flex-wrap: wrap
	align-items: center
	&__item
		width: 34px
		height: 34px
		border-radius: 50%
		overflow: hidden
		display: flex
		align-items: center
		justify-content: center
		margin-right: 12px
		&:last-of-type
			margin-right: 0
	&.--green
		.socials
			&__item
				background: $green
				&:hover
					background: rgba($green, 70%)

// ANIMATION
.fadeIn
	opacity: 0
	&.--loaded
		opacity: 1
		transition: opacity 1.5s
