include ../sys/pug/vars
doctype html
block vars
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="format-detection" content="telephone=no")
		meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1.0, user-scalable=no")
		meta(name="apple-mobile-web-app-capable" content="yes")
		link(rel="apple-touch-icon" sizes="180x180" href="_/uploads/logos/favicon.svg")
		link(rel="icon" type="image/svg" sizes="32x32" href="_/uploads/logos/favicon.svg")
		link(rel="icon" type="image/svg" sizes="16x16" href="_/uploads/logos/favicon.svg")
		title=title
		link(rel="stylesheet" href="_/sys/css/style.css" + version)
	body
		.inner
			
			+style('header', 'blocks')
			include ../blocks/header/header
			
			main.main.an.fadeIn
				block content

			+style('footer', 'blocks')
			include ../blocks/footer/footer

			script(src="_/sys/js/libs.js" + version)
			script(src="_/sys/js/common.js" + version)
