.check {
  cursor: pointer;
  transition: 0.3s;
}
.check__input {
  display: none;
}
.check__wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}
.check__point {
  position: relative;
}
.check__icon {
  transition: 0.3s;
}
.check__text {
  font-size: 18px;
  font-weight: 400;
  transition: 0.3s;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}
.check.--check .check__wrap {
  align-items: flex-start;
}
.check.--check .check__point {
  width: 13px;
  height: 13px;
  margin-top: 5px;
  border: 1px solid #272727;
  border-radius: 3px;
}
.check.--check .check__point:before {
  content: "";
  width: 9px;
  height: 8px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.3s;
  position: absolute;
  background: url("../../sys/imgs/check.svg") no-repeat;
  background-size: contain;
  opacity: 0;
  visibility: hidden;
}
.check.--check .check__text {
  font-size: 12px;
  line-height: 19px;
  width: calc( 100% - 13px );
  padding-left: 10px;
  padding-right: 70px;
}
.check.--check .check__text a:hover {
  color: #09B559;
}
.check.--check.--checked .check__point:before {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}
.check.--sq .check__point {
  width: 29px;
  height: 29px;
  border: 1px solid #272727;
}
.check.--sq .check__point:before {
  content: "";
  width: 18px;
  height: 13px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.3s;
  position: absolute;
  background: url("../../sys/imgs/check.svg") no-repeat;
  opacity: 0;
  visibility: hidden;
}
.check.--sq .check__text {
  width: calc( 100% - 29px );
  padding-left: 15px;
}
.check.--sq.--white .check__point {
  border-color: #fff;
}
.check.--sq.--white .check__point:before {
  background: url("../../sys/imgs/check-white.svg") no-repeat;
}
.check.--sq.--checked .check__point:before {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}
.check.--icon .check__wrap {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.check.--icon .check__icon {
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.check.--icon .check__text {
  font-size: 14px;
  font-weight: 700;
}
.check.--icon.--checked .check__icon svg path[fill], .check.--icon.--checked .check__icon svg rect[fill], .check.--icon.--checked .check__icon svg circle[fill], .check.--icon.--checked .check__icon svg line[fill] {
  fill: #09B559;
}
.check.--icon.--checked .check__icon svg path[stroke], .check.--icon.--checked .check__icon svg rect[stroke], .check.--icon.--checked .check__icon svg circle[stroke], .check.--icon.--checked .check__icon svg line[stroke] {
  stroke: #09B559;
}
.check.--icon.--checked .check__text {
  color: #09B559;
}
.check.--icon.--checked:hover .check__icon {
  transform: translateY(0);
}
.check.--icon:hover .check__icon {
  transform: translateY(-3px);
}

@media screen and (max-width: 767px) {
  .check.--icon .check__icon {
    width: 28px;
    height: 31px;
    margin-bottom: 7px;
    position: relative;
  }
  .check.--icon .check__icon svg {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .check.--icon .check__text {
    font-size: 13px;
  }
}
@media screen and (max-width: 580px) {
  .check.--icon:hover .check__icon {
    transform: translateY(0);
  }
}
@media screen and (max-width: 390px) {
  .check.--icon .check__text {
    font-size: 11px;
  }
}