.want {
  color: #fff;
  background: #272727;
  padding: 75px 0 100px;
}
.want__wrap {
  max-width: 920px;
  margin: 0 auto;
  text-align: center;
}
.want__title {
  margin-bottom: 14px;
}
.want__desc {
  margin-bottom: 57px;
}
.want__form {
  max-width: 482px;
  margin: 0 auto;
}
.want__input .input__area {
  text-align: center;
}
.want__btn {
  max-width: 158px;
  margin: 33px auto 0;
}

@media screen and (max-width: 992px) {
  .want {
    padding: 60px 0 80px;
  }
  .want__wrap {
    max-width: 100%;
  }
  .want__title {
    margin-bottom: 30px;
  }
  .want__title br {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .want__desc {
    margin-bottom: 50px;
  }
  .want__desc br {
    display: none;
  }
  .want__form {
    max-width: 420px;
  }
}
@media screen and (max-width: 390px) {
  .want {
    padding: 41px 0 50px;
  }
  .want__title {
    margin-bottom: 37px;
  }
  .want__desc {
    font-size: 14px;
    margin-bottom: 37px;
  }
  .want__input.--b-white .input__area {
    font-size: 14px;
    padding-bottom: 15px;
  }
  .want__input.--b-white .input__area::placeholder {
    font-size: 14px;
  }
}