.offer {
  color: #fff;
  background: #2C2C2C;
  padding: 65px 0 92px;
}
.offer__wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.offer__img {
  width: 690px;
  margin-top: 60px;
  margin-left: -10px;
  position: relative;
  left: 18px;
}
.offer__info {
  width: calc( 100% - 690px + 10px );
  text-align: right;
}
.offer__title {
  margin-bottom: 44px;
}
.offer__fields {
  width: 100%;
  max-width: 481px;
  margin-left: auto;
}
.offer__pick {
  margin-bottom: 48px;
}
.offer__pick-title {
  color: #09B559;
  margin-bottom: 23px;
}
.offer__pick-checks {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.offer__pick-check {
  margin-right: 45px;
}
.offer__pick-check:last-of-type {
  margin-right: 0;
}
.offer__input {
  margin-bottom: 18px;
}
.offer__input:last-of-type {
  margin-bottom: 0;
}
.offer__input.--hide {
  opacity: 0;
  height: 0;
  margin-bottom: 0;
  visibility: hidden;
}
.offer__input.--show {
  opacity: 1;
  height: auto;
  margin-bottom: 14px;
  visibility: visible;
}
.offer__actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 33px;
}
.offer__btn {
  max-width: 244px;
}

@media screen and (max-width: 1360px) {
  .offer__img {
    width: 620px;
    left: 70px;
    margin-left: -70px;
  }
  .offer__info {
    width: calc( 100% - 550px);
  }
}
@media screen and (max-width: 1220px) {
  .offer {
    padding: 50px 0 80px;
  }
  .offer__info {
    order: 1;
    width: 100%;
  }
  .offer__fields {
    max-width: 400px;
  }
  .offer__pick {
    margin-bottom: 40px;
  }
  .offer__actions {
    flex-direction: column;
    align-items: flex-start;
  }
  .offer__btn {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .offer__check {
    width: 100%;
    max-width: 120px;
  }
  .offer__img {
    order: 2;
    width: 500px;
    left: -30px;
    bottom: 0;
    margin-left: 0;
    position: absolute;
  }
}
@media screen and (max-width: 992px) {
  .offer {
    padding: 50px 0 60px;
  }
  .offer__info {
    text-align: left;
  }
  .offer__fields {
    margin-right: auto;
    margin-left: 0;
  }
  .offer__pick-checks {
    justify-content: flex-start;
  }
  .offer__btn {
    margin-bottom: 30px;
  }
  .offer__img {
    display: none;
  }
}