@import ../../sys/sass/vars

.consult
	&__title
		margin-bottom: 26px
	&__text
		margin-bottom: 74px
	&__form
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		padding: 24px 32px 40px
		box-shadow: 0px 4px 19px rgba($main, 0.08)
	&__col
		width: calc( 50% - 22px )
	&__field
		margin-bottom: 17px
		&:last-of-type
			margin-bottom: 0

@media screen and (max-width: 1220px)
	// .consult

@media screen and (max-width: 992px)
	// .consult

@media screen and (max-width: 767px)
	// .consult
