@import ../../sys/sass/vars

textarea
	appearance: none
	-webkit-appearance: none
	-moz-appearance: none
	border-radius: 0px
	-webkit-border-radius: 0px
	-moz-border-radius: 0px
	outline: none !important
	-webkit-tap-highlight-color: transparent

.textarea
	&__wrap
		position: relative
	&__label
		font-size: 18px
		font-family: $ffMain
		line-height: 28px
		margin-bottom: 9px
		display: block
	&__area
		width: 100%
		min-height: 250px
		color: $main
		font-size: $fzMain
		font-family: $ffMain
		font-weight: 400
		transition: .3s
		background: transparent
		position: relative
		resize: none
		&::placeholder
			color: $main
			font-size: $fzMain
			font-family: $ffMain
			font-weight: 400
			transition: .3s
			opacity: 1

	&.--gray
		.textarea
			&__area
				padding: 13px 12px
				border: 1px solid $dark-gray
				&::placeholder
					color: $dark-gray
				&:focus
					border-color: $main

	&.--sm
		.textarea
			&__area
				min-height: 134px

@media screen and (max-width: 767px)
	.textarea
		&__label
			font-size: 16px
			line-height: 26px

@media screen and (max-width: 390px)
	.textarea
		&__area
			min-height: 200px
			padding: 6px 10px
			&::placeholder
				font-size: 12px
		&__label
			font-size: 14px
			line-height: 22px

		&.--sm
			.textarea
				&__area
					min-height: 200px
