.google {
  padding: 87px 0;
}
.google__head {
  margin-bottom: 21px;
  position: relative;
}
.google__head:before, .google__head:after {
  content: "";
  background: #09B559;
  border-radius: 50%;
  position: absolute;
}
.google__head:before {
  top: 95px;
  right: 260px;
  width: 44px;
  height: 44px;
  opacity: 22%;
}
.google__head:after {
  top: 18px;
  right: 156px;
  width: 100px;
  height: 100px;
  opacity: 40%;
}
.google__title {
  margin-bottom: 35px;
}
.google__desc {
  max-width: 650px;
  line-height: 31px;
}
.google__wrap {
  display: flex;
  flex-wrap: wrap;
}
.google__img {
  top: 20px;
  max-width: 460px;
  margin-left: 32px;
  position: relative;
}
.google__info {
  width: calc( 100% - 460px - 32px );
  padding-left: 65px;
}
.google__subtitle {
  margin-bottom: 52px;
}
.google__list {
  font-weight: 700;
  margin-bottom: 56px;
}
.google__text {
  line-height: 31px;
}
.google__text p {
  margin-bottom: 30px;
}
.google__text p:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 1220px) {
  .google__head {
    margin-bottom: 40px;
  }
  .google__head:before {
    right: 160px;
  }
  .google__head:after {
    right: 45px;
  }
  .google__img {
    max-width: 390px;
    margin-left: 0;
  }
  .google__info {
    width: calc( 100% - 390px );
  }
}
@media screen and (max-width: 992px) {
  .google__head:before {
    right: 100px;
  }
  .google__head:after {
    right: 0;
  }
  .google__title {
    margin-bottom: 23px;
  }
  .google__desc {
    max-width: 530px;
  }
  .google__desc br {
    display: none;
  }
  .google__img {
    max-width: 300px;
  }
  .google__info {
    width: calc( 100% - 300px );
    padding-left: 35px;
  }
  .google__subtitle {
    margin-bottom: 38px;
  }
  .google__list {
    margin-bottom: 38px;
  }
  .google__text {
    margin-left: -335px;
  }
}
@media screen and (max-width: 767px) {
  .google__head {
    margin-bottom: 47px;
  }
  .google__head:before, .google__head:after {
    display: none;
  }
  .google__desc {
    max-width: 100%;
    line-height: 28px;
  }
  .google__img {
    display: none;
  }
  .google__info {
    width: 100%;
    padding-left: 0;
  }
  .google__text {
    margin-left: 0;
  }
}
@media screen and (max-width: 580px) {
  .google__desc {
    line-height: 26px;
  }
  .google__text {
    line-height: 26px;
  }
  .google__text p {
    margin-bottom: 20px;
  }
}