include ../../sys/pug/vars

.google.pad-none
	.case
		.google__head
			.google__title.h3 #[h3 Google]
			.google__desc.t1 Создание и ведение рекламы в Google Ads (Adwords) поможет охватить значительную долю мобильного трафика и аудиторию второго #[br]по популярности поисковика в рунете.
		.google__wrap
			.google__img
				img(src="_/uploads/google-img.svg", alt="")
			.google__info
				.google__subtitle.h3 #[h3 Особенности рекламы в Google:]
				.google__list.list-check
					ul
						li Охват более молодой аудитории клиентов
						li Больше трафика с мобильных устройств
						li Повышение качества мобильного трафика с помощью гибких настроек рекламы
				.google__text.t1
					p Google Adwords, Google Merchant, динамические поисковые объявления, динамические медийные объявления, видеореклама Trueview на Youtube, товарные объявления, мобильная реклама.
					p Все специалисты, работающие с рекламными кампаниями клиентов, являются сертифицированными.
