include ../../sys/pug/vars

.calc
	.case
		.calc__wrap
			.calc__info
				.calc__title.h2 #[h2 Узнайте стоимость продвижения своего сайта прямо сейчас]
				.calc__subtitle.h3 #[h3 Получите #[u скидку 10%], #[br]заполнив калькулятор]
				form.calc__form
					.calc__item 
					.calc__item 
					.calc__item 
					.calc__item 
					.calc__item 
			.calc__img
				img(src="_/uploads/calc-img.svg", alt="")