@import ../../sys/sass/vars

.start
	color: #fff
	position: relative
	&__wrap
		display: flex
		flex-wrap: wrap
	&__info
		width: calc( 100% - 862px + 303px)
		padding: 44px 128px 82px 0
		background: $main
		position: relative
		&:before
			z-index: -1
			content: ""
			top: 0
			left: -100%
			width: 100%
			height: 100%
			background: $main
			position: absolute
	&__title
		margin-bottom: 50px
	&__desc
		font-style: italic
		margin-bottom: 45px
	&__btn
		font-size: 18px
		font-weight: 400
		max-width: 254px
	&__img
		top: 0
		right: -293px
		width: 862px
		height: 100%
		position: absolute

@media screen and (max-width: 1220px)
	.start
		&__info
			width: calc( 100% - 750px + 303px)
			padding: 40px 40px 70px 0
		&__img
			width: 750px

@media screen and (max-width: 992px)
	.start
		background: $main
		padding-bottom: 80px
		&__img
			order: 1
			width: 135%
			height: 400px
			left: 50%
			right: auto
			transform: translateX(-50%)
		&__info
			order: 2
			width: 100%
			margin-top: calc( 400px + 60px )
			padding: 0
			&:before
				display: none

@media screen and (max-width: 767px)
	.start
		&__img
			height: 350px
		&__info
			margin-top: calc( 350px + 60px )
		&__title
			margin-bottom: 38px
		&__desc
			font-size: 18px
		&__btn
			max-width: 296px

@media screen and (max-width: 580px)
	.start
		&__img
			height: 300px
		&__info
			margin-top: calc( 300px + 60px )
		&__title
			padding-right: 70px
		&__btn
			max-width: 100%

@media screen and (max-width: 390px)
	.start
		padding-bottom: 83px
		&__img
			height: 212px
		&__info
			margin-top: calc( 212px + 60px )
		&__title
			padding-right: 0
		&__desc
			margin-bottom: 56px
