@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
*, :before, :after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
}

html.with-fancybox {
  overflow: hidden;
}

body {
  color: #272727;
  font-weight: 400;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font: inherit;
  display: inline;
}

ol, ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

li {
  display: block;
  list-style-image: none;
}

a {
  color: #272727;
  text-decoration: none;
  outline: none;
  transition: 0.3s;
}

input, textarea, button {
  outline: none;
  appearance: none;
}

var {
  font-style: normal;
}

strong {
  font-weight: 700;
}

i {
  font-style: normal;
}

u {
  text-decoration: none;
}

picture {
  display: block;
}

img {
  display: block;
  max-width: 100% !important;
  max-height: 100% !important;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

svg {
  display: block;
}

path, circle, rect, line {
  transition: 0.3s;
}

.case {
  position: relative;
  width: 1330px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}
.case .case {
  width: auto;
  padding-left: 0;
  padding-right: 0;
}
@media screen and (max-width: 1220px) {
  .case {
    width: 960px;
  }
}
@media screen and (max-width: 992px) {
  .case {
    width: 730px;
  }
}
@media screen and (max-width: 767px) {
  .case {
    width: 560px;
  }
}
@media screen and (max-width: 580px) {
  .case {
    width: 390px;
  }
}
@media screen and (max-width: 410px) {
  .case {
    width: 100%;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.btn {
  z-index: 1;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  color: #272727;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  overflow: hidden;
  background: transparent;
  transition: 0.3s;
  border: none;
  outline: none;
}
.btn img {
  margin-left: 10px;
}
.btn.--white {
  color: #272727;
  background: #fff;
}
.btn.--white:hover {
  color: #fff;
  background: #09B559;
}
.btn.--green {
  color: #fff;
  background: #09B559;
}
.btn.--green:hover {
  background: rgba(9, 181, 89, 0.7);
}
.btn.--h-dark:hover {
  background: #272727;
}
.btn.--sm {
  min-height: 46px;
}
.btn.--md {
  min-height: 51px;
}

input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
input[type=text], input[type=tel], input[type=email] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.input {
  width: 100%;
  display: block;
  transition: 0.3s;
  position: relative;
}
.input__wrap {
  position: relative;
}
.input__area {
  width: 100%;
  color: #272727;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  transition: 0.3s;
  background: transparent;
  position: relative;
}
.input__area::placeholder {
  color: #272727;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  transition: 0.3s;
}
.input__area:focus::placeholder {
  opacity: 0;
}
.input.--b-black .input__area {
  font-size: 18px;
  padding-bottom: 8px;
  border-bottom: 1px solid #272727;
}
.input.--b-black .input__area::placeholder {
  color: #B7B7B7;
  font-size: 18px;
}
.input.--b-black.--error .input__area {
  border-bottom-color: #C00000;
}
.input.--b-white .input__area {
  color: #fff;
  font-size: 18px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.44);
}
.input.--b-white .input__area::placeholder {
  color: rgba(255, 255, 255, 0.44);
  font-size: 18px;
}
.input.--b-white.--error .input__area {
  border-bottom-color: #C00000;
}

.check {
  cursor: pointer;
  transition: 0.3s;
}
.check__input {
  display: none;
}
.check__wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}
.check__point {
  position: relative;
}
.check__icon {
  transition: 0.3s;
}
.check__text {
  font-size: 18px;
  font-weight: 400;
  transition: 0.3s;
}
.check.--sq .check__point {
  width: 29px;
  height: 29px;
  border: 1px solid #272727;
}
.check.--sq .check__point:before {
  content: "";
  width: 18px;
  height: 13px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.3s;
  position: absolute;
  background: url("../../sys/imgs/check.svg") no-repeat;
  opacity: 0;
  visibility: hidden;
}
.check.--sq .check__text {
  width: calc( 100% - 29px );
  padding-left: 15px;
}
.check.--sq.--white .check__point {
  border-color: #fff;
}
.check.--sq.--white .check__point:before {
  background: url("../../sys/imgs/check-white.svg") no-repeat;
}
.check.--sq.--checked .check__point:before {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}
.check.--icon .check__wrap {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.check.--icon .check__icon {
  height: 41px;
}
.check.--icon .check__text {
  font-size: 14px;
  font-weight: 700;
}
.check.--icon.--checked .check__icon svg path[fill], .check.--icon.--checked .check__icon svg rect[fill], .check.--icon.--checked .check__icon svg circle[fill], .check.--icon.--checked .check__icon svg line[fill] {
  fill: #09B559;
}
.check.--icon.--checked .check__icon svg path[stroke], .check.--icon.--checked .check__icon svg rect[stroke], .check.--icon.--checked .check__icon svg circle[stroke], .check.--icon.--checked .check__icon svg line[stroke] {
  stroke: #09B559;
}
.check.--icon.--checked .check__text {
  color: #09B559;
}
.check.--icon.--checked:hover .check__icon {
  transform: translateY(0);
}
.check.--icon:hover .check__icon {
  transform: translateY(-3px);
}

.h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 73px;
}

.h2 {
  font-size: 35px;
  font-weight: 700;
  line-height: 56px;
}

.h3 {
  font-size: 30px;
  font-weight: 700;
  line-height: 44px;
}

.h4 {
  font-size: 28px;
  font-weight: 700;
  line-height: 41px;
}

.h5 {
  font-size: 23px;
  font-weight: 700;
  line-height: 36px;
}

.h6 {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}

.t1 {
  font-size: 18px;
  line-height: 28px;
}

.inner {
  overflow: hidden;
}

.overflow-disable {
  overflow: hidden;
}

.pad-none {
  padding: 0 !important;
}

.logo {
  width: 100%;
  display: block;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.socials__item {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}
.socials__item:last-of-type {
  margin-right: 0;
}
.socials.--green .socials__item {
  background: #09B559;
}
.socials.--green .socials__item:hover {
  background: rgba(9, 181, 89, 0.7);
}

.fadeIn {
  opacity: 0;
}
.fadeIn.--loaded {
  opacity: 1;
  transition: opacity 1.5s;
}