@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap");
*, :before, :after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
}

html.with-fancybox {
  overflow: hidden;
}

body {
  color: #272727;
  font-weight: 400;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font: inherit;
  display: inline;
}

ol, ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

li {
  display: block;
  list-style-image: none;
}

a {
  color: #272727;
  text-decoration: none;
  outline: none;
  transition: 0.3s;
}

input, textarea, button {
  outline: none;
  appearance: none;
}

var {
  font-style: normal;
}

strong {
  font-weight: 700;
}

i {
  font-style: normal;
}

u {
  text-decoration: none;
}

picture {
  display: block;
}

img {
  display: block;
  max-width: 100% !important;
  max-height: 100% !important;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

svg {
  display: block;
}

path, circle, rect, line {
  transition: 0.3s;
}

.case {
  position: relative;
  width: 1330px;
  padding: 0 10px;
  margin: 0 auto;
}
.case .case {
  width: auto;
  padding-left: 0;
  padding-right: 0;
}
@media screen and (max-width: 1360px) {
  .case {
    width: 1200px;
  }
}
@media screen and (max-width: 1220px) {
  .case {
    width: 960px;
  }
}
@media screen and (max-width: 992px) {
  .case {
    width: 730px;
  }
}
@media screen and (max-width: 767px) {
  .case {
    width: 560px;
  }
}
@media screen and (max-width: 580px) {
  .case {
    width: 390px;
  }
}
@media screen and (max-width: 390px) {
  .case {
    width: 100%;
    padding: 0 12px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.btn {
  z-index: 1;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  color: #272727;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  overflow: hidden;
  background: transparent;
  transition: 0.3s;
  border: none;
  outline: none;
}
.btn svg {
  margin-left: 10px;
}
.btn.--white {
  color: #272727;
  background: #fff;
}
.btn.--white:hover {
  color: #fff;
  background: #09B559;
}
.btn.--black {
  color: #fff;
  background: #272727;
}
.btn.--b-white {
  color: #fff;
  border: 1px solid #fff;
}
.btn.--b-white:hover {
  color: #09B559;
  background: #fff;
}
.btn.--g-white {
  color: #09B559;
  background: #fff;
}
.btn.--g-white:hover {
  color: #fff;
  background: #272727;
}
.btn.--green {
  color: #fff;
  background: #09B559;
}
.btn.--green:hover {
  background: rgba(9, 181, 89, 0.7);
}
.btn.--h-dark:hover {
  background: #272727;
}
.btn.--h-white:hover {
  color: #09B559;
  background: #fff;
}
.btn.--h-white:hover svg path {
  fill: #09B559;
}
.btn.--h-green:hover {
  color: #fff;
  background: #09B559;
}
.btn.--sm {
  min-height: 46px;
}
.btn.--md {
  min-height: 51px;
}

input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
input[type=text], input[type=tel], input[type=email] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.input {
  width: 100%;
  display: block;
  transition: 0.3s;
  position: relative;
}
.input__wrap {
  position: relative;
}
.input__label {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 9px;
  display: block;
}
.input__area {
  width: 100%;
  color: #272727;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  transition: 0.3s;
  background: transparent;
  position: relative;
}
.input__area::placeholder {
  color: #272727;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  transition: 0.3s;
}
.input__area:focus::placeholder {
  opacity: 0;
}
.input__error {
  color: #C00000;
  font-size: 12px;
  margin-top: 2px;
  transition: 0.3s;
}
.input.--gray .input__area {
  padding: 8.5px 12px;
  border: 1px solid #CCCCCC;
}
.input.--gray .input__area::placeholder {
  color: #CCCCCC;
}
.input.--gray .input__area:focus {
  border-color: #272727;
}
.input.--gray.--error .input__area {
  border-color: #C00000;
}
.input.--b-black .input__area {
  font-size: 18px;
  padding-bottom: 8px;
  border-bottom: 1px solid #272727;
}
.input.--b-black .input__area::placeholder {
  color: #B7B7B7;
  font-size: 18px;
}
.input.--b-black.--error .input__area {
  border-bottom-color: #C00000;
}
.input.--b-white .input__area {
  color: #fff;
  font-size: 18px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.44);
}
.input.--b-white .input__area::placeholder {
  color: rgba(255, 255, 255, 0.44);
  font-size: 18px;
}
.input.--b-white.--error .input__area {
  border-bottom-color: #C00000;
}

@media screen and (max-width: 767px) {
  .input__label {
    font-size: 16px;
    line-height: 26px;
  }
}
@media screen and (max-width: 580px) {
  .input.--b-white .input__area {
    border-bottom-color: #fff;
  }
}
@media screen and (max-width: 390px) {
  .input__label {
    font-size: 14px;
    line-height: 22px;
  }
  .input.--gray .input__area {
    font-size: 12px;
    padding: 6px 10px;
  }
  .input.--gray .input__area::placeholder {
    font-size: 12px;
  }
  .input.--b-black .input__area {
    padding-bottom: 10px;
  }
}
.check {
  cursor: pointer;
  transition: 0.3s;
}
.check__input {
  display: none;
}
.check__wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}
.check__point {
  position: relative;
}
.check__icon {
  transition: 0.3s;
}
.check__text {
  font-size: 18px;
  font-weight: 400;
  transition: 0.3s;
  -webkit-tap-highlight-color: transparent;
}
.check.--sq .check__point {
  width: 29px;
  height: 29px;
  border: 1px solid #272727;
}
.check.--sq .check__point:before {
  content: "";
  width: 18px;
  height: 13px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.3s;
  position: absolute;
  background: url("../../sys/imgs/check.svg") no-repeat;
  opacity: 0;
  visibility: hidden;
}
.check.--sq .check__text {
  width: calc( 100% - 29px );
  padding-left: 15px;
}
.check.--sq.--white .check__point {
  border-color: #fff;
}
.check.--sq.--white .check__point:before {
  background: url("../../sys/imgs/check-white.svg") no-repeat;
}
.check.--sq.--checked .check__point:before {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}
.check.--icon .check__wrap {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.check.--icon .check__icon {
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.check.--icon .check__text {
  font-size: 14px;
  font-weight: 700;
}
.check.--icon.--checked .check__icon svg path[fill], .check.--icon.--checked .check__icon svg rect[fill], .check.--icon.--checked .check__icon svg circle[fill], .check.--icon.--checked .check__icon svg line[fill] {
  fill: #09B559;
}
.check.--icon.--checked .check__icon svg path[stroke], .check.--icon.--checked .check__icon svg rect[stroke], .check.--icon.--checked .check__icon svg circle[stroke], .check.--icon.--checked .check__icon svg line[stroke] {
  stroke: #09B559;
}
.check.--icon.--checked .check__text {
  color: #09B559;
}
.check.--icon.--checked:hover .check__icon {
  transform: translateY(0);
}
.check.--icon:hover .check__icon {
  transform: translateY(-3px);
}

@media screen and (max-width: 767px) {
  .check.--icon .check__icon {
    width: 28px;
    height: 31px;
    margin-bottom: 7px;
    position: relative;
  }
  .check.--icon .check__icon svg {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .check.--icon .check__text {
    font-size: 13px;
  }
}
@media screen and (max-width: 580px) {
  .check.--icon:hover .check__icon {
    transform: translateY(0);
  }
}
@media screen and (max-width: 390px) {
  .check.--icon .check__text {
    font-size: 11px;
  }
}
.select {
  z-index: 10;
  width: 100%;
  transition: 0.3s;
  position: relative;
  cursor: pointer;
}
.select select {
  display: none;
}
.select__wrap {
  position: relative;
}
.select__label {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 9px;
  display: block;
}
.select__area {
  color: #272727;
  font-size: 16px;
  background: #fff;
  border: 1px solid #CCCCCC;
  padding: 8px 12px;
  transition: 0.3s;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.select__title {
  color: #CCCCCC;
  width: calc(100% - 21px);
  padding-right: 20px;
  transition: 0.3s;
}
.select__icon {
  width: 21px;
  height: 14px;
  transition: 0.3s;
  background: url(../../sys/imgs/chevron.svg) no-repeat;
  position: relative;
}
.select__drop {
  width: 100%;
  top: 100%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  color: #272727;
  background: #fff;
  border: 1px solid #272727;
  overflow: auto;
  transition: 0.3s;
  padding: 5px;
  padding-left: 0;
}
.select__list {
  max-height: 145px;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #CCCCCC #fff;
}
.select__list::-webkit-scrollbar {
  width: 4px;
}
.select__list::-webkit-scrollbar-thumb {
  background: #CCCCCC;
  border-radius: 20px;
}
.select__item {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 15px;
  padding: 8px 12px;
  transition: 0.3s;
}
.select__item:hover {
  color: #09B559;
}
.select.--filled .select__title {
  color: #272727;
}
.select.--open {
  z-index: 100;
}
.select.--open .select__area {
  z-index: 2;
  border-color: #272727;
  border-bottom-color: transparent;
}
.select.--open .select__icon {
  transform: scale(1, -1);
}
.select.--open .select__drop {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

@media screen and (max-width: 767px) {
  .select__label {
    font-size: 16px;
    line-height: 26px;
  }
}
@media screen and (max-width: 390px) {
  .select__label {
    font-size: 14px;
    line-height: 22px;
  }
  .select__area {
    padding: 6px 10px;
  }
  .select__title {
    font-size: 12px;
  }
}
textarea {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.textarea__wrap {
  position: relative;
}
.textarea__label {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  line-height: 28px;
  margin-bottom: 9px;
  display: block;
}
.textarea__area {
  width: 100%;
  min-height: 250px;
  color: #272727;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  transition: 0.3s;
  background: transparent;
  position: relative;
  resize: none;
}
.textarea__area::placeholder {
  color: #272727;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  transition: 0.3s;
  opacity: 1;
}
.textarea.--gray .textarea__area {
  padding: 13px 12px;
  border: 1px solid #CCCCCC;
}
.textarea.--gray .textarea__area::placeholder {
  color: #CCCCCC;
}
.textarea.--gray .textarea__area:focus {
  border-color: #272727;
}
.textarea.--sm .textarea__area {
  min-height: 134px;
}

@media screen and (max-width: 767px) {
  .textarea__label {
    font-size: 16px;
    line-height: 26px;
  }
}
@media screen and (max-width: 390px) {
  .textarea__area {
    min-height: 200px;
    padding: 6px 10px;
  }
  .textarea__area::placeholder {
    font-size: 12px;
  }
  .textarea__label {
    font-size: 14px;
    line-height: 22px;
  }
  .textarea.--sm .textarea__area {
    min-height: 200px;
  }
}
.h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 73px;
}

.h2 {
  font-size: 35px;
  font-weight: 700;
  line-height: 56px;
}

.h3 {
  font-size: 30px;
  font-weight: 700;
  line-height: 44px;
}

.h4 {
  font-size: 28px;
  font-weight: 700;
  line-height: 41px;
}

.h5 {
  font-size: 23px;
  font-weight: 700;
  line-height: 36px;
}

.h6 {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}

.t1 {
  font-size: 18px;
  line-height: 28px;
}

.inner {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.overflow-disable {
  overflow: hidden;
}

.page {
  padding-top: 37px;
}
.page__title {
  margin-bottom: 40px;
  display: block;
}

.page-text {
  padding: 38px 0 82px;
}
.page-text h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 73px;
  margin-left: 5px;
  margin-bottom: 39px;
  display: block;
}
.page-text h3 {
  font-size: 18px;
  line-height: 29px;
  margin-left: 4px;
  margin-bottom: 37px;
  display: block;
}
.page-text h3:last-of-type {
  margin-bottom: 0;
}
.page-text h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  margin-left: 5px;
  margin-bottom: 50px;
  display: block;
}
.page-text h5 {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 87px;
  margin-bottom: 43px;
  display: block;
}
.page-text h5.sm {
  margin-top: 61px;
}
.page-text h5.md {
  margin-top: 133px;
}
.page-text h6 {
  margin-top: 60px;
  margin-bottom: 60px;
  display: block;
}
.page-text p {
  line-height: 25.5px;
  margin-bottom: 28px;
  text-align: justify;
  display: block;
}
.page-text p a {
  color: #09B559;
  border-bottom: 1px solid #09B559;
}
.page-text p a:hover {
  border-color: transparent;
}
.page-text p a[href^=tel] {
  color: #272727;
  border-bottom: none;
}
.page-text p a[href^=mailto] {
  border-bottom: none;
}
.page-text ul {
  flex-direction: column;
  margin-bottom: 26px;
}
.page-text ul li {
  line-height: 26px;
  margin-bottom: 26px;
}
.page-text ul li:last-of-type {
  margin-bottom: 0;
}
.page-text__req-item {
  margin-bottom: 50px;
}
.page-text__req-item p {
  margin-bottom: 0;
}
.page-text__req-item:last-of-type {
  margin-bottom: 0;
}
.page-text.--offer {
  padding: 38px 0 125px;
}
.page-text.--offer h4 {
  line-height: 38px;
  margin-left: 7px;
  margin-top: -10px;
  margin-bottom: 28px;
  max-width: 500px;
}
.page-text.--offer h5 {
  margin-top: 62px;
}
.page-text.--offer p {
  line-height: 26px;
  margin-bottom: 26px;
}
.page-text.--offer .page-text__req {
  margin-top: 90px;
  margin-left: 4px;
}
.page-text.--offer .page-text__req-item p {
  margin-bottom: 0;
}
.page-text.--offer .page-text__req-item:last-of-type {
  margin-bottom: 0;
}

.pad-none {
  padding: 0 !important;
}

.logo {
  width: 100%;
  display: block;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.socials__item {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  margin-right: 12px;
}
.socials__item img {
  width: 19px;
}
.socials__item:last-of-type {
  margin-right: 0;
}
.socials__item:hover {
  background: #272727;
}
.socials.--green .socials__item {
  background: #09B559;
}
.socials.--green .socials__item:hover {
  background: rgba(9, 181, 89, 0.7);
}

.cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}
.pagination__arrow {
  width: 37px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #272727;
  background: #272727;
}
.pagination__arrow svg path {
  fill: #fff;
}
.pagination__arrow:hover {
  background: #09B559;
  border-color: #09B559;
}
.pagination__arrow.--disabled {
  cursor: default;
  background: transparent;
}
.pagination__arrow.--disabled svg path {
  fill: #272727;
}
.pagination__links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 22px;
}
.pagination__link {
  font-size: 18px;
  margin-right: 10px;
}
.pagination__link:last-of-type {
  margin-right: 0;
}
.pagination__link:hover {
  color: #09B559;
}
.pagination__link.--active {
  color: #09B559;
  font-weight: 700;
}
.pagination__inter {
  cursor: default;
  margin-right: 10px;
}

.t-links {
  margin-bottom: 74px;
  transition: 0.3s;
}
.t-links__current {
  color: #272727;
  font-size: 18px;
  font-weight: 700;
  padding: 12px 10px;
  display: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.3s;
}
.t-links__current span {
  width: calc( 100% - 19px );
  padding-right: 20px;
  transition: 0.3s;
}
.t-links__current img {
  width: 19px;
  top: 2px;
  transition: 0.3s;
  position: relative;
}
.t-links__item {
  width: auto !important;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  background: #ABABAB;
  padding: 13px 21px;
  transition: 0.3s;
  text-align: center;
  cursor: pointer;
  margin-right: 12px;
}
.t-links__item:last-of-type {
  margin-right: 0;
}
.t-links__item:hover {
  background: #09B559;
}
.t-links__item.--wide {
  min-width: 137px;
}
.t-links__item.--active {
  background: #09B559;
}

.list-check ul {
  flex-direction: column;
}
.list-check ul li {
  padding-top: 5px;
  padding-left: 52px;
  margin-bottom: 40px;
  position: relative;
}
.list-check ul li:before, .list-check ul li:after {
  content: "";
  position: absolute;
}
.list-check ul li:before {
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  background: #09B559;
  border-radius: 50%;
}
.list-check ul li:after {
  z-index: 1;
  top: 9px;
  left: 7px;
  width: 20px;
  height: 14px;
  background: url("../../sys/imgs/check-white-2.svg") no-repeat;
}
.list-check ul li:last-of-type {
  margin-bottom: 0;
}

.list-ar ul {
  flex-direction: column;
}
.list-ar ul li {
  padding-left: 35px;
  margin-bottom: 22px;
  position: relative;
}
.list-ar ul li:before {
  content: "";
  z-index: 1;
  top: 7px;
  left: 0;
  width: 22px;
  height: 16px;
  background: url("../../sys/imgs/arrow-green.svg") no-repeat;
  position: absolute;
}
.list-ar ul li:last-of-type {
  margin-bottom: 0;
}

.file {
  transition: 0.3s;
  cursor: pointer;
}
.file__input {
  display: none;
}
.file__label {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 9px;
  display: block;
}
.file__wrap {
  width: 100%;
  color: #272727;
  font-size: 16px;
  transition: 0.3s;
  padding: 8.5px 12px;
  border: 1px solid #CCCCCC;
  background: transparent;
  position: relative;
}
.file__placeholder {
  color: #CCCCCC;
  transition: 0.3s;
  display: block;
}
.file.--filled .file__placeholder {
  display: none;
}

.swiper-button-prev, .swiper-button-next {
  z-index: 50;
  width: auto;
  transition: 0.3s;
}
.swiper-button-prev:before, .swiper-button-prev:after, .swiper-button-next:before, .swiper-button-next:after {
  display: none;
}
.swiper-button-prev.--black:hover svg path, .swiper-button-next.--black:hover svg path {
  stroke: #09B559;
}
.swiper-button-prev.--gray, .swiper-button-next.--gray {
  border: 1px solid #B6B6B6;
}
.swiper-button-prev.--gray:hover, .swiper-button-next.--gray:hover {
  border-color: #09B559;
}
.swiper-button-prev.--gray:hover svg path, .swiper-button-next.--gray:hover svg path {
  fill: #09B559;
}

.swiper-button-prev img {
  transform: scale(-1, 1);
}

.swiper-pagination-fraction {
  font-size: 28px;
  font-weight: 700;
  transition: 0.3s;
}
.swiper-pagination-fraction .swiper-pagination-current {
  color: #09B559;
  transition: 0.3s;
}

.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #09B559;
  margin: 0 5.5px !important;
  transition: 0.3s;
  cursor: pointer;
}

.fadeIn {
  opacity: 0;
}
.fadeIn.loaded {
  opacity: 1;
  transition: opacity 1.5s;
}

.modal {
  width: 100%;
  background: rgba(39, 39, 39, 0.4);
  margin: 0 auto;
  position: relative;
  transition: 0.3s;
  display: none;
}

.sitemap {
  padding: 100px 0;
}
.sitemap__title {
  margin-bottom: 40px;
}
.sitemap__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sitemap__list ul {
  flex-direction: column;
}
.sitemap__list ul li {
  margin-bottom: 15px;
}
.sitemap__list ul li:last-of-type {
  margin-bottom: 0;
}
.sitemap__list ul li a {
  font-size: 20px;
  font-weight: 500;
}
.sitemap__list ul li:hover a {
  color: #09B559;
}
.sitemap__list ul li.--done a {
  color: #09B559;
}
.sitemap__list ul li.--resp a {
  color: #CCCCCC;
}

@media screen and (max-width: 1220px) {
  .h1 {
    font-size: 45px;
    line-height: 65px;
  }

  .h3 {
    font-size: 28px;
    line-height: 40px;
  }

  .h4 {
    font-size: 25px;
    line-height: 36px;
  }

  .h5 {
    font-size: 21px;
    line-height: 31px;
  }
}
@media screen and (max-width: 992px) {
  .h1 {
    font-size: 42px;
    line-height: 55px;
  }

  .h2 {
    font-size: 32px;
    line-height: 42px;
  }

  .h3 {
    font-size: 26px;
    line-height: 38px;
  }

  .h4 {
    font-size: 21px;
    line-height: 30px;
  }

  .t1 {
    font-size: 17px;
    line-height: 27px;
  }

  .page-text h1 {
    font-size: 40px;
    line-height: 50px;
    margin-left: 0;
    margin-bottom: 30px;
  }
  .page-text h4 {
    margin-left: 0;
  }

  .t-links {
    margin-bottom: 54px;
  }
  .t-links__item {
    padding: 10px 20px;
  }
  .t-links__item.--wide {
    min-width: 100px;
  }

  .list-check ul li {
    padding-top: 0;
    margin-bottom: 30px;
  }

  .sitemap__list ul {
    width: 50%;
    margin-bottom: 40px;
  }
  .sitemap__list ul:last-of-type {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 767px) {
  .h1 {
    font-size: 35px;
    line-height: 44px;
  }

  .h2 {
    font-size: 27px;
    line-height: 40px;
  }

  .h5 {
    font-size: 20px;
    line-height: 28px;
  }

  .h6 {
    font-size: 16px;
    line-height: 25px;
  }

  .t1 {
    font-size: 16px;
    line-height: 26px;
  }

  .t-links {
    overflow: visible;
    border: 1px solid #272727;
  }
  .t-links__wrap {
    z-index: 10;
    height: 0;
    opacity: 0;
    transition: 0.3s;
    visibility: hidden;
    flex-direction: column;
    position: absolute;
    background: #fff;
    border: 1px solid #272727;
    border-top: none;
    top: 48px;
    left: 50%;
    transform: translateX(-50%);
  }
  .t-links__current {
    display: flex;
  }
  .t-links__item {
    color: rgba(39, 39, 39, 0.5);
    padding: 10px 0;
    margin: 0 10px;
    border-bottom: 1px solid #CCCCCC;
    margin-right: 0;
    text-align: left;
    background: transparent;
  }
  .t-links__item:hover {
    color: #09B559;
    background: transparent;
  }
  .t-links__item.--wide {
    min-width: auto;
  }
  .t-links__item.--active {
    background: transparent;
  }
  .t-links.--toggle .t-links__current img {
    transform: scale(1, -1);
  }
  .t-links.--toggle .t-links__wrap {
    height: auto;
    opacity: 1;
    visibility: visible;
  }

  .file__label {
    font-size: 16px;
    line-height: 26px;
  }

  .swiper-pagination-fraction {
    font-size: 25px;
  }

  .sitemap {
    padding: 50px 0 70px;
  }
  .sitemap__list ul li a {
    font-size: 18px;
  }
}
@media screen and (max-width: 580px) {
  .h1 {
    font-size: 30px;
    line-height: 44px;
  }

  .h2 {
    font-size: 23px;
    line-height: 37px;
  }

  .h5 {
    font-size: 18px;
    line-height: 28px;
  }

  .socials__item {
    width: 32px;
    height: 32px;
  }
  .socials__item img {
    width: 17px;
  }

  .page__title {
    margin-bottom: 25px;
  }

  .sitemap {
    padding: 35px 0 70px;
  }
  .sitemap__list ul {
    width: 100%;
  }
}
@media screen and (max-width: 390px) {
  .socials__item {
    width: 23px;
    height: 23px;
    margin-right: 15px;
  }
  .socials__item img {
    width: 13px;
  }

  .pagination {
    margin-top: 46px;
  }

  .page {
    padding-top: 22px;
  }
  .page__title {
    margin-bottom: 15px;
  }

  .t-links {
    margin-bottom: 33px;
  }

  .file__label {
    font-size: 14px;
    line-height: 22px;
  }
  .file__wrap {
    padding: 6px 10px;
  }
  .file__placeholder {
    font-size: 12px;
  }

  .sitemap {
    padding: 25px 0 50px;
  }
  .sitemap__list ul {
    margin-bottom: 25px;
  }
  .sitemap__list ul li {
    margin-bottom: 10px;
  }
  .sitemap__list ul li a {
    font-size: 16px;
  }
}