.certs {
  padding: 88px 0;
}
.certs__title {
  margin-bottom: 27px;
}
.certs__text {
  margin-bottom: 54px;
  line-height: 26px;
}
.certs__list {
  width: 100%;
  max-width: 1135px;
  margin: 0 auto;
}
.certs__list-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -25px -50px;
}
.certs__item {
  width: calc( 100% / 4 - 50px);
  height: 347px;
  margin: 0 25px 50px;
  box-shadow: 0px 4px 19px rgba(39, 39, 39, 0.1);
}
.certs__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.certs__item.w2 {
  width: calc( 50% - 62px);
  height: 372px;
}
.certs__item:hover {
  transform: translateY(-5px);
}

@media screen and (max-width: 1220px) {
  .certs {
    padding: 60px 0 75px;
  }
  .certs__list {
    max-width: 100%;
  }
  .certs__list-wrap {
    margin: 0 -10px -30px;
  }
  .certs__item {
    width: calc( 100% / 4 - 20px);
    height: 315px;
    margin: 0 10px 30px;
  }
  .certs__item.w2 {
    width: calc( 50% - 20px);
    height: 325px;
  }
}
@media screen and (max-width: 992px) {
  .certs__item.w2 {
    height: 245px;
  }
}
@media screen and (max-width: 767px) {
  .certs {
    padding: 80px 0;
  }
  .certs__title {
    margin-bottom: 23px;
  }
  .certs__text {
    font-size: 14px;
  }
}