.certs {
  padding: 88px 0;
}
.certs__title {
  margin-bottom: 27px;
}
.certs__text {
  margin-bottom: 54px;
  line-height: 26px;
}
.certs__list {
  width: 100%;
  max-width: 1135px;
  margin: 0 auto;
}
.certs__list-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -25px -50px;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}
.certs__item {
  width: calc( 100% / 4 - 50px);
  height: 347px;
  margin: 0 25px 50px;
  box-shadow: 0px 4px 19px rgba(39, 39, 39, 0.1);
  position: relative;
  filter: blur(0);
  -webkit-filter: blur(0);
}
.certs__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.certs__item.w2 {
  width: calc( 50% - 62px);
  height: 372px;
}
.certs__item.w2:nth-of-type(2) {
  margin-left: auto;
}
.certs__item:hover {
  transform: translateY(-5px);
}
.certs__arrows {
  display: none;
}

@media screen and (max-width: 1220px) {
  .certs {
    padding: 60px 0 75px;
  }
  .certs__list {
    max-width: 100%;
  }
  .certs__list-wrap {
    margin: 0 -10px -30px;
  }
  .certs__item {
    width: calc( 100% / 4 - 20px);
    height: 315px;
    margin: 0 10px 30px;
  }
  .certs__item.w2 {
    width: calc( 50% - 20px);
    height: 325px;
  }
}
@media screen and (max-width: 992px) {
  .certs__inner {
    max-width: 550px;
    margin: 0 auto;
    position: relative;
  }
  .certs__list-wrap {
    margin: 0;
    flex-wrap: nowrap;
  }
  .certs__item {
    width: calc( 50% - 10px ) !important;
    height: 380px;
    margin: 0;
  }
  .certs__item.w2 {
    width: 100% !important;
    height: 380px;
  }
  .certs__item:hover {
    transform: none;
  }
  .certs__arrows {
    display: block;
  }
  .certs__arrow {
    width: 42px;
    height: 42px;
  }
  .certs__arrow svg {
    width: 18px;
    height: 100%;
  }
  .certs__arrow.swiper-button-prev {
    left: -80px;
  }
  .certs__arrow.swiper-button-next {
    right: -80px;
  }
}
@media screen and (max-width: 767px) {
  .certs {
    padding: 80px 0;
  }
  .certs__title {
    margin-bottom: 23px;
  }
  .certs__text {
    font-size: 14px;
  }
  .certs__inner {
    max-width: 400px;
  }
  .certs__item {
    height: 285px;
  }
  .certs__item.w2 {
    height: 285px;
  }
  .certs__arrow.swiper-button-prev {
    left: -65px;
  }
  .certs__arrow.swiper-button-next {
    right: -65px;
  }
}
@media screen and (max-width: 580px) {
  .certs__inner {
    max-width: 280px;
  }
  .certs__item {
    height: 200px;
  }
  .certs__item.w2 {
    height: 200px;
  }
  .certs__arrow {
    width: 32px;
    height: 32px;
  }
  .certs__arrow.swiper-button-prev {
    left: -50px;
  }
  .certs__arrow.swiper-button-next {
    right: -50px;
  }
}
@media screen and (max-width: 390px) {
  .certs__text {
    margin-bottom: 36px;
  }
  .certs__inner {
    max-width: 218px;
  }
  .certs__item {
    height: 153px;
  }
  .certs__item.w2 {
    height: 153px;
  }
  .certs__arrow {
    width: 22px;
    height: 22px;
  }
  .certs__arrow svg {
    width: 12px;
  }
  .certs__arrow.swiper-button-prev {
    left: -40px;
  }
  .certs__arrow.swiper-button-next {
    right: -40px;
  }
}