include ../../sys/pug/vars

.certs
	.case
		.certs__title.h3 #[h3 Сертифицированное агентство]
		.certs__text.t1 Многие сертификаты и достижения свидетельствуют о том, что успешное продвижение сайтов и привлечение клиентов — работа, которую мы знаем и выполняем на «отлично». Многие сертификаты и достижения свидетельствуют о том, что успешное продвижение сайтов и привлечение клиентов — работа, которую мы знаем и выполняем на «отлично» Многие сертификаты и достижения свидетельствуют о том, что успешное продвижение сайтов и привлечение клиентов — работа, которую мы знаем и выполняем на «отлично»
		.certs__list
			.certs__list-wrap
				a.certs__item(href="").w2
					img(src="_/uploads/cert-1.jpg", alt="")
				a.certs__item(href="").w2
					img(src="_/uploads/cert-2.jpg", alt="")
				a.certs__item(href="")
					img(src="_/uploads/cert-3.jpg", alt="")
				a.certs__item(href="")
					img(src="_/uploads/cert-4.jpg", alt="")
				a.certs__item(href="")
					img(src="_/uploads/cert-5.jpg", alt="")
				a.certs__item(href="")
					img(src="_/uploads/cert-6.jpg", alt="")