input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
input[type=text], input[type=tel], input[type=email] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}
input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.input {
  width: 100%;
  display: block;
  transition: 0.3s;
  position: relative;
}
.input__wrap {
  position: relative;
}
.input__label {
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 9px;
  display: block;
}
.input__area {
  width: 100%;
  color: #272727;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  transition: 0.3s;
  background: transparent;
  position: relative;
}
.input__area::placeholder {
  color: #272727;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  transition: 0.3s;
}
.input__area:focus::placeholder {
  opacity: 0;
}
.input__error {
  color: #C00000;
  font-size: 12px;
  margin-top: 2px;
  transition: 0.3s;
}
.input.--gray .input__area {
  padding: 8px 12px;
  border: 1px solid #CCCCCC;
}
.input.--gray .input__area::placeholder {
  color: #CCCCCC;
}
.input.--gray .input__area:focus {
  border-color: #272727;
}
.input.--gray.--error .input__area {
  border-color: #C00000;
}
.input.--b-black .input__area {
  font-size: 18px;
  padding-bottom: 8px;
  border-bottom: 1px solid #272727;
}
.input.--b-black .input__area::placeholder {
  color: #B7B7B7;
  font-size: 18px;
}
.input.--b-black.--error .input__area {
  border-bottom-color: #C00000;
}
.input.--b-white .input__area {
  color: #fff;
  font-size: 18px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.44);
}
.input.--b-white .input__area::placeholder {
  color: rgba(255, 255, 255, 0.44);
  font-size: 18px;
}
.input.--b-white.--error .input__area {
  border-bottom-color: #C00000;
}

@media screen and (max-width: 580px) {
  .input.--b-white .input__area {
    border-bottom-color: #fff;
  }
}
@media screen and (max-width: 390px) {
  .input.--b-black .input__area {
    padding-bottom: 10px;
  }
}