.interface {
  padding: 87px 0 74px;
}
.interface__title {
  margin-bottom: 103px;
  margin-left: 3px;
}
.interface__list {
  margin-right: 18px;
}
.interface__list-wrap {
  margin: 0 -5px -70px;
  display: flex;
  flex-wrap: wrap;
}
.interface__item {
  width: calc( 100% / 3 - 10px);
  margin: 0 5px 70px;
  display: flex;
  flex-wrap: wrap;
}
.interface__item:nth-of-type(n+4) {
  margin: 0 5px 84px;
}
.interface__icon {
  width: 49px;
}
.interface__name {
  width: calc( 100% - 49px );
  padding-top: 4px;
  padding-left: 19px;
  line-height: 34px;
}

@media screen and (max-width: 1220px) {
  .interface {
    padding: 80px 0;
  }
  .interface__title {
    margin-bottom: 70px;
  }
  .interface__list {
    margin-right: 0;
  }
  .interface__list-wrap {
    margin: 0 -15px -60px;
  }
  .interface__item {
    width: calc( 100% / 3 - 30px);
    margin: 0 15px 60px;
  }
  .interface__item:nth-of-type(n+4) {
    margin: 0 15px 60px;
  }
  .interface__name {
    font-size: 20px;
    padding-left: 15px;
  }
}
@media screen and (max-width: 992px) {
  .interface__title {
    margin-bottom: 50px;
  }
  .interface__list-wrap {
    margin: 0 -15px -40px;
  }
  .interface__item {
    width: calc( 100% / 2 - 30px);
    margin: 0 15px 40px;
  }
  .interface__item:nth-of-type(n+4) {
    margin: 0 15px 40px;
  }
}