@import ../../sys/sass/vars

.interface
	padding: 87px 0 74px
	&__title
		margin-bottom: 103px
		margin-left: 3px
	&__list
		margin-right: 18px
	&__list-wrap
		margin: 0 -5px -70px
		display: flex
		flex-wrap: wrap
	&__item
		width: calc( 100% / 3 - 10px)
		margin: 0 5px 70px
		display: flex
		flex-wrap: wrap
		&:nth-of-type(n+4)
			margin: 0 5px 84px

	&__icon
		width: 49px
	&__name
		width: calc( 100% - 49px )
		padding-top: 4px
		padding-left: 19px
		line-height: 34px

@media screen and (max-width: 1220px)
	.interface
		padding: 80px 0
		&__title
			margin-bottom: 70px
			margin-left: 0
		&__list
			margin-right: 0
		&__list-wrap
			margin: 0 -15px -60px
		&__item
			width: calc( 100% / 3 - 30px)
			margin: 0 15px 60px
			&:nth-of-type(n+4)
				margin: 0 15px 60px
		&__name
			font-size: 20px
			padding-left: 15px

@media screen and (max-width: 992px)
	.interface
		&__title
			margin-bottom: 50px
		&__list-wrap
			margin: 0 -15px -40px
		&__item
			width: calc( 100% / 2 - 30px)
			margin: 0 15px 40px
			&:nth-of-type(n+4)
				margin: 0 15px 40px

@media screen and (max-width: 767px)
	.interface
		&__title
			margin-bottom: 40px
		&__list-wrap
			margin: 0 -10px -30px
		&__item
			width: calc( 100% / 2 - 20px)
			margin: 0 10px 30px
			&:nth-of-type(n+4)
				margin: 0 10px 30px
		&__icon
			width: 42px
		&__name
			width: calc( 100% - 42px )
			padding-left: 12px
			font-size: 18px
			line-height: 26px

@media screen and (max-width: 580px)
	.interface
		padding: 0 0 80px
		&__title
			margin-bottom: 26px
		&__list-wrap
			flex-direction: column
			margin: 0
		&__item
			width: 100%
			margin: 0
			margin-bottom: 20px
			align-items: center
			&:last-of-type
				margin-bottom: 0
			&:nth-of-type(n+4)
				margin: 0
				margin-bottom: 20px
				&:last-of-type
					margin-bottom: 0

		&__name
			padding-top: 0
			padding-left: 18px

@media screen and (max-width: 390px)
	// .interface
