.intro {
  padding: 60px 0 99px;
  background: linear-gradient(107.58deg, rgba(252, 252, 252, 0) 37.26%, rgba(9, 181, 89, 0.68) 84.78%);
}
.intro__wrap {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.intro__info {
  width: 492px;
  margin-left: 52px;
}
.intro__title {
  margin-bottom: 15px;
}
.intro__subtitle {
  margin-bottom: 30px;
}
.intro__arrow {
  width: 37px;
  height: 37px;
  margin-bottom: 35px;
  background: #09B559;
  border: 1px solid #09B559;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.intro__arrow:hover {
  background: transparent;
}
.intro__arrow:hover svg path {
  fill: #09B559;
}
.intro__desc {
  margin-bottom: 18px;
}
.intro__input {
  margin-bottom: 17px;
}
.intro__input:last-of-type {
  margin-bottom: 0;
}
.intro__actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 33px;
}
.intro__btn {
  font-size: 18px;
  font-weight: 400;
  max-width: 273px;
}
.intro__check {
  width: calc( 100% - 273px );
  padding-left: 80px;
}
.intro__preview {
  top: -40px;
  right: -15px;
  width: calc( 100% - 492px - 52px);
  position: relative;
}
.intro__preview-title {
  font-size: 28px;
  font-weight: 700;
  line-height: 38px;
  margin-bottom: 50px;
  display: none;
}
.intro__img {
  width: 780px;
}
.intro__shape {
  z-index: -1;
  width: 654px;
  top: 55px;
  left: 125px;
  position: absolute;
}
.intro__circle-item {
  position: absolute;
}
.intro__circle-item:nth-of-type(1) {
  z-index: -1;
  top: -30px;
  left: -75px;
}
.intro__circle-item:nth-of-type(2) {
  z-index: -1;
  left: 50%;
  bottom: 140px;
  transform: translateX(-50%);
  margin-left: -40px;
}
.intro__circle-item:nth-of-type(3) {
  top: -60px;
  right: -245px;
}
.intro__circle-item:nth-of-type(4) {
  right: -400px;
  bottom: -75px;
}
.intro__stat {
  z-index: 1;
  width: 533px;
  margin-left: auto;
  position: relative;
}
.intro__stat-item {
  width: 100%;
  max-width: 115px;
  position: relative;
}
.intro__stat-item:before {
  content: "";
  top: 0;
  left: 0;
  height: 1px;
  background: url("../../sys/imgs/line.svg") repeat-x;
  opacity: 0.8;
  background-size: contain;
  position: absolute;
}
.intro__stat-item:nth-of-type(1) {
  margin-left: 145px;
}
.intro__stat-item:nth-of-type(2) {
  margin-top: -118px;
  margin-left: auto;
}
.intro__stat-item:nth-of-type(3) {
  margin-top: -60px;
  margin-left: 3px;
}
.intro__stat-item.wide {
  max-width: 143px;
}
.intro__stat-item.wide .intro__stat-value {
  width: 143px;
  height: 143px;
}
.intro__stat-item.sm .intro__stat-value {
  font-size: 30px;
}
.intro__stat-value {
  font-size: 40px;
  font-weight: 700;
  width: 115px;
  height: 115px;
  margin-bottom: 12px;
  border-radius: 50%;
  color: #09B559;
  background: #fff;
  box-shadow: -5px -4px 22px rgba(255, 255, 255, 0.25), 0px 4px 14px rgba(15, 79, 45, 0.12);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.intro__stat-text {
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}
.intro.--ux {
  padding: 96px 0 6px;
}
.intro.--ux .intro__info {
  width: 590px;
}
.intro.--ux .intro__title {
  margin-bottom: 36px;
}
.intro.--ux .intro__subtitle {
  margin-bottom: 40px;
}
.intro.--ux .intro__fields {
  max-width: 482px;
}
.intro.--ux .intro__preview {
  width: calc( 100% - 590px - 52px);
  top: -48px;
  right: -25px;
}
.intro.--ux .intro__shape {
  top: 28px;
  left: 15px;
}
.intro.--ux .intro__circle-item:nth-of-type(1) {
  top: -64px;
}
.intro.--ux .intro__circle-item:nth-of-type(2) {
  bottom: 220px;
}
.intro.--ux .intro__circle-item:nth-of-type(3) {
  top: -97px;
}
.intro.--ux .intro__circle-item:nth-of-type(4) {
  bottom: 15px;
}
.intro.--about {
  padding: 96px 0 83px;
}
.intro.--about .intro__info {
  width: 690px;
  margin-left: 0;
}
.intro.--about .intro__title {
  margin-bottom: 33px;
}
.intro.--about .intro__desc {
  margin-left: 3px;
  margin-bottom: 35px;
}
.intro.--about .intro__text {
  margin-left: 3px;
}
.intro.--about .intro__preview {
  top: 0;
  right: 0;
  width: calc( 100% - 690px );
}
.intro.--about .intro__stat-item:nth-of-type(1):before {
  top: 88px;
  left: 140px;
  width: 79px;
  transform: rotate(18deg);
}
.intro.--about .intro__stat-item:nth-of-type(2):before {
  top: 150px;
  left: -255px;
  width: 231px;
  transform: rotate(-18deg);
}
.intro.--about .intro__stat-item:nth-of-type(3):before {
  display: none;
}
.intro.--about .intro__shape {
  top: -60px;
  left: 40px;
  width: 510px;
}
.intro.--about .intro__circle-item:nth-of-type(1) {
  top: -65px;
}
.intro.--about .intro__circle-item:nth-of-type(2) {
  bottom: -20px;
}
.intro.--about .intro__circle-item:nth-of-type(3) {
  top: -96px;
}
.intro.--about .intro__circle-item:nth-of-type(4) {
  width: 205px;
  height: 205px;
  border-radius: 50%;
  right: 34px;
  bottom: -70px;
  background: linear-gradient(149.21deg, rgba(255, 255, 255, 0.42) 2%, rgba(255, 255, 255, 0) 87.78%);
}

@media screen and (max-width: 1360px) {
  .intro__info {
    margin-left: 0;
  }
  .intro__preview {
    width: calc( 100% - 492px );
  }
  .intro__stat {
    width: 490px;
  }
  .intro.--about .intro__stat-item:nth-of-type(1):before {
    left: 125px;
    width: 70px;
  }
  .intro.--about .intro__stat-item:nth-of-type(2):before {
    left: -222px;
    width: 220px;
  }
}
@media screen and (max-width: 1220px) {
  .intro {
    padding: 50px 0 80px;
  }
  .intro__info {
    width: 430px;
  }
  .intro__desc {
    max-width: 400px;
  }
  .intro__btn {
    font-size: 16px;
    max-width: 250px;
  }
  .intro__check {
    width: calc( 100% - 250px );
    padding-left: 50px;
  }
  .intro__preview {
    top: 0;
    width: calc( 100% - 430px );
  }
  .intro__img {
    top: 50px;
    left: -70px;
    width: 620px;
    position: relative;
    pointer-events: none;
  }
  .intro__shape {
    top: 0;
    left: 0;
    width: 580px;
  }
  .intro__circle-item:nth-of-type(1) {
    width: 200px;
    height: 200px;
    top: -40px;
    left: -100px;
  }
  .intro__circle-item:nth-of-type(2) {
    display: none;
  }
  .intro__circle-item:nth-of-type(3) {
    display: none;
  }
  .intro__circle-item:nth-of-type(4) {
    width: 150px;
    height: 150px;
    right: -50px;
    bottom: -90px;
  }
  .intro__stat {
    width: 430px;
  }
  .intro.--ux {
    padding: 70px 0 80px;
  }
  .intro.--ux .intro__info {
    width: 430px;
  }
  .intro.--ux .intro__desc {
    max-width: 100%;
  }
  .intro.--ux .intro__desc br {
    display: none;
  }
  .intro.--ux .intro__preview {
    right: -70px;
    width: calc( 100% - 500px );
  }
  .intro.--ux .intro__img {
    width: 570px;
    left: -50px;
  }
  .intro.--ux .intro__shape {
    top: 78px;
  }
  .intro.--ux .intro__circle-item:nth-of-type(4) {
    bottom: 0;
  }
  .intro.--about {
    padding: 70px 0 80px;
  }
  .intro.--about .intro__info {
    width: 490px;
  }
  .intro.--about .intro__desc {
    max-width: 490px;
  }
  .intro.--about .intro__text br {
    display: none;
  }
  .intro.--about .intro__preview {
    width: calc( 100% - 490px );
  }
  .intro.--about .intro__stat-item:nth-of-type(1) {
    margin-left: 120px;
  }
  .intro.--about .intro__stat-item:nth-of-type(1):before {
    top: 110px;
    transform: rotate(28deg);
  }
  .intro.--about .intro__stat-item:nth-of-type(2) {
    margin-top: -40px;
  }
  .intro.--about .intro__stat-item:nth-of-type(2):before {
    top: 130px;
    left: -155px;
    width: 150px;
  }
  .intro.--about .intro__stat-item:nth-of-type(3) {
    margin-top: -100px;
  }
  .intro.--about .intro__shape {
    top: 0;
    left: 0;
    width: 460px;
  }
  .intro.--about .intro__circle-item:nth-of-type(2) {
    width: 120px;
    height: 120px;
    bottom: -80px;
    display: block;
  }
  .intro.--about .intro__circle-item:nth-of-type(4) {
    width: 150px;
    height: 150px;
  }
}
@media screen and (max-width: 992px) {
  .intro__subtitle {
    margin-bottom: 25px;
  }
  .intro__arrow {
    margin-bottom: 25px;
  }
  .intro__circle-item:nth-of-type(1) {
    width: 150px;
    height: 150px;
  }
  .intro__circle-item:nth-of-type(4) {
    width: 120px;
    height: 120px;
  }
  .intro__stat {
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .intro.--ux {
    padding: 60px 0 70px;
  }
  .intro.--ux .intro__info {
    width: 400px;
  }
  .intro.--ux .intro__subtitle {
    margin-bottom: 30px;
  }
  .intro.--ux .intro__preview {
    top: 0;
    right: -20px;
    width: calc( 100% - 400px );
  }
  .intro.--ux .intro__img {
    top: 0;
    left: 0;
    width: 480px;
  }
  .intro.--ux .intro__shape {
    top: 0;
    left: 0;
    width: 510px;
  }
  .intro.--ux .intro__circle-item:nth-of-type(4) {
    bottom: -40px;
  }
  .intro.--about {
    padding: 60px 0 70px;
  }
  .intro.--about .intro__info {
    width: 100%;
    margin-bottom: 40px;
  }
  .intro.--about .intro__title {
    margin-bottom: 25px;
  }
  .intro.--about .intro__desc {
    margin-left: 0;
    margin-bottom: 25px;
  }
  .intro.--about .intro__text {
    margin-left: 0;
    max-width: 670px;
  }
  .intro.--about .intro__preview {
    width: 100%;
  }
  .intro.--about .intro__stat-item:before {
    display: none;
  }
  .intro.--about .intro__stat-item:nth-of-type(1) {
    margin-left: 0;
  }
  .intro.--about .intro__stat-item:nth-of-type(2) {
    margin-top: 0;
    margin-left: 0;
  }
  .intro.--about .intro__stat-item:nth-of-type(3) {
    margin-top: 0;
    margin-left: 0;
  }
  .intro.--about .intro__shape {
    top: -370px;
    left: 440px;
  }
  .intro.--about .intro__circle-item:nth-of-type(2) {
    left: 120px;
    bottom: 90px;
  }
  .intro.--about .intro__circle-item:nth-of-type(4) {
    right: -40px;
    bottom: 100px;
  }
}
@media screen and (max-width: 767px) {
  .intro {
    padding: 25px 0 70px;
  }
  .intro__form {
    width: 100%;
    max-width: 320px;
  }
  .intro__actions {
    margin-top: 28px;
    flex-direction: column;
    align-items: flex-start;
  }
  .intro__btn {
    max-width: 100%;
    margin-bottom: 25px;
  }
  .intro__check {
    width: 100%;
    padding-left: 0;
  }
  .intro__img {
    left: -170px;
    width: 500px;
  }
  .intro__shape {
    top: 30px;
    left: -130px;
    width: 420px;
  }
  .intro__circle-item:nth-of-type(1) {
    width: 135px;
    height: 135px;
    top: -30px;
    left: -80px;
  }
  .intro__circle-item:nth-of-type(4) {
    width: 130px;
    height: 130px;
    bottom: -70px;
  }
  .intro.--ux {
    padding: 25px 0 70px;
  }
  .intro.--ux .intro__info {
    width: 330px;
  }
  .intro.--ux .intro__subtitle {
    max-width: 280px;
  }
  .intro.--ux .intro__btn {
    margin-bottom: 0;
  }
  .intro.--ux .intro__preview {
    top: 30px;
    right: 10px;
    width: calc( 100% - 330px );
  }
  .intro.--ux .intro__img {
    width: 430px;
  }
  .intro.--ux .intro__shape {
    top: 30px;
    width: 420px;
  }
  .intro.--ux .intro__circle-item:nth-of-type(1) {
    top: -30px;
  }
  .intro.--about {
    padding: 25px 0 70px;
  }
  .intro.--about .intro__circle-item:nth-of-type(1) {
    top: -30px;
  }
}
@media screen and (max-width: 580px) {
  .intro {
    padding: 22px 0 80px;
    background: #fff;
  }
  .intro__title {
    margin-bottom: 11px;
  }
  .intro__subtitle {
    width: calc( 100% - 37px );
    padding-right: 120px;
  }
  .intro__arrow {
    right: 0;
    margin-top: -68px;
    position: absolute;
  }
  .intro__form {
    max-width: 100%;
    padding-top: 20px;
    border-top: 1px solid #CCCCCC;
  }
  .intro__desc {
    margin-bottom: 11px;
    padding-right: 50px;
  }
  .intro__text {
    font-size: 15px;
    line-height: 24px;
  }
  .intro__input {
    margin-bottom: 14px;
  }
  .intro__btn {
    font-size: 18px;
  }
  .intro__img {
    display: none;
  }
  .intro__shape {
    display: none;
  }
  .intro__circle {
    display: none;
  }
  .intro__stat-item {
    max-width: 100% !important;
    margin-bottom: 23px;
  }
  .intro__stat-item:last-of-type {
    margin-bottom: 0;
  }
  .intro__stat-value {
    font-family: "Roboto", sans-serif;
    font-size: 50px !important;
    margin-bottom: 32px;
    width: auto !important;
    height: auto !important;
    border-radius: 0;
    box-shadow: none;
    background: transparent;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
  }
  .intro__stat-value:before, .intro__stat-value:after {
    content: "";
    position: absolute;
    background: #09B559;
    left: 0;
  }
  .intro__stat-value:before {
    width: 100%;
    height: 1px;
    bottom: -15px;
  }
  .intro__stat-value:after {
    width: 16px;
    height: 16px;
    bottom: -22px;
    border-radius: 50%;
  }
  .intro__stat-text {
    font-size: 17px;
    font-weight: 400;
    text-align: left;
    max-width: 150px;
  }
  .intro.--ux {
    padding: 22px 0 80px;
  }
  .intro.--ux .intro__info {
    width: 100%;
  }
  .intro.--ux .intro__title {
    margin-bottom: 38px;
  }
  .intro.--ux .intro__subtitle {
    width: 100%;
    max-width: 100%;
    padding-right: 80px;
    margin-bottom: 22px;
  }
  .intro.--ux .intro__preview {
    display: none;
  }
  .intro.--about {
    padding: 22px 0 0;
  }
  .intro.--about .intro__preview {
    z-index: 1;
    color: #fff;
    background: #272727;
    padding: 40px 0 74px;
  }
  .intro.--about .intro__preview:before {
    z-index: -1;
    content: "";
    width: 150%;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #272727;
    position: absolute;
  }
  .intro.--about .intro__preview-title {
    color: #fff;
    display: block;
  }
  .intro.--about .intro__stat {
    max-width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (max-width: 390px) {
  .intro__subtitle {
    margin-bottom: 17px;
    padding-right: 70px;
  }
  .intro__arrow {
    margin-top: -62px;
  }
  .intro__form {
    padding-top: 14px;
  }
  .intro__desc {
    padding-right: 0;
  }
  .intro__preview-title {
    font-size: 26px;
  }
  .intro.--about .intro__info {
    margin-bottom: 53px;
  }
  .intro.--about .intro__title {
    margin-bottom: 23px;
  }
  .intro.--about .intro__desc {
    line-height: 27px;
    margin-bottom: 23px;
  }
  .intro.--about .intro__desc u {
    display: block;
  }
  .intro.--about .intro__text {
    font-size: 14px;
  }
  .intro.--about .intro__stat-value {
    padding-left: 26px;
  }
  .intro.--about .intro__stat-text {
    font-size: 14px;
    line-height: 22px;
    padding-left: 26px;
  }
}