@import ../../sys/sass/vars

.intro
	padding: 60px 0 99px
	background: $grad-green-horz
	&__wrap
		display: flex
		flex-wrap: wrap
		position: relative
	&__info
		width: 492px
		margin-left: 52px
	&__title
		margin-bottom: 15px
	&__subtitle
		margin-bottom: 30px
	&__arrow
		width: 37px
		height: 37px
		margin-bottom: 35px
		background: $green
		border: 1px solid $green
		transition: .3s
		display: flex
		align-items: center
		justify-content: center
		cursor: pointer
		&:hover
			background: transparent
			svg
				path
					fill: $green
	&__desc
		margin-bottom: 18px
	&__input
		margin-bottom: 17px
		&:last-of-type
			margin-bottom: 0
	&__actions
		display: flex
		flex-wrap: wrap
		align-items: center
		margin-top: 33px
	&__btn
		font-size: 18px
		font-weight: 400
		max-width: 273px
	&__check
		width: calc( 100% - 273px )
		padding-left: 80px
	&__preview
		top: -40px
		right: -15px
		width: calc( 100% - 492px - 52px)
		position: relative
	&__img
		width: 780px
	&__shape
		z-index: -1
		width: 654px
		top: 55px
		left: 125px
		position: absolute
	&__circle
		&-item
			position: absolute
			&:nth-of-type(1)
				z-index: -1
				top: -30px
				left: -75px
			&:nth-of-type(2)
				z-index: -1
				left: 50%
				bottom: 140px
				transform: translateX(-50%)
				margin-left: -40px
			&:nth-of-type(3)
				top: -60px
				right: -245px
			&:nth-of-type(4)
				right: -400px
				bottom: -75px

@media screen and (max-width: 1360px)
	.intro
		&__info
			margin-left: 0
		&__preview
			width: calc( 100% - 492px )

@media screen and (max-width: 1220px)
	.intro
		padding: 50px 0 80px
		&__info
			width: 430px
		&__desc
			max-width: 400px
		&__btn
			font-size: 16px
			max-width: 250px
		&__check
			width: calc( 100% - 250px )
			padding-left: 50px
		&__preview
			top: 0
			width: calc( 100% - 430px )
		&__img
			top: 50px
			left: -70px
			width: 620px
			position: relative
			pointer-events: none
		&__shape
			top: 0
			left: 0
			width: 580px
		&__circle
			&-item
				&:nth-of-type(1)
					width: 200px
					height: 200px
					top: -40px
					left: -100px
				&:nth-of-type(2)
					display: none
				&:nth-of-type(3)
					display: none
				&:nth-of-type(4)
					width: 150px
					height: 150px
					right: -50px
					bottom: -90px

@media screen and (max-width: 992px)
	// .intro

@media screen and (max-width: 767px)
	// .intro
