.intro {
  padding: 62px 0 97px;
  background: linear-gradient(107.58deg, rgba(252, 252, 252, 0) 37.26%, rgba(9, 181, 89, 0.68) 84.78%);
}
.intro__wrap {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.intro__info {
  width: 492px;
  margin-left: 52px;
}
.intro__title {
  margin-bottom: 13px;
}
.intro__subtitle {
  margin-bottom: 30px;
}
.intro__arrow {
  width: 37px;
  height: 37px;
  margin-bottom: 35px;
  background: #09B559;
  border: 1px solid #09B559;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.intro__arrow:hover {
  background: transparent;
}
.intro__arrow:hover svg path {
  fill: #09B559;
}
.intro__desc {
  margin-bottom: 18px;
}
.intro__input {
  margin-bottom: 17px;
}
.intro__input:last-of-type {
  margin-bottom: 0;
}
.intro__actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 33px;
}
.intro__btn {
  font-size: 18px;
  font-weight: 400;
  max-width: 273px;
}
.intro__check {
  width: calc( 100% - 273px );
  padding-left: 80px;
}
.intro__preview {
  top: -40px;
  right: -15px;
  width: calc( 100% - 492px - 52px);
  position: relative;
}
.intro__img {
  width: 780px;
}
.intro__shape {
  z-index: -1;
  width: 654px;
  top: 55px;
  left: 125px;
  position: absolute;
}
.intro__circle-item {
  position: absolute;
}
.intro__circle-item:nth-of-type(1) {
  z-index: -1;
  top: -30px;
  left: -75px;
}
.intro__circle-item:nth-of-type(2) {
  z-index: -1;
  left: 50%;
  bottom: 140px;
  transform: translateX(-50%);
  margin-left: -40px;
}
.intro__circle-item:nth-of-type(3) {
  top: -60px;
  right: -245px;
}
.intro__circle-item:nth-of-type(4) {
  right: -400px;
  bottom: -75px;
}