.pros {
  color: #fff;
  background: #272727;
  padding: 87px 0 158px;
}
.pros__title {
  text-align: center;
  margin-left: 30px;
  margin-bottom: 83px;
}
.pros__list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1180px;
  margin: 0 auto;
}
.pros__item {
  width: calc( 100% / 3 );
  position: relative;
}
.pros__item:before, .pros__item:after {
  content: "";
  background: #09B559;
  position: absolute;
  transition: 0.7s;
}
.pros__item:before {
  top: 66px;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
.pros__item:after {
  top: 72px;
  left: 10px;
  width: 100%;
  height: 1px;
}
.pros__item:nth-of-type(2) {
  right: -10px;
}
.pros__item:nth-of-type(3) {
  right: -20px;
}
.pros__name {
  color: #09B559;
  font-size: 50px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  line-height: 59px;
  padding-left: 25px;
  margin-bottom: 33px;
}
.pros__text {
  padding-left: 25px;
  line-height: 25px;
}
.pros.--bitrix {
  padding: 87px 0 211px;
}
.pros.--bitrix .pros__title {
  margin-left: 0;
  margin-bottom: 81px;
}
.pros.--bitrix .pros__list {
  max-width: 1143px;
}
.pros.--bitrix .pros__item {
  width: calc( 100% / 4 );
}
.pros.--bitrix .pros__item:nth-of-type(2) {
  right: -6px;
}
.pros.--bitrix .pros__item:nth-of-type(3) {
  right: -4px;
}
.pros.--bitrix .pros__item:nth-of-type(4) {
  right: -4px;
}

@media screen and (max-width: 1220px) {
  .pros {
    padding: 80px 0 150px;
  }
  .pros__list {
    max-width: 100%;
  }
  .pros__item:nth-of-type(2) {
    right: 10px;
  }
  .pros__item:nth-of-type(3) {
    right: 0;
  }
  .pros__name {
    font-size: 48px;
  }
  .pros.--bitrix {
    padding: 80px 0 150px;
  }
  .pros.--bitrix .pros__item:nth-of-type(3) {
    right: 15px;
  }
  .pros.--bitrix .pros__item:nth-of-type(4) {
    right: 15px;
  }
  .pros.--bitrix .pros__name {
    font-size: 42px;
  }
}
@media screen and (max-width: 992px) {
  .pros {
    padding: 60px 0 130px;
  }
  .pros__title {
    margin-bottom: 60px;
  }
  .pros__name {
    font-size: 42px;
  }
  .pros__text {
    font-size: 15px;
    line-height: 22px;
  }
  .pros.--bitrix {
    padding: 60px 0 130px;
  }
  .pros.--bitrix .pros__title {
    margin-bottom: 60px;
  }
  .pros.--bitrix .pros__list {
    margin-bottom: -40px;
  }
  .pros.--bitrix .pros__item {
    width: 50%;
    margin-bottom: 40px;
    right: 0 !important;
  }
}
@media screen and (max-width: 767px) {
  .pros {
    padding: 50px 0 100px;
  }
  .pros__title {
    margin-bottom: 50px;
    margin-left: 0;
    text-align: left;
  }
  .pros__list {
    flex-direction: column;
  }
  .pros__item {
    width: 100%;
    margin-bottom: 30px;
  }
  .pros__item:after {
    left: 0;
  }
  .pros__item:nth-of-type(2) {
    right: 0;
  }
  .pros__item:last-of-type {
    margin-bottom: 0;
  }
  .pros__name {
    font-size: 50px;
  }
  .pros__text {
    padding-right: 100px;
  }
  .pros__text br {
    display: none;
  }
  .pros.--bitrix {
    padding: 50px 0 100px;
  }
  .pros.--bitrix .pros__title {
    margin-bottom: 50px;
  }
  .pros.--bitrix .pros__list {
    margin-bottom: 0;
  }
  .pros.--bitrix .pros__item {
    width: 100%;
    margin-bottom: 30px;
  }
  .pros.--bitrix .pros__item:last-of-type {
    margin-bottom: 0;
  }
  .pros.--bitrix .pros__name {
    font-size: 50px;
  }
}
@media screen and (max-width: 580px) {
  .pros {
    padding: 40px 0 69px;
  }
  .pros__title {
    max-width: 210px;
  }
  .pros__text {
    padding-right: 30px;
  }
  .pros.--bitrix {
    padding: 40px 0 69px;
  }
}
@media screen and (max-width: 390px) {
  .pros__item {
    margin-bottom: 22px;
  }
  .pros__item:after {
    top: 74px;
  }
  .pros__text {
    font-size: 14px;
    line-height: 23px;
    padding-right: 11px;
  }
  .pros__text br {
    display: block;
  }
}