extends ../../templates/default
block vars
	-
		title = "UX/UI"

block content

	+style('intro', 'blocks')
	.intro.--ux
		.case
			.intro__wrap
				.intro__info
					.intro__title.h1 #[h1 Дизайн сложных интерфейсов]
					.intro__subtitle.t1 Проектируем и создаём IT-системы, а не просто набор экранов
					form.intro__form
						.intro__desc.h6 #[h6 Напишите нам и мы проанализируем Вашу сферу и #[br]подберём наилучший вариант сайта для вашего бизнеса]
						.intro__fields
							.intro__inputs
								.intro__input.input.--b-black.--required.--name
									.input__wrap
										input.input__area(type="text" name="name" placeholder="Имя" autocomplete="off")
								.intro__input.input.--b-black.--required.--tel
									.input__wrap
										input.input__area(type="tel" name="tel" placeholder="Телефон" autocomplete="off")
							.intro__actions
								button.intro__btn.btn.--green.--h-dark.--sm Получить предложение
									<svg width="22" height="8" viewBox="0 0 22 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.3536 4.35355C21.5488 4.15829 21.5488 3.84171 21.3536 3.64645L18.1716 0.464466C17.9763 0.269204 17.6597 0.269204 17.4645 0.464466C17.2692 0.659728 17.2692 0.976311 17.4645 1.17157L20.2929 4L17.4645 6.82843C17.2692 7.02369 17.2692 7.34027 17.4645 7.53553C17.6597 7.7308 17.9763 7.7308 18.1716 7.53553L21.3536 4.35355ZM0 4.5H21V3.5H0V4.5Z" fill="white"/></svg>
				.intro__preview
					.intro__img
						img(src="_/uploads/ux-img.svg", alt="")
					.intro__shape
						img(src="_/uploads/intro-shape.png", alt="")
				.intro__circle
					.intro__circle-item
						img(src="_/uploads/intro-circle.png", alt="")
					.intro__circle-item
						img(src="_/uploads/intro-circle-2.png", alt="")
					.intro__circle-item
						img(src="_/uploads/intro-circle-3.png", alt="")
					.intro__circle-item
						img(src="_/uploads/intro-circle-4.png", alt="")

	+style('interface', 'blocks')
	include ../../blocks/interface/interface

	+style('solve', 'blocks')
	include ../../blocks/solve/solve