.pay {
  margin-top: -14px;
  padding-bottom: 92px;
}
.pay__text {
  text-align: justify;
  margin-left: 5px;
  margin-bottom: 55px;
}
.pay__text a {
  color: #09B559;
  border-bottom: 1px solid #09B559;
}
.pay__text a:hover {
  border-color: transparent;
}
.pay__subtitle {
  font-weight: 700;
  margin-bottom: 42px;
  margin-left: 5px;
}
.pay__wrap {
  display: flex;
  flex-wrap: wrap;
}
.pay__form {
  width: 664px;
  background: #fff;
  padding: 25px 30px 48px;
  box-shadow: 0px 4px 19px rgba(39, 39, 39, 0.08);
}
.pay__field {
  margin-bottom: 17px;
}
.pay__field:last-of-type {
  margin-bottom: 0;
}
.pay__note {
  font-size: 14px;
  line-height: 22px;
  margin-top: 20px;
}
.pay__note p {
  margin-bottom: 10px;
}
.pay__note p:last-of-type {
  margin-bottom: 0;
}
.pay__btn {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
  max-width: 155px;
}
.pay__img {
  max-width: 592px;
  margin-top: 30px;
  margin-right: -90px;
  margin-left: auto;
}

@media screen and (max-width: 1360px) {
  .pay__wrap {
    align-items: center;
  }
  .pay__form {
    width: 630px;
  }
  .pay__img {
    margin-top: 0;
    max-width: 560px;
  }
}
@media screen and (max-width: 1220px) {
  .pay__form {
    width: 500px;
  }
  .pay__img {
    max-width: 480px;
  }
}
@media screen and (max-width: 992px) {
  .pay__text {
    margin-bottom: 40px;
  }
  .pay__form {
    width: 100%;
  }
  .pay__img {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .pay {
    padding-bottom: 84px;
  }
  .pay__text {
    margin-left: 0;
    margin-bottom: 30px;
  }
  .pay__subtitle {
    margin-left: 0;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 580px) {
  .pay {
    margin-top: -10px;
  }
  .pay__form {
    padding: 20px 20px 30px;
  }
  .pay__field {
    margin-bottom: 13px;
  }
  .pay__note {
    font-size: 13px;
    line-height: 19px;
  }
}
@media screen and (max-width: 390px) {
  .pay {
    margin-top: 0;
  }
  .pay__text {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 17px;
  }
  .pay__subtitle {
    font-size: 14px;
    line-height: 22px;
  }
  .pay__form {
    padding: 18px 12px 30px;
  }
  .pay__note {
    font-size: 12px;
    margin-top: 15px;
  }
  .pay__note p {
    margin-bottom: 4px;
  }
  .pay__btn {
    max-width: 165px;
  }
}