.pay {
  margin-top: -14px;
  padding-bottom: 92px;
}
.pay__text {
  text-align: justify;
  margin-left: 5px;
  margin-bottom: 55px;
}
.pay__text a {
  color: #09B559;
  border-bottom: 1px solid #09B559;
}
.pay__text a:hover {
  border-color: transparent;
}
.pay__subtitle {
  font-weight: 700;
  margin-bottom: 42px;
  margin-left: 5px;
}
.pay__wrap {
  display: flex;
  flex-wrap: wrap;
}
.pay__form {
  width: 664px;
  background: #fff;
  padding: 25px 30px 48px;
  box-shadow: 0px 4px 19px rgba(39, 39, 39, 0.08);
}
.pay__field {
  margin-bottom: 17px;
}
.pay__field:last-of-type {
  margin-bottom: 0;
}
.pay__note {
  font-size: 14px;
  line-height: 22px;
  margin-top: 20px;
}
.pay__note p {
  margin-bottom: 10px;
}
.pay__note p:last-of-type {
  margin-bottom: 0;
}
.pay__note a:hover {
  color: #09B559;
}
.pay__btn {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
  max-width: 155px;
}
.pay__preview {
  max-width: 592px;
  margin-left: auto;
  position: relative;
}
.pay__img {
  margin-top: 95px;
  margin-right: -88px;
}
.pay__circle-item {
  border-radius: 50%;
  position: absolute;
}
.pay__circle-item:nth-of-type(1) {
  width: 81px;
  height: 81px;
  top: 30px;
  left: -38px;
  background: linear-gradient(149.21deg, #09B559 2%, rgba(9, 181, 89, 0.22) 87.78%);
}
.pay__circle-item:nth-of-type(2) {
  width: 52px;
  height: 52px;
  top: 125px;
  left: 38px;
  background: linear-gradient(149.21deg, rgba(9, 181, 89, 0.74) 2%, rgba(9, 181, 89, 0.22) 87.78%);
  opacity: 42%;
}
.pay__circle-item:nth-of-type(3) {
  width: 205px;
  height: 205px;
  right: -80px;
  bottom: 150px;
  background: #fff;
  opacity: 40%;
}

@media screen and (max-width: 1360px) {
  .pay__wrap {
    align-items: center;
  }
  .pay__form {
    width: 630px;
  }
  .pay__preview {
    max-width: 560px;
  }
  .pay__circle-item:nth-of-type(1) {
    top: 30px;
    left: -30px;
  }
  .pay__circle-item:nth-of-type(3) {
    bottom: 0;
  }
}
@media screen and (max-width: 1220px) {
  .pay__form {
    width: 500px;
  }
  .pay__preview {
    max-width: 400px;
  }
  .pay__img {
    margin-top: 0;
    margin-right: -50px;
  }
  .pay__circle-item.move {
    transform: none !important;
  }
  .pay__circle-item:nth-of-type(1) {
    top: -80px;
    left: 60px;
  }
  .pay__circle-item:nth-of-type(2) {
    top: 0;
    left: 30px;
  }
  .pay__circle-item:nth-of-type(3) {
    bottom: -50px;
    right: -50px;
  }
}
@media screen and (max-width: 992px) {
  .pay__text {
    margin-bottom: 40px;
  }
  .pay__form {
    width: 100%;
  }
  .pay__preview {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .pay {
    padding-bottom: 84px;
  }
  .pay__text {
    margin-left: 0;
    margin-bottom: 30px;
  }
  .pay__subtitle {
    margin-left: 0;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 580px) {
  .pay {
    margin-top: -10px;
  }
  .pay__form {
    padding: 20px 20px 30px;
  }
  .pay__field {
    margin-bottom: 13px;
  }
  .pay__note {
    font-size: 13px;
    line-height: 19px;
  }
}
@media screen and (max-width: 390px) {
  .pay {
    margin-top: 0;
  }
  .pay__text {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 17px;
  }
  .pay__subtitle {
    font-size: 14px;
    line-height: 22px;
  }
  .pay__form {
    padding: 18px 12px 30px;
  }
  .pay__note {
    font-size: 12px;
    margin-top: 15px;
  }
  .pay__note p {
    margin-bottom: 4px;
  }
  .pay__btn {
    max-width: 165px;
  }
}