@import ../../sys/sass/vars

.pay
	margin-top: -14px
	padding-bottom: 92px
	&__text
		text-align: justify
		margin-left: 5px
		margin-bottom: 55px
		a
			color: $green
			border-bottom: 1px solid $green
			&:hover
				border-color: transparent
	&__subtitle
		font-weight: 700
		margin-bottom: 42px
		margin-left: 5px
	&__wrap
		display: flex
		flex-wrap: wrap
	&__form
		width: 664px
		background: #fff
		padding: 25px 30px 48px
		box-shadow: 0px 4px 19px rgba($main, 0.08)
	&__field
		margin-bottom: 17px
		&:last-of-type
			margin-bottom: 0
	&__note
		font-size: 14px
		line-height: 22px
		margin-top: 20px
		p
			margin-bottom: 10px
			&:last-of-type
				margin-bottom: 0
		a
			&:hover
				color: $green
	&__btn
		margin-top: 20px
		font-size: 18px
		font-weight: 400
		max-width: 155px
	&__preview
		max-width: 592px
		margin-left: auto
		position: relative
	&__img
		margin-top: 95px
		margin-right: -88px
	&__circle
		&-item
			border-radius: 50%
			position: absolute
			&:nth-of-type(1)
				width: 81px
				height: 81px
				top: 30px
				left: -38px
				background: linear-gradient(149.21deg, #09B559 2%, rgba(9, 181, 89, 0.22) 87.78%)
			&:nth-of-type(2)
				width: 52px
				height: 52px
				top: 125px
				left: 38px
				background: linear-gradient(149.21deg, rgba(9, 181, 89, 0.74) 2%, rgba(9, 181, 89, 0.22) 87.78%)
				opacity: 42%
			&:nth-of-type(3)
				width: 205px
				height: 205px
				right: -80px
				bottom: 150px
				background: #fff
				opacity: 40%

@media screen and (max-width: 1360px)
	.pay
		&__wrap
			align-items: center
		&__form
			width: 630px
		&__preview
			max-width: 560px
		&__circle
			&-item
				&:nth-of-type(1)
					top: 30px
					left: -30px
				&:nth-of-type(3)
					bottom: 0

@media screen and (max-width: 1220px)
	.pay
		&__form
			width: 500px
		&__preview
			max-width: 400px
		&__img
			margin-top: 0
			margin-right: -50px
		&__circle
			&-item
				&.move
					transform: none !important
				&:nth-of-type(1)
					top: -80px
					left: 60px
				&:nth-of-type(2)
					top: 0
					left: 30px
				&:nth-of-type(3)
					bottom: -50px
					right: -50px

@media screen and (max-width: 992px)
	.pay
		&__text
			margin-bottom: 40px
		&__form
			width: 100%
		&__preview
			display: none

@media screen and (max-width: 767px)
	.pay
		padding-bottom: 84px
		&__text
			margin-left: 0
			margin-bottom: 30px
		&__subtitle
			margin-left: 0
			margin-bottom: 30px

@media screen and (max-width: 580px)
	.pay
		margin-top: -10px
		&__form
			padding: 20px 20px 30px
		&__field
			margin-bottom: 13px
		&__note
			font-size: 13px
			line-height: 19px

@media screen and (max-width: 390px)
	.pay
		margin-top: 0
		&__text
			font-size: 14px
			line-height: 22px
			margin-bottom: 17px
		&__subtitle
			font-size: 14px
			line-height: 22px
		&__form
			padding: 18px 12px 30px
		&__note
			font-size: 12px
			margin-top: 15px
			p
				margin-bottom: 4px
		&__btn
			max-width: 165px
