@import ../../sys/sass/vars

.solution
	padding: 87px 0 0
	&__title
		margin-bottom: 47px
		margin-left: 3px
	&__links
		margin-bottom: 28px
	&__link
		padding: 13px 12px
		&.--wide
			min-width: 230px
	&__list
		display: flex
		flex-wrap: wrap
		margin: 0 -25px -50px
	&__item
		width: calc( 100% / 3 - 50px )
		min-height: 238px
		margin: 0 25px 50px
		padding: 24px 22px 25px
		background: $gray
	&__name
		color: $green
		margin-bottom: 21px
	&__text
		line-height: 28px

@media screen and (max-width: 1220px)
	// .solution

@media screen and (max-width: 992px)
	// .solution

@media screen and (max-width: 767px)
	// .solution
