include ../../sys/pug/vars

.solution
	.case
		.solution__title.h3.an.fadeIn-up #[h3 Решения]
		.solution__links.t-links.swiper.an.fadeIn
			.t-links__current
				span
				img(src="_/uploads/icons/chevron-down.svg", alt="")
			.solution__links-wrap.t-links__wrap.swiper-wrapper
				.solution__link.t-links__item.swiper-slide.--wide.--active Интернет-магазин
				.solution__link.t-links__item.swiper-slide Корпоративный сайт
				.solution__link.t-links__item.swiper-slide Государство
				.solution__link.t-links__item.swiper-slide Медицина
				.solution__link.t-links__item.swiper-slide Образование
				.solution__link.t-links__item.swiper-slide 1С: Франчайзи
				.solution__link.t-links__item.swiper-slide Карты
				.solution__link.t-links__item.swiper-slide Сайт конференции
		.solution__list.an.fadeIn(data-timeout="0.2s")
			.solution__item
				.solution__name.h6 #[h6 Все инструменты для продаж]
				.solution__text Используйте все возможности, чтобы увеличить продажи своего магазина. Интеграция CRM, маркетинговые инструменты, аналитика, кконструктор лендингов
			.solution__item
				.solution__name.h6 #[h6 Интеграция с 1С]
				.solution__text Неприрывная двусторонняя связь между интернет магазином и 1С. Обмен данными в режиме реального времени
			.solution__item
				.solution__name.h6 #[h6 Соответствие ФЗ 54]
				.solution__text Подглючеие неограниченного числа касс к интернет-магазину. Распределение чеков на нескольких КХМ. Бесплатное Windows -приложение
			.solution__item
				.solution__name.h6 #[h6 Складской учет]
				.solution__text Управляйте товарами на складах. Складской колличественный учет. Документы, поставщики, отчеты, приход товара по штрих-коду.
			.solution__item
				.solution__name.h6 #[h6 Конструктор лендингов]
				.solution__text Создавайте красивые и современные лендинги для продвижения товаров и акций. Готовые шаблоны дизайна, полностью адаптивные для устроуйств.
